<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-2">
                <h5 class="heading-design">Tasks</h5>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-2">
                        <select (change)="SearchBy = $event.target.value" class="byselect">
                            <option>By Task</option>
                            <option>By User</option>
                        </select>
                    </div>
                    <div class="col-10">
                        <span *ngIf="SearchBy === 'By Task'">
                            <input type="text" class="form-controls col-9 searchbtn" id="searchtask"
                                placeholder="Search Task" #searchTaskText>
                            <button class="btn btn-primary btn-sm" id="searchbutton"
                                (click)="getSearchTask(searchTaskText.value, null)">Search</button>
                        </span>
                        <span *ngIf="SearchBy === 'By User'" style="display: flex;">
                            <auto-suggestion class="form-controls col-9 p-0 searchselect" id="users" [data]="adminList"
                                display="name" placeholder="Search Users" inputId="Users" name="Users" #searchByUserId>
                            </auto-suggestion>
                            <button class="btn btn-primary btn-sm" id="search"
                                (click)="getSearchTask(null,searchByUserId.selectedSuggestion.id)">Search</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-4 text-right">
                <div class="mr-4 outerbtn">
                    <div class="noticon">
                        <button class="btn btn-primary btn-sm allicons mr-3"
                            [ngClass]="{'orange': processTicketNotiSts['p_overdue'] || (processTicketNotiSts['p_overdue'] && processTicketNotiSts['p_count']), 'green': !processTicketNotiSts['p_overdue'] && processTicketNotiSts['p_count']}"
                            id="process" (click)="common.gotoPage('/pages/my-process')" title="Go To Process"><img
                                src="./assets/images/process.svg" alt="process">
                        </button>
                        <span class="count"
                            *ngIf="processTicketNotiSts['p_count']">{{processTicketNotiSts['p_count']}}</span>
                    </div>
                    <div class="noticon">
                        <button class="btn btn-primary btn-sm allicons mr-4"
                            [ngClass]="{'orange': processTicketNotiSts['overdue'] || (processTicketNotiSts['overdue'] && processTicketNotiSts['count']), 'green': !processTicketNotiSts['overdue'] && processTicketNotiSts['count']}"
                            id="ticket" (click)="common.gotoPage('/pages/ticket')" title="Go To Ticket"><i
                                class="fas fa-ticket-alt"></i></button>
                        <span class="count"
                            *ngIf="processTicketNotiSts['count']">{{processTicketNotiSts['count']}}</span>
                    </div>
                </div>
                <div class="fabsection">
                    <button class="btn btn-primary fab" title="Action Buttons" (click)="fabAction = !fabAction"><i
                            class="fas fa-ellipsis-v"></i></button>
                    <div class="text-right" [ngClass]="{'fshow': fabAction, 'fhide': !fabAction}">
                        <button class="btn btn-primary btn-sm allicons" id="addMeeting" title="Add Meeting"
                            (click)="applyLeave(2)"><i class="fas fa-users p-1" aria-hidden="true"></i></button>
                        <button class="btn btn-primary btn-sm allicons" id="addBroadcast" title="Add Broadcast"
                            (click)="applyLeave(1)"><i class="fa fa-bullhorn p-1" aria-hidden="true"></i></button>
                        <button class="btn btn-primary btn-sm leave allicons" id="applyleave" title="Apply Leave"
                            (click)="applyLeave(null)"><img src="./assets/images/leave.svg" alt="leave"></button>
                        <button class="btn btn-primary btn-sm allicons" id="st" title="Add Schedule Task"
                            (click)="openSchedukedTaskMasterModal()">
                            <img src="./assets/images/seduletask.svg" alt="Add Schedule Task">
                        </button>
                        <button class="btn btn-primary btn-sm allicons" id="p" title="Add Project"
                            (click)="showProjectPopup()">
                            <img src="./assets/images/addproject.svg" alt="Add Project">
                        </button>
                        <button class="btn btn-primary btn-sm allicons" id="taskpopup" title="Add Normal Task"
                            (click)="showTaskPopup()">
                            <img src="./assets/images/addtask.svg" alt="Add Normal Task"></button>
                    </div>

                </div>


            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <!-- Tabs      -->
        <div class="tabs_style_main">
            <ul class="tabs_style text-left">
                <li [ngClass]="activeTab=='TasksForMe'?'active':''"
                    (click)="activeTab='TasksForMe'; getTaskByType(101)">
                    Tasks For Me
                </li>
                <li [ngClass]="activeTab=='TasksByMe'?'active':''" (click)="activeTab='TasksByMe'; getTaskByType(-101)">
                    Tasks By Me
                </li>
                <li [ngClass]="activeTab=='ccTask'?'active':''" (click)="activeTab='ccTask'; getTaskByType(-5)">
                    CC Task
                </li>
                <li [ngClass]="activeTab=='projectTask'?'active':''"
                    (click)="activeTab='projectTask'; getTaskByType(-6)">
                    Project Task
                </li>
                <li [ngClass]="activeTab=='allCompletedTask'?'active':''"
                    (click)="activeTab='allCompletedTask';resetSearchTask(); getTaskByType(-102)">
                    Completed Task
                </li>
                <li [ngClass]="activeTab=='futureTaskByMe'?'active':''"
                    (click)="activeTab='futureTaskByMe'; getTaskByType(-7)">
                    Future Task
                </li>
                <!-- <li [ngClass]="activeTab=='todoList'?'active':''"
                    (click)="activeTab='todoList';activeSabTab = 0;resetSearchTask(); getTodoTaskList(0)">
                    ToDo List
                </li> -->
                <li [ngClass]="activeTab=='scheduleMaster'?'active':''"
                    (click)="activeTab='scheduleMaster'; getScheduledTask();todoVisi = false;">
                    Scheduled Task Master
                </li>
                <li [ngClass]="activeTab=='meeting'?'active':''"
                    (click)="activeTab='meeting'; resetSearchTask(); getMeetingListByType(1);todoVisi = false;">
                    Meeting
                </li>
                <li [ngClass]="activeTab=='unreadTaskByMe'?'active':''"
                    (click)="activeTab='unreadTaskByMe'; getTaskByType(-8); getProcessLeadByType(5);getTicketByType(102)">
                    Unread
                </li>
            </ul>
        </div>

        <div *ngIf="activeTab=='TasksForMe'">
            <ul class="tabs_style text-left">
                <li [ngClass]="!activeSabTab?'active':''" (click)="activeSabTab=0; filterTaskBySubTab(101,0)">
                    All
                </li>
                <li [ngClass]="activeSabTab==1?'active':''" (click)="activeSabTab=1; filterTaskBySubTab(101,1)">
                    Normal
                </li>
                <li [ngClass]="activeSabTab==2?'active':''" (click)="activeSabTab=2; filterTaskBySubTab(101,2)">
                    Scheduled
                </li>
                <li [ngClass]="activeSabTab==3?'active':''" (click)="activeSabTab=3; filterTaskBySubTab(101,3)">
                    Hold
                </li>
                <li [ngClass]="activeSabTab==4?'active':''" (click)="activeSabTab=4; filterTaskBySubTab(101,4)">
                    Leave
                </li>
            </ul>
            <smart-table *ngIf="normalTaskList.length!=0" [data]="tableNormal.data" [settings]="tableNormal.settings"
                id="normalTaskList" class="sl-smart-table">
            </smart-table>
        </div>
        <div *ngIf="activeTab=='TasksByMe'">
            <ul class="tabs_style text-left">
                <li [ngClass]="!activeSabTab?'active':''" (click)="activeSabTab=0; filterTaskBySubTab(-101,0)">
                    All
                </li>
                <li [ngClass]="activeSabTab==1?'active':''" (click)="activeSabTab=1; filterTaskBySubTab(-101,1)">
                    Normal
                </li>
                <li [ngClass]="activeSabTab==2?'active':''" (click)="activeSabTab=2; filterTaskBySubTab(-101,2)">
                    Scheduled
                </li>
                <li [ngClass]="activeSabTab==3?'active':''" (click)="activeSabTab=3; filterTaskBySubTab(-101,3)">
                    Hold
                </li>
                <li [ngClass]="activeSabTab==4?'active':''" (click)="activeSabTab=4; filterTaskBySubTab(-101,4)">
                    Leave
                </li>
            </ul>
            <smart-table *ngIf="normalTaskByMeList.length!=0" [data]="tableNormalTaskByMe.data"
                [settings]="tableNormalTaskByMe.settings" id="normalTaskByMeListx" class="sl-smart-table">
            </smart-table>
        </div>
        <div *ngIf="activeTab=='scheduleMaster'">
            <smart-table *ngIf="scheduleMasterList.length!=0" [data]="tableScheduleMaster.data"
                [settings]="tableScheduleMaster.settings" id="scheduleMasterList">
            </smart-table>
        </div>

        <div *ngIf="activeTab=='allCompletedTask'">
            <div class="row" style="z-index: 999;">
                <div class="col-4">
                    <uj-date-time-picker [isStart]="true" [isTime]="false" [dateTimeValue]="searchTask.startDate"
                        (onChanged)="searchTask.startDate=$event">
                    </uj-date-time-picker>
                </div>
                <div class="col-4">
                    <uj-date-time-picker [isStart]="true" [isTime]="false" [dateTimeValue]="searchTask.endDate"
                        (onChanged)="searchTask.endDate=$event">
                    </uj-date-time-picker>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary text-capitalize" (click)="searchAllCompletedTask()">Search</button>
                </div>
            </div>
            <smart-table *ngIf="allCompletedTaskList.length!=0" [data]="tableAllCompleted.data"
                [settings]="tableAllCompleted.settings" id="tableallCompletedTaskList" class="sl-smart-table">
            </smart-table>
        </div>
        <div *ngIf="activeTab=='ccTask'">
            <ul class="tabs_style text-left">
                <li [ngClass]="!activeSabTab?'active':''" (click)="activeSabTab=0; filterTaskBySubTab(-5,0)">
                    All
                </li>
                <li [ngClass]="activeSabTab==2?'active':''" (click)="activeSabTab=2; filterTaskBySubTab(-5,4)">
                    Leave
                </li>
            </ul>
            <smart-table *ngIf="ccTaskList.length!=0" [data]="tableCCTask.data" [settings]="tableCCTask.settings"
                id="tableCCTaskList" class="sl-smart-table">
            </smart-table>
        </div>
        <div *ngIf="activeTab=='projectTask'">
            <smart-table *ngIf="projectTaskList.length!=0" [data]="tableProjectTask.data"
                [settings]="tableProjectTask.settings" id="tableProjectTaskList">
            </smart-table>
        </div>
        <!-- <div *ngIf="activeTab=='todoList'">
            <div class="row mb-1">
                <div class="col-5">
                    <textarea row="3" cols="15" maxlength="2044" placeholder="Enter Description" id="todoDesc"
                        name="todoDesc" class="form-control" [(ngModel)]="taskTodoForm.desc" resize="true"
                        style="height: 40px!important;"></textarea>
                </div>
                <div class="col-3" style="z-index: 999;">
                    <uj-date-time-picker [mind]="minDateTodo" [isStart]="true" [isTime]="false"
                        (onChanged)="taskTodoForm.date=$event" [dateTimeValue]="taskTodoForm.date">
                    </uj-date-time-picker>
                </div>
                <div class="col-2">
                    <label>
                        <input type="checkbox" [checked]="taskTodoForm.isUrgent"
                            (change)="taskTodoForm.isUrgent = !taskTodoForm.isUrgent" style="vertical-align: middle;" />
                        High-Priority</label>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary btn-sm" id="savetodotask" (click)="saveTaskTodo()"
                        title="Save ToDo">save</button>
                    <button *ngIf="taskTodoForm.requestId>0" class="btn btn-primary btn-sm ml-2" id="resettodotask"
                        (click)="resetTaskTodoForm()" title="Reset">Reset</button>
                </div>
            </div>
            <ul class="tabs_style text-left">
                <li [ngClass]="!activeSabTab?'active':''" (click)="activeSabTab=0; getTodoTaskList(0)">
                    Pending
                </li>
                <li [ngClass]="activeSabTab==1?'active':''" (click)="activeSabTab=1; getTodoTaskList(1)">
                    Completed
                </li>
            </ul>
            <div *ngIf="activeSabTab==1" class="row" style="z-index: 999;">
                <div class="col-4">
                    <uj-date-time-picker [isStart]="true" [isTime]="false" [dateTimeValue]="searchTask.startDate"
                        (onChanged)="searchTask.startDate=$event">
                    </uj-date-time-picker>
                </div>
                <div class="col-4">
                    <uj-date-time-picker [isStart]="true" [isTime]="false" [dateTimeValue]="searchTask.endDate"
                        (onChanged)="searchTask.endDate=$event">
                    </uj-date-time-picker>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary text-capitalize" (click)="getTodoTaskList(1)">Search</button>
                </div>
            </div>
            <smart-table [data]="tableTaskTodoList.data" [settings]="tableTaskTodoList.settings" id="tableTaskTodoList"
                class="sl-smart-table">
            </smart-table>
        </div> -->
        <div *ngIf="activeTab=='futureTaskByMe'">
            <smart-table *ngIf="futureTaskByMeList.length!=0" [data]="tableFutureTaskByMeList.data"
                [settings]="tableFutureTaskByMeList.settings" id="tableFutureTaskForMeList">
            </smart-table>
        </div>
        <div *ngIf="activeTab=='meeting'">
            <ul class="tabs_style text-left">
                <li [ngClass]="activeSabTab==1?'active':''" (click)="activeSabTab=1; getMeetingListByType(1)">
                    Upcoming
                </li>
                <li [ngClass]="activeSabTab==2?'active':''" (click)="activeSabTab=1; getMeetingListByType(2)">
                    To Manage
                </li>
                <li [ngClass]="!activeSabTab?'active':''" (click)="activeSabTab=0; getMeetingListByType(0)">
                    Completed
                </li>
            </ul>
            <div *ngIf="!activeSabTab" class="row" style="z-index: 999;">
                <div class="col-4">
                    <uj-date-time-picker [maxd]="minDateTodo" [isStart]="true" [isTime]="false"
                        [dateTimeValue]="searchTask.startDate" (onChanged)="searchTask.startDate=$event">
                    </uj-date-time-picker>
                </div>
                <div class="col-4">
                    <uj-date-time-picker [maxd]="minDateTodo" [isStart]="true" [isTime]="false"
                        [dateTimeValue]="searchTask.endDate" (onChanged)="searchTask.endDate=$event">
                    </uj-date-time-picker>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary text-capitalize" (click)="getMeetingListByType(0)">Search</button>
                </div>
            </div>
            <smart-table *ngIf="meetingList.length!=0" [data]="tableMeeting.data" [settings]="tableMeeting.settings"
                id="tableMeeting" class="sl-smart-table">
            </smart-table>
        </div>
        <!-- <div *ngIf="activeTab=='unreadTaskByMe'">
            <smart-table (action)="actionHandler($event)" [data]="tableUnreadTaskForMeList.data" [settings]="tableUnreadTaskForMeList.settings" id="tableUnreadTaskForMeList">
            </smart-table>
        </div>
        <div *ngIf="activeTab=='unreadLeads'">
            <smart-table *ngIf="unreadLeads.length!=0" [data]="tableUnreadLeads.data" [settings]="tableUnreadLeads.settings" id="tableUnreadLeads">
            </smart-table>
        </div> -->
        <div *ngIf="activeTab=='unreadTaskByMe'" class="multiTableHeight">
            <div class="tableTitle">TASK</div>
            <smart-table style="height: auto;" (action)="actionHandler($event)" [data]="tableUnreadTaskForMeList.data"
                [settings]="tableUnreadTaskForMeList.settings" id="tableUnreadTaskForMeList">
            </smart-table>
            <div class="tableTitle" *ngIf="unreadLeads.length > 0">PROCESS</div>
            <smart-table style="height: auto;" *ngIf="unreadLeads.length > 0" [data]="tableUnreadLeads.data"
                [settings]="tableUnreadLeads.settings" id="tableUnreadLeads">
            </smart-table>
            <div class="tableTitle" *ngIf="unreadTkt.length > 0">TICKET</div>
            <smart-table *ngIf="unreadTkt.length > 0" [data]="tableUnreadTkt.data" [settings]="tableUnreadTkt.settings"
                id="tableUnreadTkt">
            </smart-table>
        </div>

        <div class="todosec">
            <div class="todolayout" *ngIf="todoVisi">
                <div class="row todoHeading">
                    <div class="col-10 my-auto pl-4 text-left" (click)="todoVisi = !todoVisi">
                        <p>To Do List </p>
                    </div>
                    <div class="col-2 my-auto pr-4">
                        <div class="right">
                            <i class="fas fa-plus" *ngIf="!todoAddList" (click)="todoAddList = true"></i>
                            <i class="fas fa-times" *ngIf="todoAddList" (click)="todoAddList = false"
                                (click)="resetTaskTodoForm()"></i>
                        </div>
                    </div>
                </div>

                <div class="addtodo" *ngIf="todoAddList">
                    <div class="columnGap">
                        <textarea row="3" cols="15" maxlength="2044" placeholder="Enter Description" id="todoDesc"
                            name="todoDesc" class="form-control" [(ngModel)]="taskTodoForm.desc" resize="true"
                            style="height: 40px!important;"></textarea>
                    </div>
                    <div>
                        <uj-date-time-picker [mind]="minDateTodo" [isStart]="true" [isTime]="true"
                            (onChanged)="taskTodoForm.date=$event" [dateTimeValue]="taskTodoForm.date">
                        </uj-date-time-picker>
                    </div>
                    <div>
                        <uj-date-time-picker [isDate]="false" [isTime]="true"
                            (onChanged)="taskTodoForm.duration=$event" [dateTimeValue]="taskTodoForm.duration">
                        </uj-date-time-picker>
                    </div>

                    <div>
                        <label class="pr-5">
                            <input type="checkbox" [checked]="taskTodoForm.isUrgent"
                                (change)="taskTodoForm.isUrgent = !taskTodoForm.isUrgent"
                                style="vertical-align: middle;" />
                            High-Priority</label>
                        <button class="btn btn-primary btn-sm" id="savetodotask" (click)="saveTaskTodo(2)"
                            title="Save ToDo">Save</button>
                        <button *ngIf="taskTodoForm.requestId>0" class="btn btn-primary btn-sm ml-2" id="resettodotask"
                            (click)="resetTaskTodoForm()" title="Reset">Reset</button>
                    </div>
                </div>
                <div class="todoouter">
                    <div class="todolist" *ngFor="let todo of taskTodoList">
                        <div class="todoTitle" title="Due On:{{todo.due_date}}"
                            [ngStyle]="{'text-decoration': todo._status ? 'line-through' : ''}"> {{todo.task_desc}}
                        </div>
                        <div class="todoAction">
                            <button *ngIf="!todo._status" title="Mark Complete"><i class="fa fa-thumbs-up text-success"
                                    (click)="updateTodoTask(todo,2)"></i></button>
                            <button *ngIf="!todo._status" title="Edit"> <i class="fa fa-edit"
                                    (click)="todoAddList=true;editTodoTask(todo)"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="todobtns">
                <button title="Todo List" (click)="todoVisi = !todoVisi; (todoVisi) ? getTodoTaskList(2) : null">
                    <i class="fas fa-chevron-up" *ngIf="!todoVisi"></i>
                    <i class="fas fa-chevron-down" *ngIf="todoVisi"></i>
                </button>
            </div>
        </div>

    </nb-card-body>

    <!-- start: search task  modal -->
    <div class="modal" id="searchTaskModal" #searchTaskModal>
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">Searched Task</h5>
                    <button type="button" class="close" data-dismiss="modal"
                        (click)="closeSearchTaskModal()">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <smart-table [data]="tableSearchTaskList.data" [settings]="tableSearchTaskList.settings"
                        id="tableSearchTaskList">
                    </smart-table>
                </div>
            </div>
        </div>
    </div>
    <!-- end: search task modal -->
</nb-card>