.edit-icon {
    color: blue;
    margin-right: 6px;
    cursor: pointer;
}

 :host ::ng-deep .fa-check {
    font-size: initial;
    color: darkblue;
    cursor: pointer;
}

 :host ::ng-deep .fa-trash-alt {
    color: red;
    cursor: pointer;
}

 :host ::ng-deep .fa-eye {
    border-radius: 3px;
    margin-right: 10px;
    color: #7b0579;
    padding: 2px;
    cursor: pointer;
}

 :host ::ng-deep .remove:hover {
    background-color: #fd1361;
    border-color: #fc0758;
    cursor: pointer;
}

.tabs_style {
    width: 100%;
    margin: 0px;
   // border-bottom: 2px solid #26a69a;
    border-bottom: 2px solid #3366ff;
    margin-bottom: 10px;
    padding-left: 5px !important;
    li {
        padding: 5px 6px;
        list-style: none;
        margin-right: 5px;
       // background-color: #26a69a;
       // border: 2px solid #26a69a;
        background-color: #3366ff;
        border: 2px solid #3366fe;
        color: #fff;
        border-bottom: 0px;
        display: inline-block;
        border-radius: 5px 5px 0px 0px;
        font-size: 12px;
        font-weight: normal;
        cursor: pointer;
        &.active {
            background-color: #fff;
            color: #3366ff;
            position: relative;
            &::after {
                content: "";
                display: block;
                background-color: #fff;
                height: 10px;
                width: 100%;
                position: absolute;
                left: 0px;
            }
        }
    }
}

:host ::ng-deep .fa-edit {
    color: green;
    font-size: 18px;
    cursor: pointer;
}

:host ::ng-deep .fa-comments {
    font-size: 18px;
    color: limegreen;
    cursor: pointer;
    &.new-comment span {
        min-width: 13px;
        min-height: 13px;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: -3px;
        left: 1px;
        padding: 1px;
        font-size: 8px;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        line-height: 11px;
        background: transparent;
    }
}

:host ::ng-deep .fa-link {
    font-size: 18px;
    cursor: pointer;
}

:host ::ng-deep {
    .fa,
    .fas {
        font-size: 18px;
        cursor: pointer;
        margin-right: 5px;
    }
    .fa-bell {
        color: gray;
    }
    .isRemind {
        color: red;
    }
    .reminderAdded {
        color: #ffba12;
    }
    .no-comment {
        color: gray;
    }
}

.urgent_task {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
        margin-left: 5px;
    }
    label {
        margin-bottom: 0;
    }
}

:host ::ng-deep {
    th:nth-child(2) {
        width: 300px !important;
    }
}
smart-table{
    display: block;
    height: calc(100vh - 300px);
}
.searchbtn{
    margin-right: -2px;
    outline: 1px solid #3366ff;
    border: 0;
}