@import '../../style.scss';


.edit-icon {
    color: $color-900;
    margin-right: 6px;
    cursor: pointer;
}


:host ::ng-deep .fa-check {
    font-size: initial;
    color:$color-1400;
    cursor: pointer;
}

 :host ::ng-deep .fa-trash-alt {
    color: $color-800;
    cursor: pointer;
}

 :host ::ng-deep .fa-eye {
    border-radius: 3px;
    margin-right: 10px;
    color: $color-2900;
    padding: 2px;
    cursor: pointer;
}

 :host ::ng-deep .remove:hover {
    background-color: $color-1100;
    border-color: $color-1300;
    cursor: pointer;
}

.tabs_style {
    @include tab-style;
    margin: 0 0 7px;
    li {
     
        @include tablist;
        &.active {
            background-color: $color-400;
            color: $color-100;
            position: relative;
            // top: 1px;
            &::after {
                content: "";
                display: block;
                background-color: $color-400;
                height: 10px;
                width: 100%;
                position: absolute;

            }
        }
    }
}

:host ::ng-deep .fa-edit {
    color: $color-1800;
    font-size: 18px;
    cursor: pointer;
}

:host ::ng-deep .fa-comments {
    font-size: 18px;
    color: $color-1900;
    cursor: pointer;
    &.new-comment span {
        min-width: 13px;
        min-height: 13px;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: -3px;
        left: 1px;
        padding: 1px;
        font-size: $font-sm-sm;
        color: $color-400;
        text-align: center;
        vertical-align: middle;
        line-height: 11px;
        background: transparent;
    }
}

:host ::ng-deep .fa-link {
    font-size: 18px;
    cursor: pointer;
}

:host ::ng-deep {
    .fa,
    .fas {
        font-size: 18px;
        cursor: pointer;
    }
    .fa-bell {
        color: $color-2100;
    }
    .isRemind {
        color: $color-800;
    }
    .reminderAdded {
        color: $color-2000;
    }
    .no-comment {
        color: $color-2100;
    }
}

.urgent_task {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
        margin-left: 5px;
    }
    label {
        margin-bottom: 0;
    }
}

:host ::ng-deep {
    th:nth-child(2) {
        width: 300px !important;
    }
    .searchselect .tagsinput{
        border: 1px solid $color-100!important;
        border-radius: 0px!important;
        margin-left: 1px!important;
        margin-top: 1px!important;
    
      }
      .searchselect .tagsinput input{
       padding: 4px 5px!important;
      }
}

smart-table {
   height: calc(100vh - 168px);

}

.sl-smart-table {
    height: calc(100vh - 212px);
}

.searchbtn {
    outline: 1px solid $color-100;
    border: 0;
}
@-moz-document url-prefix() {
    .searchbtn {
        padding:$padding-xxs $padding-xxs $padding-xs $padding-xxs !important;
    }
}
:host ::ng-deep #tableUnreadLeads {
    th:nth-child(5) {
        width: 300px;
    }
    th:nth-child(2) {
        width: initial !important;
    }
}
.byselect{
    border: 1px solid $color-100;
    color: $color-3200;
    }
.byselect:focus{
outline: none;
}

.leave{
    height: 32px !important;
    padding: 1px 0px 1px 1px !important;
    img{
        width: 28px;
    }
}
.allicons{
    height: 32px !important;
    padding: 1px 0px 1px 1px !important;
    img{
        width: 26px;
    }
}
:host ::ng-deep .tableFixHead{
   th:last-child{
      width: 140px;
   }
}
.selected {
    background-color: $color-3100;
}




