@media  print {
  #tollUsage{
    width: 100%;
    height: auto;
    overflow: visible;
  }
 
}
:host ::ng-deep .fa-edit {
  color: green;
  font-size: 18px;
  span {
    position: absolute;
    display: none;
    padding: 10px 24px;
    font-weight: normal;
    font-size: 11px;
    left: -12px;
    top: -28px;
    -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 9999;
  }
  span::before {
    content: "Edit";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: green;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    width: 100%;
  }
  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid green;
    position: absolute;
    bottom: -5px;
    right: 24px;
  }
}
:host ::ng-deep .fa-edit:hover span {
  display: block;
}

:host ::ng-deep .fa-trash-alt {
  color: red;
  font-size: 18px;
  span {
    position: absolute;
    display: none;
    padding: 10px 27px;
    font-weight: normal;
    font-size: 11px;
    left: -10px;
    top: -28px;
    -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 9999;
  }
  span::before {
    content: "Delete";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    width: 100%;
  }
  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid red;
    position: absolute;
    bottom: -5px;
    right: 24px;
  }
}
:host ::ng-deep .fa-trash-alt:hover span {
  display: block;
}

:host ::ng-deep .fa-address-book {
  color: blue;
  font-size: 18px;
  span {
    position: absolute;
    display: none;
    padding: 10px 24px;
    font-weight: normal;
    font-size: 11px;
    left: -12px;
    top: -28px;
    -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 9999;
  }
  span::before {
    content: "Address-Book";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: green;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    width: 100%;
  }
  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid green;
    position: absolute;
    bottom: -5px;
    right: 24px;
  }
}
:host ::ng-deep .fa-address-book:hover span {
  display: block;
}
.print-icon {
  font-size: 35px;
  color: rgb(136, 160, 196);
}

.pdf-icon {
  font-size: 28px;
  color: #9F0001;
}

.exel-icon {
  font-size: 28px;
  color: #217346;
}


:host ::ng-deep .blue {
  color: #0606e3;
  font-size: 16px;
}
smart-table{
  display: block;
  max-height: calc(100vh - 250px);
  overflow: auto;
}