<ng-container>
  <nb-card [class.d-none]="isDetailView">
    <nb-card-header>
      <div class="row">
        <div class="col-6">
          <h5> Visit Management</h5>
        </div>
        <div class="col-6 text-right">
          <button class="btn btn-primary btn-sm" (click)="openUnmappedVisitModal()">Visit Report</button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-12">
          <form action="" class="visit-management">
            <div class="row align-items-end">
              <div class="col-md-3">
                <div class="form-group mb-0"> <label for="">Select User</label>
                  <auto-suggestion (onSelected)="selectedUser($event)" [data]="allUsers" display='name'
                    placeholder="Search User" autocomplete="off" name="primaryUser" inputId="primaryUser"
                    [preSelected]="{name:expenseSearch.admin.name}"> </auto-suggestion>
                </div>
              </div>
              <div class="col-6 d-flex justify-content-end">
                <div class="form-group mb-0"> <label>Start Date</label>
                  <uj-date-time-picker (onChanged)="startDate=($event)" [dateTimeValue]="startDate" [isTime]="false"
                    [maxd]="currentDate">
                  </uj-date-time-picker>
                </div>

                <div class="form-group mb-0"> <label>End Date</label>
                  <uj-date-time-picker (onChanged)="endDate=($event)" [dateTimeValue]="endDate" [isTime]="false"
                    [isStart]="false" [isDateDisabled]="!expenseSearch.admin.id"
                    [isTimeDisabled]="!expenseSearch.admin.id" [maxd]="currentDate"> </uj-date-time-picker>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-0 action-block">
                  <div class="btn-block">
                    <button type="button" class="btn btn-danger" (click)="resetData()"> Reset </button>
                    <button type="button" class="btn btn-primary" (click)="showAdminWiseWagesList()">
                      Search </button>

                  </div>
                </div>
              </div>
            </div>
          </form>

          <table class="table table-primary ng-dataTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>
                  <div class="form-check user-check-label user-check-label-heading   d-flex"> <label for=""> S. No.
                    </label>
                    <input class="form-check-input" [(ngModel)]="alluserselect"
                      (click)="(!(allUsers && allUsers.length>1) || isAllCheckboxDisable) ? selectAllUser($event) : null"
                      type="checkbox" value="" id="flexCheckChecked"
                      [disabled]="!(allUsers && allUsers.length>1) || isAllCheckboxDisable">
                  </div>
                </th>
                <th>Name</th>
                <th class="date">Date</th>
                <th>Travel Expense</th>
                <th>Other Expense</th>
                <th>Total Expense</th>
                <th>System Travel (KM)</th>
                <th>Total Image</th>
                <th>Status</th>
                <th>Approvable Expense</th>
                <th class="action">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allVisits;let i = index">
                <td>
                  <div class="form-check user-check-label d-flex"> <label for=""> {{i+1}} </label> <input
                      class="form-check-input" [(ngModel)]="item.checked" type="checkbox" value="" id="flexCheckChecked"
                      (click)="selectUser(i)"
                      [disabled]="item._user_id==userService.loggedInUser.id || item.is_disable"></div>
                </td>
                <td class="name">{{item.name}}</td>
                <td class="date">{{item.sqdate2}}</td>
                <td class="date">{{(item.system_expense>0) ? item.system_expense : item.travel_amount}}</td>
                <td class="date">{{item.other_amount}}</td>
                <td class="expanse">
                  <p class="mb-0 text-primary"
                    (mouseenter)="(item.total_expense_actual>0) ? openExpenseInfoModal(item,$event) : null"
                    [ngbTooltip]="tipContent" container="body" [disableTooltip]="!item.total_expense_actual"> <i
                      [class]="common.currencyClass"></i>
                    {{item.total_expense_actual}} </p>

                </td>
                <td>{{item.total_distance}}</td>
                <td>{{(item._onside_img) ? item._onside_img.length : 0}}</td>
                <td
                  [class]="(item.status=='Approved')?'text-success':((item.status=='Rejected' && item._onside_img) ? 'text-danger': '')">
                  {{(item._onside_img) ? item.status : 'N/A'}}</td>
                <td class="expanse">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i [class]="common.currencyClass"></i></span>
                    </div>
                    <input type="number" class="form-control" style="width: 40%;"
                      [(ngModel)]="updatedExpenses[i]['total_amount']">
                  </div>
                </td>
                <td class="expance-action">
                  <div class="action-block">
                    <div class="d-flex">
                      <button type="button" class="btn btn-success btn-sm"
                        [disabled]="!(item._onside_img && item._onside_img.length && item._user_id!=userService.loggedInUser.id) || item.is_disable"
                        (click)="(item._onside_img && item._onside_img.length && item._user_id!=userService.loggedInUser.id) ? saveVerifiedExpenseSingleWithConfirm(1,updatedExpenses[i]) : null">
                        Approve
                      </button>

                      <button type="button" class="btn btn-danger btn-sm"
                        [disabled]="!(item._onside_img && item._onside_img.length && item._user_id!=userService.loggedInUser.id && updatedExpenses[i]['total_amount']>0) || item.is_disable"
                        (click)="(item._onside_img && item._onside_img.length && item._user_id!=userService.loggedInUser.id && updatedExpenses[i]['total_amount']>0) ? saveVerifiedExpenseSingleWithConfirm(-1,updatedExpenses[i]) : null">
                        Reject
                      </button>

                      <button type="button" class="btn btn-primary btn-sm"
                        [disabled]="!(item._onside_img && item._onside_img.length)"
                        (click)="(item._onside_img && item._onside_img.length) ? viewExpenseDetail(item) : null">
                        View
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="allVisits && allVisits.length && allUsers && allUsers.length>1" class="row">
        <div class="col-12 mt-2 d-flex justify-content-end"> <button class="btn btn-primary btn-sm"
            id="verifiedExpenseBtn" (click)="saveVerifiedExpense()">Approve Selected Visit</button></div>
      </div>
    </nb-card-body>
  </nb-card>
</ng-container>
<ng-container>
  <nb-card [class.d-none]="!isDetailView">
    <nb-card-header class="position-relative">
      <div class="row p-2">

        <div class="col-md-3 d-flex">
          <button class="btn btn-primary back-btn" (click)="backnavigate()">
            <i class="fa fa-arrow-left"></i> </button>
          <h5 class="text-center mb-0">Expense Detail</h5>
        </div>

        <div class="col-md-4">
          <!-- <h5>User Name : <span class="user-name"> {{(selectedExpense) ? selectedExpense.name : 'N/A'}} </span></h5> -->
          <!-- <div class="form-group mb-0"> -->
          <auto-suggestion (onSelected)="selectedUserOnDetail($event)" [data]="allUsers" display='name'
            placeholder="Search User" autocomplete="off" name="primaryUser" inputId="primaryUser"
            [preSelected]="(selectedExpense && selectedExpense._user_id) ? {name:selectedExpense.name}: {name:null}">
          </auto-suggestion>
          <!-- </div> -->
        </div>

        <div class="col-md-5">
          <div class="date-container action-block">
            <button class="btn btn-primary caps mr-0" (click)="dateextractor(-1)"> Previous date </button>
            <input type="text" class="form-control date-control" [value]="detaildate" [(ngModel)]="detaildate" readonly>
            <button class="btn btn-primary caps mr-0" (click)="dateextractor(1)"> Next date </button>
          </div>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="expense-detail">
        <div class="row no-gutters expense-timeline">
          <div class="col-1">
            <div class="col-block">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title"> Location With Time</h5>
                </div>
                <div class="card-body">
                  <ul class="location-list">
                    <li *ngFor="let item of onsiteImages;index as i" [class]="'list-item-'+i"
                      [class.active]="detailDataIndex == i" (click)="listhandler(i)">
                      <p class="addtime"> <span>{{item.addtime}}</span> </p>
                      <p> {{(item.site_name) ? item.site_name : 'N/A'}} </p>
                      <p> IN : <span> {{(item.site_in_time) ? item.site_in_time : 'N/A'}}</span> out : <span>
                          {{(item.site_out_time) ? item.site_out_time : 'N/A'}} </span> </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="col-block">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title"> location map</h5>
                  <button class="btn btn-primary btn-sm mt-1" id="viewRouteBtn" (click)="viewRoute()">View
                    Route</button>
                  <button class="btn btn-primary btn-sm ml-2" id="routeTypeSwitch"
                    (click)="switchLatLngHandler()">{{(switchButton=="Live"? 'Actual Route' : 'Ideal Route')}}</button>
                </div>
                <div class="card-body">
                  <div class="location-map">
                    <div class="map-container">
                      <div class="map" id="map" #map></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="col-block">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title"> visit images - {{(onsiteImages) ? onsiteImages.length +' Image' : 'N/A'}}</h5>
                </div>
                <div class="card-body">
                  <div class="detail-images-container">
                    <div *ngFor="let item of onsiteImages;index as i" class="detail-images" [class]="'index-'+i"
                      [ngClass]="{
                      'rejected':[-99,-1].includes(item._status),
                      'approved':item._status==1,
                      'active':detailDataIndex == i,
                      'zoom':detailDataIndex == i && detailImageZoom }"
                      (mouseover)="detailImageHandler(i);changeColorUsingLatlng(item,1)"
                      (mouseout)="detailImageZoom = false;changeColorUsingLatlng (item,2)">
                      <a href="javascript:void(0)" class="image-remark-tootlip" [ngbTooltip]="tipContent1"
                        container="body" placement="bottom"> <i
                          class="fa fa-info-circle" aria-hidden="true"></i> </a>

                       <ng-template #tipContent1>
                       <div class="image-remark">
                         <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo iusto possimus itaque
                           repellat
                           adipisci pariatur quod iure voluptatum facere, provident fugit fugiat, numquam doloremque
                           architecto eaque eos officia aut aperiam? </p>
                       </div>
                        </ng-template>

                      <img class="img-fluid" [src]="item._url" [alt]="item.image">
                      <div class="actions">
                        <button class="btn btn-primary"
                          [disabled]="item._status==1 || selectedExpense._user_id==userService.loggedInUser.id || selectedExpense.is_disable"
                          (click)="(item._status==1 || selectedExpense._user_id==userService.loggedInUser.id) ? null : updateOnsiteImageStatusWithConfirm(1,item)">
                          approve
                        </button>
                        <button class="btn btn-danger"
                          [disabled]="[-99,-1].includes(item._status) || selectedExpense._user_id==userService.loggedInUser.id || selectedExpense.is_disable"
                          (click)="([-99,-1].includes(item._status) || selectedExpense._user_id==userService.loggedInUser.id) ? null : updateOnsiteImageStatusWithConfirm(-1,item)">
                          Reject
                        </button>
                        <button class="btn btn-info" (click)="openLink(i,'detail Image')">
                          View
                        </button>
                        <button class="btn btn-success"
                          [title]="(item._mapped_id>0) ? 'Already mapped with an entity':'Click to map with an entity'"
                          [disabled]="item._mapped_id>0" (click)="(item._mapped_id>0) ? null : openMappingModal(item);">
                          link
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row no-gutters expense-info">
          <div class="col-md-6">
            <div class="col-block">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title"> Expenses</h5>
                  <button
                    *ngIf="expenseList && expenseList.length && selectedExpense._user_id!=userService.loggedInUser.id && !selectedExpense.is_disable"
                    type="button" class="btn btn-success" (click)="updateOnsiteExpenseStatus()">Approve All</button>
                </div>
                <div class="card-body">
                  <table class="table table-primary expense-table">
                    <thead class="bg-primary text-white mb-0">
                      <tr>
                        <th>Expense Type</th>
                        <th>Applied Expense</th>
                        <th>Approved Expense</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr (click)="expenseIndex=i" *ngFor="let item of expenseList;index as i"
                        [class.active]="expenseIndex == i"> -->
                      <tr *ngIf="selectedExpense">
                        <td>System Expense</td>
                        <td>{{selectedExpense.system_expense}}</td>
                        <td>{{selectedExpense.system_expense}}</td>
                        <td></td>
                      </tr>
                      <tr (click)="expenseIndex=i" *ngFor="let item of expenseList;index as i"
                        [class.active]="expenseIndex == i">
                        <td> {{item.description}}</td>
                        <td> {{item.amount}}</td>
                        <td>
                          <input type="number" class="form-control" style="width: 40%;" [(ngModel)]="item.amount_new">
                        </td>
                        <td class="actions">
                          <div class="action-block">
                            <button *ngIf="selectedExpense._user_id!=userService.loggedInUser.id"
                              class="btn btn-danger btn-reject"
                              [disabled]="item.amount_new===0 || selectedExpense.is_disable"
                              (click)="item.amount_new = 0;updateOnsiteExpenseStatus(item)">
                              {{item.amount_new===0 ? 'Rejected':'Reject' }}
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-block">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title"> Expense Images</h5>
                </div>
                <div class="card-body">
                  <div class="expense-image-block">
                    <div class="expense-image" *ngFor="let item of expenseList;index as i"
                      [class.active]="expenseIndex == i" (click)="expenseIndex = i">
                      <button *ngIf="item._url" class="btn image-view" data-toggle="modal" data-target="#image-model"
                        [disabled]="!item._url" (click)="openLink('detail Image',item._url)">
                        <i class="fa fa-eye"></i>
                      </button>

                      <div class="expance-rejected" *ngIf="item.amount_new===0">
                        <span> Rejected </span>
                      </div>
                      <img [src]="item._url" [alt]="item.image"
                        onerror="this.src='./assets/images/expense/no-image-avaiable.jpg';">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </nb-card-body>
  </nb-card>
</ng-container>

<!--start: expenseInfoModal -->

<ng-template #tipContent>
  <div class="modal-body tooltip-modal">
    <table class="table table-primary expense-table">
      <thead>
        <tr>
          <th>Expense Type</th>
          <th>Applied Expense</th>
          <th>Approved Expense</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of expenseInfo">
          <td>{{e.expense_type}}</td>
          <td>{{e.amount}}</td>
          <td>{{(!e.updated_amount && e.updated_amount!==0) ? e.amount  : e.updated_amount}}</td>
        </tr>
        <tr *ngIf="!(expenseInfo && expenseInfo.length)">
          <td colspan="3">No Record</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>


<!--end: expenseInfoModal -->
