<ng-container *ngIf="data.visitlistView">
  <nb-card>
    <nb-card-header>
      <h5> Visit Management </h5>
    </nb-card-header>

    <nb-card-body>
      <div class="row">
        <div class="col-md-12">
          <form action="" class="visit-management">
            <div class="row align-items-end">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">select User </label>
                  <auto-suggestion (onSelected)="selectedUser($event)" [data]="allUsers" display='name'
                    placeholder="Search category" autocomplete="off" name="primaryUser" inputId="primaryUser"
                    [preSelected]="{name:null}">
                  </auto-suggestion>

                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label>Start Date</label>
                  <uj-date-time-picker (onChanged)="startDate=($event)" [dateTimeValue]="startDate" [isTime]="true">
                  </uj-date-time-picker>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label>End Date</label>
                  <uj-date-time-picker (onChanged)="endDate=($event)" [dateTimeValue]="endDate" [isTime]="true"
                    [isStart]="false">
                  </uj-date-time-picker>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group action-block">
                  <div class="btn-block">
                    <button type="button" class="btn btn-danger"> Reset </button>
                    <button type="button" class="btn btn-primary"> Search </button>
                    <button type="button" class="btn btn-success"> Cancel </button>
                  </div>
                </div>
              </div>

            </div>
          </form>

          <table class="table table-primary" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>
                  <div class="form-check user-check-label d-flex">
                    <label for=""> Sr. No. </label>
                    <input class="form-check-input" [(ngModel)]="alluserselect" (click)="selectAllUser($event)"
                      type="checkbox" value="" id="flexCheckChecked">
                  </div>
                </th>
                <th>UserName</th>
                <th>Total Expesne</th>
                <th>Status</th>
                <th>Travel Distance</th>
                <th>Total Image Uploaded</th>
                <th>Approvable Expense</th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allVisits;index as i">
                <td>
                  <div class="form-check user-check-label d-flex">
                    <label for=""> {{i+1}} </label>
                    <input class="form-check-input" [(ngModel)]="item.checked" type="checkbox" value=""
                      id="flexCheckChecked" (click)="selectUser(i)">
                  </div>

                </td>
                <td>{{item.userName}} </td>
                <td>{{item.totalExpense}} </td>
                <td>{{item.status}}</td>
                <td>{{item.trasvelDistance}} </td>
                <td>{{item.totalImageUploaded}}</td>
                <td>{{item.approveExpense}}</td>
                <td>
                  <div class="action-block">
                    <div class="btn-block">
                      <button class="btn btn-danger" type="button" (click)="rejectexpense()"> Reject </button>
                      <button class="btn btn-success" type="button" (click)="approveExpense()"> Approve </button>
                      <button type="button" class="btn btn-primary" (click)="Userdetail(i)"> View </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </nb-card-body>
  </nb-card>

</ng-container>


<ng-container *ngIf="data.visitDetailView">
  <ngx-visit-management-detail [expensdetail]="expensdetail">
  </ngx-visit-management-detail>
</ng-container>


