@import '../../style';
$color-primary:#72b3c7;

:host ::ng-deep {
  nb-card-body {
    min-height: auto !important
  }

  nb-card-body {
    overflow: visible !important;

  }

}

// @mixin widthDivider($mainwidth) {


// }


.user-name {
  font-weight: bold;
  color: #e16c40;
}

.expense-image {
  padding: 5px;
  position: relative;
  flex: 0 0 25%;

  .image-view {
    display: none;
  }

  &.active {
    background-color: $color-primary;

    .image-view {
      display: block;
    }

    img {
      //  transform: scale(1.5);
      box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
    }
  }

  img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    object-position: center center;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  }
}


.expense-detail {
  @include headings {
    text-transform: capitalize;
  }

  .row {
    margin-bottom: 20px;
    // box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);

  }

  .expense-list {
    padding-left: 0;
    list-style: none;
    border: 1px solid #d0d0d0;
    padding: 5px;
    background: #f6f9fb;
    //  height: 100%;

    li {
      font-weight: 500;
      margin-bottom: 10px;
      font-size: 16px;
      cursor: pointer;

      &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &.active {
        color: $color-primary;
        font-weight: 600;
      }

      span.expense {
        font-weight: 500;
      }

      span.expense {
        font-weight: 600;
      }


    }
  }
}


.expense-actions {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
  justify-content: flex-end;

  button {
    text-transform: capitalize;
  }
}

.image-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 8px 0px rgba(142, 142, 142, 0.2);
}



//  location map
.map {
  width: 100%;
  height: 100%;

}




table {
  .user-check-label {
    label {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 500;
      margin-left: 5px;
      position: relative;
      line-height: 20px
    }

    .form-check-input {
      width: 15px;
      height: 15px;
      position: absolute;
      z-index: 20;
      top: -3px;
      border-radius: 0;
    }
  }
}


// #map {
//   height: calc(100vh - 182px);
//   width: 100%;
//   z-index: 1;
// }

.left-Cols {
  display: block;
}




@import '../../style';
$color-primary:#72b3c7;

.expense-form {
  label {
    text-transform: capitalize;
    font-weight: 500;
  }
}


.visit-management {
  margin-bottom: 10px;

  label {
    text-transform: capitalize;
  }
}

:host ::ng-deep {
  nb-card-body {
    min-height: auto !important
  }

  nb-card-body {
    overflow: visible !important;

  }

}

.back-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 0 !important;
}

.expense-image-block {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;

}


.expense-image {
  padding: 5px;
  position: relative;

  .image-view {
    display: none;
  }

  &.active {
    background-color: $color-primary;

    .image-view {
      display: block;
    }

    img {
      //  transform: scale(1.5);
      box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
    }
  }

  img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center 70%;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  }
}


.expense-detail {

  // [class^=col-] {

  // }

  div[class^="col-"] {
    .col-block {
      border-radius: 5px;
      margin: 0;
      height: 100%;
      // padding: 15px;


      .card {
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
        margin: 10px;
        height: 100%;

        .card-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 45px;

          button {
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 !important;
          }

          .card-title {
            margin-bottom: 0;
            line-height: 20px;
          }
        }

        .card-body {
          // height: 200px;
          overflow: auto;
          @include scrollbars(4px, #0f2d4b, 3px);
        }

        .card-header,
        .card-body {
          padding: 10px;

        }

      }
    }
  }


  #map {
    height: 550px;
    width: 100%;
    z-index: 1;
  }

  @include headings {
    text-transform: capitalize;
  }

  .row {
    margin-bottom: 20px;
    margin-bottom: 20px;
  }

  .expense-list {
    padding-left: 0;
    list-style: none;
    border: 1px solid #d0d0d0;
    padding: 5px;
    background: #f6f9fb;
    //  height: 100%;

    li {
      font-weight: 500;
      margin-bottom: 10px;
      font-size: 16px;
      cursor: pointer;

      &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &.active {
        color: $color-primary;
        font-weight: 600;
      }

      span.expense {
        font-weight: 500;
      }

      span.expense {
        font-weight: 600;
      }


    }
  }
}


.expense-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0;
  justify-content: flex-end;

  button {
    text-transform: capitalize;
  }
}

.image-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 8px 0px rgba(142, 142, 142, 0.2);
}


//  location list

.location-list {
  padding-left: 0;
  list-style: none;
  // border: 1px solid #2696d24f;
  // padding: 10px;
  border-radius: 3px;
  margin-bottom: 0;

  li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #2696d266;
    color: #656565;
    font-weight: 600;

    .addtime {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 5px;

    }

    p {
      margin-bottom: 0;
      font-size: 10px;
      line-height: 10px;
      font-weight: 500;

      span {
        font-weight: bold;
      }
    }

    &:nth-child(odd) {
      background-color: #f0f5fb;

    }

    &:nth-child(even) {
      background-color: #e4e4e4;
    }

    &:last-child {
      border-bottom: 0
    }

    &.active {
      p {
        color: #fff;
      }

      background-color: #2696d2;

    }
  }
}



//  location map
.map {
  width: 100%;
  height: 100%;

}


//  detail images

.detail-images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;

    button {
      padding: 0px 5px !important;
      font-size: 8.5px !important;
      height: 18px;
      box-shadow: none;
      font-family: inherit !important;
      font-weight: 700;
      text-transform: uppercase;

    }
  }

  .detail-images {
    flex: 0 0 calc(50% - 5px);
    padding: 5px;
    border-radius: 2px;
    backface-visibility: hidden;
    box-shadow: 0px 0px 3px 1px #00000052;

    &.rejected {
      background-color: #ababab;
    }

    &.active {
      background-color: #939dff !important;
      box-shadow: 0px 0px 4px 1px #00000063;
    }

    &.approved {
      background-color: #62e9fb;
    }

    &.zoom {
      transform: scale(1.15);
      transition: all linear 0.3s;
    }

    img {
      width: 100%;
      height: 110px;
      object-fit: cover;
    }
  }
}


// expense table

.expance-action {
  button {
    i {
      color: #fff !important;
      margin: 0;
    }
  }
}

.expense-table {

  tbody {
    tr.active {
      background-color: #2696d2;

      td {
        font-weight: bold;
        color: #f6f9fb;
      }
    }

    td,
    th {
      border-top: 0 !important;
    }

  }
}


table {
  .user-check-label {
    label {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 500;
      margin-left: 5px;
      position: relative;
      line-height: 20px
    }

    .form-check-input {
      width: 15px;
      height: 15px;
      position: absolute;
      z-index: 20;
      top: -3px;
      border-radius: 0;
    }
  }

  .user-check-label-heading {
    // left: -2px;
  }

}


.left-Cols {
  display: block;
}

.date-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin: 0;

  .date-control {
    padding: 5px !important;
    font-size: 12px !important;
    line-height: 16px !important;
    width: 160px;
    margin: 0 5px;
    height: 25px;
  }

  .form-group {
    margin-bottom: 0;
    margin-right: 10px;
    display: flex;
  }
}

.date-block {
  display: flex;
  align-items: center;
  justify-content: center;
}


.header-block {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 5px;

  label {
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 0 !important;
    margin-right: 10px;
    position: relative;
    line-height: 28px;
  }

}


.expense-table {
  border: 1px solid #72b3c77e !important;
  border-top: 0 !important;

  th {
    background-color: #72b3c7;
    padding: 10px;
    color: #fff;
    border: 0 !important;
  }

  tbody {
    td:last-child {
      border-right: 0 !important;
    }

    td:first-child {
      border-left: 0 !important;
    }
  }

}


.expense-timeline {
  $mapwidth: 47%;
  $galeryWidth: 35%;
  $otherwidth: (100% - ($mapwidth + $galeryWidth));

  .col-1 {
    flex:0 0 #{$otherwidth};
    max-width:#{$otherwidth};
  }

  .col-2 {
    flex:0 0 #{$mapwidth};
    max-width:#{$mapwidth};
  }

  .col-3 {
    flex:0 0 #{$galeryWidth};
    max-width:#{$galeryWidth};
  }


  // .col-3 .card-body {
  //   overflow: visible !important;
  // }

  .card-body {
    height: 550px;
  }

}


.expense-info {
  .card-body {
    max-height: 300px;
    @include scrollbars(4px, #0f2d4b, 3px);
  }
}



.nb-theme-default tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

tr.ng-star-inserted {
  background: #f0f5fb;
  border-top-width: 1px !important;
}



.modal-header {
  .modal-title {
    color: #fff !important;
    font-size: 20px;
  }
}

.modal-body {
  // padding: 0 !important;

  img.detail-image {
    width: 100%;
  }
}

.table th,
.table td {
  vertical-align: middle;
}


:host ::ng-deep {
  .delete-expanse-modal {
    .alert-message {
      line-height: 22px;
    }

    .expanse-detail {
      p {
        span {
          font-weight: bold;
        }
      }

    }
  }
}


td.expanse {

  i.rupee {
    font-size: 10px;
    margin: 0;
    position: relative;
    top: -1px;
  }

  .input-group-prepend i {
    font-size: 14px;
    margin: 0;
  }

}


td.date{
 width: 100px;
}




.nb-theme-default .btn-danger:focus .nb-theme-default .btn-danger:active {
  background-color: #c82333 !important;
}


.expance-rejected {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #c40000;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 148, 148, 0.5);
}

.btn-reject {
  width: 100px;
}

td.name {
  width: 150px !important;
}

td.expance-action {
  width: 250px !important;
}

th.action.sorting {
  background-image: none !important;
}



// .user-expance-table{
//   .dataTables_empty{
//     display: none;
//   }
// }

// :host ::ng-deep {
//   table.user-expance-table td.dataTables_empty {
//     display: none;
//   }
// }

::ng-deep {
.tooltip{
 left: -35px !important;
}

  #route-maper-map+.row {
    margin-top: 15px;

    .col-1 {
      padding-left: 15px !important;
    }

    .speed-control {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


.expanse p {
  padding:0;
  font-size: 12px;
  cursor: pointer;
  backface-visibility: hidden;
}


.expenseInfoModal {
  backface-visibility: hidden;
  transition: all linear 0.2s;

  .modal-dialog {
    backface-visibility: hidden;
  }

}


div#expenseInfoModal {
  width: auto;
  height: auto;
}




 ::ng-deep {
.modal-body.tooltip-modal {
  width: 500px;
  height: auto;
  padding: 0;

  table {
    margin-bottom: 0;
  }

}
.arrow::before {
  top: 0;
  border-width: 0.4rem 0.4rem 0;
  border-top-color: #72b3c7 !important;
}


.tooltip-inner {
  max-width: unset;
  padding: 0;
  color: #fff;
  text-align: center;
  background-color: transparent;
  border-radius: 0.25rem;
}


}
