
//  all colors

// random color properties

//  all primary color 
$color-100:#3366ff;
$color-1400:darkblue;
$color-900:blue; 
$color-2800:#00f;
$color-3400:#0054ff;
$color-5200:#007bff;
$color-6100:#0062cc;

/**

$primary-1: #007bff  // $color-100:#007bff;
$primary-2:darken(adjust-hue(#007bff, 29), 22.75); // $color-1400:darkblue;
$primary-3:adjust-hue(#007bff, 29);   // $color-900:blue; 
$primary-4:adjust-hue(#007bff, 29);   // $color-2800:#00f;
$primary-5:adjust-hue(#007bff, 9);   // $color-3400:#0054ff;
$primary-6:lighten(adjust-hue(#007bff, 14), 10.00);  // $color-100:#3366ff ;
$primary-7: darken(#007bff, 10.00);  // $color-6100:#0062cc;

$primary-8:;
$primary-9:;
$primary-10:;


**/


// all success color 
$color-600:#217346;
$color-1800:green;
$color-1900:limegreen;
$color-300:#00ff11;
$color-5600:lawngreen;
$color-5300:#26a69a;
$color-2700:#07f8d4;





//  all danger color
$color-800:red;
$color-4100:purple;
$color-2900:#7b0579;
$color-1100:#fd1361;
$color-1200:#fc0758;
$color-4500: #FF421A;
$color-200:#ff5722;
$color-3900:brown;
$color-5400:deeppink;
$color-4000:magenta;


//  all warning colors
$color-5800:yellow;
$color-3000:#c6ed24;
$color-2300:#ffd7d7;
$color-2000:#ffba12;



// all info color 
$color-1600:#3c6ac7;
$color-3300:#3c6ac7;




//  all light color 
$color-4400:ghostwhite;
$color-4800:#ccc;
$color-6000:#e6e6e6;
$color-5500:#d0d0d0;
$color-5000:#e1e1e1;
$color-3800:#f9f9f9;
$color-700: #dee2e6;
$color-4200:lightgrey;
$color-4600:#e2e2e2;
$color-2500:#d0e4f5;
$color-2600:#f2f2f2;
$color-400: #fff;
$color-1000:#dddddd;    


//  all dark color 
$color-500:#000;
$color-2200:#161617;
$color-2400:#01203c;
$color-4300:#1def1d2e;
$color-3500:#93acc7;
$color-5900:#888585;



$primary:#007bff;
$secondary:#6c757d;
$success:#28a745;
$danger:#dc3545;
$warning:#ffc107;
$info:#17a2b8;
$light:#f8f9fa;
$dark:#343a40;





$primary-1:lighten(adjust-hue(#007bff, 14), 10.00);

/**


$success-1:;
$success-2:;
$success-3:;
$success-4:;
$success-5:;
$success-6:;
$success-7:;
$success-8:;
$success-9:;
$success-10:;


$danger-1:;
$danger-2:;
$danger-3:;
$danger-4:;
$danger-5:;
$danger-6:;
$danger-7:;
$danger-8:;
$danger-9:;
$danger-10:;


$warning-1:;
$warning-2:;
$warning-3:;
$warning-4:;
$warning-5:;
$warning-6:;
$warning-7:;
$warning-8:;
$warning-9:;
$warning-10:;


$info-1:;
$info-2:;
$info-3:;
$info-4:;
$info-5:;
$info-6:;
$info-7:;
$info-8:;
$info-9:;
$info-10:;


$light-1:;
$light-2:;
$light-3:;
$light-4:;
$light-5:;
$light-6:;
$light-7:;
$light-8:;
$light-9:;
$light-10:;


$dark-1:;
$dark-2:;
$dark-3:;
$dark-4:;
$dark-5:;
$dark-6:;
$dark-7:;
$dark-8:;
$dark-9:;
$dark-10:;


$muted-1:;
$muted-2:;
$muted-3:;
$muted-4:;
$muted-5:;
$muted-6:;
$muted-7:;
$muted-8:;
$muted-9:;
$muted-10:;


**/





//  font-families 
$font-family-primary:sans-serif;
$font-family-main:cursive;
$font-family-main:sans-serif;
$font-family-secondary:cursive;


//  paddings

