
//  all colors

// random color properties

$color-100:#3366ff;
$color-200:#ff5722;
$color-300:#00ff11;
$color-400: #fff;
$color-500:#000;
$color-600:#217346;
$color-700: #dee2e6;
$color-800:red;
$color-900:blue;    
$color-1000:#dddddd;    
$color-1100:#fd1361;
$color-1200:#fc0758;
$color-1300:#263238;
$color-1400:darkblue;
$color-1500:#8f9bb3;
$color-1600:#3c6ac7;
$color-1700:#c0b2b2;
$color-1800:green;
$color-1900:limegreen;
$color-2000:#ffba12;
$color-2100:gray;
$color-2200:#161617;
$color-2300:#ffd7d7;
$color-2400:#01203c;
$color-2500:#d0e4f5;
$color-2600:#f2f2f2;
$color-2700:#07f8d4;
$color-2800:#00f;
$color-2900:#7b0579;
$color-3000:#c6ed24;
$color-3100:#576c77;
$color-3200:#7f7f7f;
$color-3300:#3c6ac7;
$color-3400:#0054ff;
$color-3500:#93acc7;
$color-3600:lightgray;
$color-3700:#c2bebe;
$color-3800:#f9f9f9;
$color-3900:brown;
$color-4000:magenta;
$color-4100:purple;
$color-4200:lightgrey;
$color-4300:#1def1d2e;
$color-4400:ghostwhite;
$color-4500: #FF421A;
$color-4600:#e2e2e2;
$color-4700:#c2c2c2;
$color-4800:#ccc;
$color-4900: grey;  
$color-5000:#e1e1e1;
$color-5100:#555;
$color-5200:#007bff;
$color-5300:#26a69a;
$color-5400:deeppink;
$color-5500:#d0d0d0;
$color-5600:lawngreen;
$color-5700:#c1c1c1;
$color-5800:yellow;
$color-5900:#888585;
$color-6000:#e6e6e6;
$color-6100:#0062cc;
$color-6200:#eff9c6;
$color-6300:#676767;
$color-6400:#dedede;
$color-6500: #f8f8f8;
$color-6600:orange;
$color-6700:#f73939;
$coor-6800: #b5b9b9;
$color-6900:#e4e4e4;
$color-7000:#324148;
$color-7100:teal;
$color-7200:#d1dada;
$color-7300:#1a2138;
$color-7400:#d1d9e8;
$color-7500:darkgray;
$color-7600: #1a3380;
$color-7700:#958e8e;
$color-7800:aliceblue;
$color-7900:#9F0001;
$color-8000:#217346;
$color-8100:#0606e3;
$color-8200:#88a0c4;
$color-8300:#feca37;
$color-8400:#0176bd;
$color-8500:#0d0d0d;





//  scrollbar color
$scroll-colors:(
track-main:#000,    
thumb-hover:#a8a8a8,
track:#f1f1f1,
thumb:#c1c1c1,
main:#696969,
gradient:rgba(0, 0, 0, 0),
);
















//  font-families 
$font-family-primary:sans-serif;
$font-family-main:cursive;
$font-family-main:sans-serif;
$font-family-secondary:cursive;

//  paddings

