// :host::ng-deep{
//     .tableFixHead{
//         height: auto !important;
//     }
// }
// smart-table{
//     display: block;
//     max-height: calc(100vh - 370px);
//     overflow: auto;
// }

#devices{
    :host::ng-deep{
        .suggestion{
            text-transform: uppercase !important;
        }
    }
}
.exel-icon {
    font-size: 30px;
    color: #217346;
  }

table{
    margin-bottom: 0rem;
    thead{
       display: table;
       //width: 100%;
       table-layout: fixed;
       th{
        padding: .2rem!important;
        background: #fff!important;
        border: 6px solid #000!important;
        min-width: 135px;
        word-break: keep-all;
        white-space: nowrap;
       }
     
     
    }
  
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 238px);
        tr{
          display: table;
          table-layout: fixed;
          width: 100%;
        }
    
    }
  }