//  background colors


$bg-primary:#3366ff;
$bg-secondary:#1a2138;
$bg-cosmic:rgb(17, 0, 77);


//  common margin
$margin-xss:3px; 
$margin-xs:5px;
$margin-sm:8px;
$margin-md:10px;
$margin-lg:15px;
$margin-xl:30px;
$margin-xxl:60px;


//  paddings 
$padding-xss:3px;
$padding-xs:5px;
$padding-sm:8px;
$padding-md:10px;
$padding-lg:15px;
$padding-xl:30px;
$padding-xxl:60px;

//  font size
$font-xss:8px;
$font-xs:10px;
$font-sm:12px;
$font-md:16px;
$font-lg:20px;
$font-xl:24px;
$font-xxl:36px; 




//  text colors
// $text-main:;
// $text-primary:;
// $text-secondary:;
// $text-info:;
// $text-danger:;
