//  common sizes
$xss:5px; 
$xs:8px;
$sm:12px;
$md:16px;
$lg:22px;
$xl:30px;
$xxl:60px;

$lh-xss:5px;
$lh-xs:8px;
$lh-sm:12px;
$lh-md:16px;
$lh-lg:20px;
$lh-xl:36px;
$lh-xxl:48px;


//  boorder-radious
$radious-xxs:3px;
$radious-xs:5px;
$radious-sm:8px;
$radious-md:10px;
$radious-lg:15px;
$radious-xl:30px;
$radious-xxl:60px;



//  common margin
$margin-xxs:3px; 
$margin-xs:5px;
$margin-sm:8px;
$margin-md:10px;
$margin-lg:15px;
$margin-xl:30px;
$margin-xxl:60px;



//  paddings 
$padding-xxs:3px;
$padding-xs:5px;
$padding-sm:8px;
$padding-md:10px;
$padding-lg:15px;
$padding-xl:30px;
$padding-xxl:60px;



//  font size
$hl-xss:36px;
$hl-xs:42px;
$hl-sm:48px;
$hl-md:56px;
$hl-lg:64px;
$hl-xl:78px;
$hl-xxl:96px;



//  all font sizes
$font-sm-sm:8px;
$font-sm-md:9px;
$font-sm-lg:10px;
$font-sm-xl:11px;
$font-sm-xxl:12px;

$font-md-sm:14px;
$font-md-md:16px;   
$font-md-lg:18px;
$font-md-xl:20px;   
$font-md-xxl:22px;

$font-lg-sm:24px;
$font-lg-md:26px;
$font-lg-lg:28px;
$font-lg-xl:30px;
$font-lg-xxl:32px;

$font-xl-sm:36px;
$font-xl-md:42px;
$font-xl-lg:48px;
$font-xl-xl:52px;
$font-xl-xxl:56px;


$font-xxl-sm:64px;
$font-xxl-md:72px;
$font-xxl-lg:78px;
$font-xxl-xl:84px;
$font-xxl-xxl:96px;


//  font-weight
$lighter:300;
$light:400;
$normal:500;
$bold:600;
$bolder:700;
$extra-bold:800;
$megabold:900;



