<div class="modal-header">
  <h5>Add Table</h5>
  <button type="button" class="close" aria-label="Close" (click)="close(false)">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div  class="modal-body">
  <div>
      <div style="width: 100%;">
          <div>

              <div class="row">

                  <div  class="col-6" style="margin-top: 1rem;" *ngFor="let dd of AdditionalFields ; let i = index; " >
                      <span *ngIf="AdditionalFields[i].param_name" class="row">
                          <div class="col-4">
                              <label>{{AdditionalFields[i].param_name}} <span style="color: red"
                                      *ngIf="AdditionalFields[i].is_required">*</span></label>
                          </div>

                          <div class="col-8">
                              <input type="text" class="form-control" [(ngModel)]=AdditionalFields[i].param_value
                                  *ngIf="AdditionalFields[i].param_type == 'text'  && !AdditionalFields[i].r_fixedvalues">
                              <input type="number" class="form-control" [(ngModel)]=AdditionalFields[i].param_value
                                  *ngIf="AdditionalFields[i].param_type == 'number'  && !AdditionalFields[i].r_fixedvalues">
                              <uj-date-time-picker (onChanged)="AdditionalFields[i].param_value = $event"
                                  [dateTimeValue]="AdditionalFields[i].param_value" *ngIf="AdditionalFields[i].param_type =='date'"
                                  [isTime]="false">
                              </uj-date-time-picker>
                          </div>
                      </span>
                  </div>
              </div>

          </div>

      </div>
  </div>
  <!-- end: dym field -->
  <div class="row">
      <div class="col-12 text-right">
          <button type="button" class="btn btn-primary btn-sm"
              (click)="addTransaction()">Add</button>
      </div>
  </div>
</div>