@import '../../../app/style';

.main {
    width: 90%;
    margin: auto;
    background: $light-1;
    padding: $padding-md*2;
    height: 80vh;
    border-radius: $radious-lg;
    position: relative;
    overflow: hidden;
}
.main::after {
   content: "";
   position: absolute;
    background-image: url("assets/images/Graphics-01-02.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 60%;
    height: 100%;
    left: -2px;
    top: 0;
    overflow: hidden;
}
.main::before {
    content: "";
    position: absolute;
     background-image: url("assets/images/Circle-02.png");
     background-repeat: no-repeat;
     background-size: contain;
     background-position: right;
     width: 10%;
     height: 20%;
     right: -15px;
     top: -2px;
     overflow: hidden;
 }
.login-form{
    width: 40%;
    margin-left: auto;
    padding: 20px 30px;
    i{
        color: #2ca9e0;
    }
}
.logo
{
    text-align: center;
 img{
   width: 300px;
}
}


.title {
    color: $darkblue;
    margin-top: 20px;
}

.sub-title {
    color:$light-1;
    font-weight: normal;
    font-size: $font-sm-xxl;
    letter-spacing: 0.2px;
    font-family: $font-family-secondary;
    line-height: $lh-lg;
}

input {
    background: transparent !important;
    color: #8f8c8c!important;
    padding: 4px 0px !important;
    font-weight: 400;
    font-size: 16px!important;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #bfbfbf !important;
    width: 85%;
    margin: auto;
    letter-spacing: 0.8px;
}
.form-control:focus {
    box-shadow: none;
}
input::placeholder{
    color: #8f8c8c;
   font-size: 16px!important;
}

.btn {
    border-radius: 8px;
    background: #ff5722 !important;
    width: auto;
    min-width: 150px;
    margin: auto;
    height: 44px;
    border: none;
    padding: 5px 20px!important;
    box-shadow: 0px 5px 13px #cbcbcb;
    -webkit-box-shadow: 0px 5px 13px #cbcbcb;
    margin-top: 70px;
}

.back-icon {
    position: absolute;
    color:$light-1;
    font-size:$font-md-xl;
    cursor: pointer;
}

.error {
    font-size:$font-sm-xxl;
    color:$light-1;
    // color: $primary-11;
    margin-top: 3px;
    margin-left: 25px;
}

.resendOtp {
    color:$light-1;
    margin-left: 25px;
    font-size:$font-sm-xxl;
}

.blink {
    background-color: transparent;
    text-align: center;
}

span {
    font-size: 25px;
    font-family: cursive;
    color: $light-1;
    animation: blink 5s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
        color: $light-1;
    }
    0% {
        opacity: 0.25;
        color: $light-1;
    }
    50% {
        opacity: 0.5;
        color: $light-1;
    }
    0% {
        opacity: 0.75;
        color: $primary-11;
    }
    100% {
        opacity: 1;
        color: $primary-11;
    }
}

:host ::ng-deep .qrClass {
    text-align: center;
    cursor: none;
}

 :host ::ng-deep .qr-class img {
    height: 300px;
    width: 300px;
    border: 1px solid #dadada;
    box-shadow: 3px 3px 7px #dedede;
    -webkit-box-shadow: 3px 3px 7px #dedede;
}