@import '../../style.scss';

:host ::ng-deep .gray {
    color: $color-2100;
}

:host ::ng-deep .fa-grip-horizontal {
    color: $color-2700;
}

:host ::ng-deep .fa-handshake {
    color: $color-2800;
}