<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-8">
                <h5 class="heading-design">On Site Images</h5>
            </div>
        </div>


    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-4">
                        <label>Start Date</label>
                    </div>
                    <div class="col-8">
                        <uj-date-time-picker style="z-index: 999;" (onChanged)="startDate=($event)" [dateTimeValue]="startDate" [isTime]="false">
                        </uj-date-time-picker>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="row">
                    <div class="col-4">
                        <label>End Date</label>
                    </div>
                    <div class="col-8">
                        <uj-date-time-picker style="z-index: 999;" (onChanged)="endDate=($event)" [dateTimeValue]="endDate" [isTime]="false">
                        </uj-date-time-picker>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="row">
                    <div class="col-7">
                        <button type="submit" id="submit" (click)="getAdminReportsByUser()" class="btn btn-primary mr-2 btn-sm">Submit</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="mt-1">
            <smart-table *ngIf="adminReportList && adminReportList.length>0" [data]="table.data" [settings]="table.settings" id="adminReports"></smart-table>
        </div>
    </nb-card-body>

    <!--start: transActionList modal -->
    <div class="modal" id="transActionList">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Txn Actions</h5>
                    <button type="button" class="close" data-dismiss="modal" (click)="closeTransActionListModal()">&times;</button>
                </div>
                <div class="modal-body p-0">
                    <smart-table [data]="tableTransActionList.data" [settings]="tableTransActionList.settings" id="tableTransActionList" class="sl-smart-table"></smart-table>
                </div>
            </div>
        </div>
    </div>
    <!--end: transActionList modal -->

</nb-card>