<div class="modal-header">
    <h5>{{title | titlecase}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-9">
            <div class="row mt-1 chat_block" #chat_block>
                <div class="col-12" *ngFor="let msg of messageList;">
                    <div *ngIf="loginUserId == msg._userid" class="active_chat" lastMsgBy=msg.added_by>
                        {{msg.comment}}
                        <span>{{msg.added_date}}</span>
                    </div>
                    <div *ngIf="loginUserId != msg._userid" class="other_chat" [ngClass]="(msg._id>lastSeenId)? 'shake animated slow':''">
                        {{msg.comment}}
                        <span>{{msg.added_by +" "+msg.added_date}}</span>
                    </div>
                </div>
                <div *ngIf="showLoading" class="col-12 text-center">
                    <div class="spinner-border"></div>
                </div>
            </div>

            <div class="row mt-1 bottom-block">
                <div class="col-9">
                    <textarea name="taskMessage" class="form-control" placeholder="New Comment" [(ngModel)]="taskMessage"></textarea>
                </div>
                <div class="col-3 text-right button-box">
                    <button class="btn btn-primary text-capitalize" id="button" (click)="(common.params.fromPage == 'campaign')? saveLeadMessage() :saveTicketMessage()">Send
                  </button>
                </div>
            </div>
        </div>
        <div class="col-3 p-0" style="border-left:1px solid black;">
            <table *ngIf="common.params.fromPage != 'campaign'" width="100%">
                <tr valign="top" class="bg-lightblue">
                    <td>By:</td>
                    <td>{{(userListByTask['taskUsers'])?userListByTask['taskUsers'][0].assignby:''}}</td>
                </tr>
                <tr valign="top" class="bg-lavender">
                    <td>To:</td>
                    <td *ngIf="!showAssignUserAuto">{{(userListByTask['taskUsers'])?userListByTask['taskUsers'][0].assignto:''}}
                        <button *ngIf="userListByTask['taskUsers'] && (userListByTask['taskUsers'][0]._assignee_user_id == loginUserId || userListByTask['taskUsers'][0]._aduserid == loginUserId) && (ticketType == 101 || ticketType == 102)" class="btn btn-primary btn-sm" title="assign to new user"
                            (click)="showAssignUserAuto=1"><i
                            class="fa fa-plus"></i></button>
                    </td>
                    <td *ngIf="showAssignUserAuto==1">
                        <auto-suggestion (onSelected)="newAssigneeUser = $event" [data]="adminList" display="name" seperator="-" placeholder="Search Assignee User" autocomplete="off" name="assigneeUser" inputId="assigneeUser">
                        </auto-suggestion>
                        <button class="btn btn-primary btn-sm" (click)="updateTaskAssigneeUser()"><i
                            class="fa fa-check"></i></button>
                    </td>
                </tr>
                <tr valign="top" class="bg-lavenderblush" *ngIf="userListByTask['taskUsers'] && userListByTask['taskUsers'][0].project_owner">
                    <td>PO:</td>
                    <td>{{(userListByTask['taskUsers'])?userListByTask['taskUsers'][0].project_owner:''}}</td>
                </tr>
                <tr valign="top" class="bg-lightcyan" *ngIf="userListByTask['projectUsers'] && userListByTask['projectUsers'].length>0">
                    <td>PU:</td>
                    <td><span *ngFor="let pu of userListByTask.projectUsers;let i = index">{{pu.project_user}}<br></span></td>
                </tr>
                <tr valign="top" class="bg-aliceblue" *ngIf="userListByTask['ccUsers'] && userListByTask['ccUsers'].length>0">
                    <td>CC:</td>
                    <td><span *ngFor="let ccu of userListByTask.ccUsers;let i = index">{{ccu.cc_user}}<br></span></td>
                </tr>
                <tr valign="top" class="bg-lavenderblush" *ngIf="userListByTask['taskUsers'] && userListByTask['taskUsers'][0].esc_user">
                    <td>EU:</td>
                    <td>{{(userListByTask['taskUsers'])?userListByTask['taskUsers'][0].rep_user:''}}</td>
                </tr>
                <tr valign="top" class="bg-lightcyan" *ngIf="userListByTask['taskUsers'] && userListByTask['taskUsers'][0].rep_user">
                    <td>RU:</td>
                    <td>{{(userListByTask['taskUsers'])?userListByTask['taskUsers'][0].rep_user:''}}</td>
                </tr>
                <tr valign="top" *ngIf="taskId && taskId>0">
                    <td colspan="2" class="pt-2">
                        <auto-suggestion (onSelected)="newCCUserId = $event.id" [data]="adminList" display="name" seperator="-" placeholder="Search User" autocomplete="off" name="ccUser" inputId="ccUser">
                        </auto-suggestion>
                        <button class="btn btn-primary btn-sm mt-1" (click)="addNewCCUserToTask()">Add CC User</button>
                    </td>
                </tr>
            </table>

            <!-- start: lead users -->
            <table *ngIf="common.params.fromPage == 'campaign'" width="100%">
                <tr valign="top" class="bg-lightblue">
                    <td>By:</td>
                    <td>{{(userListByTask['leadUsers'])?userListByTask['leadUsers'][0].assignby:''}}</td>
                </tr>
                <tr valign="top" class="bg-lavender">
                    <td>PO:</td>
                    <td *ngIf="!showAssignUserAuto">{{(userListByTask['leadUsers'])?userListByTask['leadUsers'][0].primary_owner:''}}
                        <button *ngIf="userListByTask['leadUsers'] && (userListByTask['leadUsers'][0]._pri_own_id == loginUserId || userListByTask['leadUsers'][0]._aduserid == loginUserId)" class="btn btn-primary btn-sm" title="assign to new user" (click)="showAssignUserAuto=1"><i
                            class="fa fa-plus"></i></button>
                    </td>
                    <td *ngIf="showAssignUserAuto==1">
                        <auto-suggestion (onSelected)="newAssigneeUser = $event" [data]="adminList" display="name" seperator="-" placeholder="Search Primary Owner" autocomplete="off" name="primaryOwner" inputId="primaryOwner">
                        </auto-suggestion>
                        <button class="btn btn-primary btn-sm" (click)="updateLeadPrimaryOwner()"><i
                            class="fa fa-check"></i></button>
                    </td>
                </tr>
                <tr valign="top" class="bg-aliceblue" *ngIf="userListByTask['ccUsers'] && userListByTask['ccUsers'].length>0">
                    <td>CC:</td>
                    <td><span *ngFor="let ccu of userListByTask.ccUsers;let i = index">{{ccu.cc_user}}<br></span></td>
                </tr>
                <tr valign="top">
                    <td colspan="2" class="pt-2">
                        <auto-suggestion (onSelected)="newCCUserId = $event.id" [data]="adminList" display="name" seperator="-" placeholder="Search User" autocomplete="off" name="ccUser" inputId="ccUser">
                        </auto-suggestion>
                        <button class="btn btn-primary btn-sm mt-1" (click)="addNewCCUserToLead()">Add CC User</button>
                    </td>
                </tr>
            </table>
            <!-- end : lead users -->
        </div>
    </div>

</div>