<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-4">
        <h5 class="heading-design">Kanban Board <label *ngIf="dashboardState">({{project.project_desc}})</label>
        </h5>
      </div>
      <div class="col-4">
        <div class="row" *ngIf="dashboardState">
          <div class="col-4">
            <input type='search' class="form-control" placeholder="Search" style="width: 100%;"
              (search)="getFilteredCard($event.target.value)">
          </div>
          <div class="col-5 verticalOverflow p-0">
            <div class="user-labels">
              <div class="label-insider">
                <div class="userProfileIcons cursor-pointer" id="{{user.id}}" title="{{user.user_label}}"
                  (click)="getCardsByUser(user.id)" [style.background]="user.color" *ngFor="let user of cardsUserGroup">
                  {{user.name}}
                </div>
              </div>

            </div>

          </div>
          <div class="col-3 p-0">
            <button class="btn btn-primary ml-2" (click)="resetUserFilter()"
              *ngIf="filterUserGroup.length > 0">Clear</button>
          </div>
        </div>
      </div>


      <!--Start: For List Screen -->
      <!-- <div class="col-2" *ngIf="!dashboardState">
        <auto-suggestion (onSelected)="projectType = $event" display="name" [data]="typeList" placeholder="Select Type"
          seperator="-" [preSelected]="projectType.id >=0 ? {name:projectType.name} : {name:''}"
          className="borderStyle">
        </auto-suggestion>
      </div> -->
      <div class="col-4 text-right" *ngIf="!dashboardState">
        <!-- <button class="btn btn-primary mr-2" *ngIf="dashboardState"><i class="fa fa-filter"
            aria-hidden="true"></i>Filter</button> -->
        <button class="btn btn-primary" (click)="goToBoard({_id:null,project_desc:'All My Issues'},0,'parent')"
          (click)="activeButton = 'to'">My All
          Issues</button>
      </div>
      <!--Start: For List Screen -->


      <!--Start: For Board Screen -->
      <div class="col-2" *ngIf="dashboardState">
        <auto-suggestion (onSelected)="goToBoard($event,1,'parent')" display="project_desc" [data]="projectList"
          placeholder="Select Project" seperator="-" [preSelected]="{project_desc:project.project_desc}"
          className="borderStyle" inputId="_id">
        </auto-suggestion>
      </div>
      <div class="col-2 text-right" *ngIf="dashboardState">
        <!-- <button class="btn btn-primary mr-2" *ngIf="dashboardState"><i class="fa fa-filter"
            aria-hidden="true"></i>Filter</button> -->

        <button class="btn btn-primary mr-2" id="taskpopup" title="Add Normal Task" (click)="showTaskPopup()"> Add Task
          <!-- <img src="./assets/images/addtask.svg" alt="Add Normal Task"> -->
        </button>

        <button class="btn btn-primary" (click)="goToList()">Back</button>
      </div>
      <!--Start: For Board Screen -->
    </div>
  </nb-card-header>

  <nb-card-body>

    <div class="row" *ngIf="!dashboardState">
      <div class="col-12">
        <smart-table *ngIf="projectList.length!=0" [data]="projectListTable.data" [settings]="projectListTable.settings"
          id="processList" class="sl-smart-table">
        </smart-table>
      </div>
    </div>



    <div class="row" style="padding: 0 0 9px 9px;" *ngIf="dashboardState">
      <!-- <div class="col-2">
        <button class="btn btn-primary" (click)="getTaskByType()">Other Issues</button>
      </div> -->
      <div class="col-6" *ngFor="let state of taskStatusBarData;let i = index">
        <div class="row" *ngIf="!project._id">
          <!-- <div class="col-4 font-weight-bold" style="vertical-align: center;">Currently Working</div> -->
          <div class="col-1 my-auto" *ngIf="taskStatusBarData[0].data[0]">
            <span *ngIf="state.data[0]['log_start_time']"
              (click)="getUserPermission(state.data[0], 1,state.data[0]['log_start_time'],common.getDate())"><i
                title="Pause" class="fas fa-pause-circle text-primary font-size-20 cursor-pointer"></i></span>
            <span *ngIf="!state.data[0]['log_start_time']"
              (click)="saveActivityLog(state.data[0], 0,0,common.getDate(),null)"><i title="Play"
                class="fas fa-play-circle text-primary font-size-20 cursor-pointer"></i></span>
          </div>

          <div class="col-7 cardContainerProgress" cdkDropList [cdkDropListData]="state.data"
            (cdkDropListDropped)="drop($event);" [id]="state.id">
            <div class="row small ml-1 mr-1" *ngIf="!taskStatusBarData[0].data[0]">Drop your card here to start a
              worklog</div>
            <div class="row inprocessCardStyle" *ngFor="let data of state.data" (click)="ticketMessage(data,null)"
              cdkDrag>
              <div class="col-12 text-left title">
                <h5 [style.color]="data.type_color" title="{{data.title + '\n' + data._task_desc}}"
                  class="mb-0 cardTitleStyle">{{data.title}}</h5>
              </div>
              <!-- <div class="col-12 text-left">
                <label class="cardTitleStyle font-weight-bold cursor-pointer" title="{{data._project_type}}" >{{data._project_type}}</label>
              </div> -->
            </div>
            <!-- <div class="row align-items-center" *ngIf="taskStatusBarData[0].data[0]">
              <div class="col-4 pr-0">
                <button *ngIf="state.data[0]['log_start_time']" class="btn btn-primary timer-btn" (click)="saveActivityLog(state.data[0], 1,state.data[0]['log_start_time'],common.getDate())">Pause</button>
                <button *ngIf="!state.data[0]['log_start_time']" class="btn btn-primary timer-btn" (click)="saveActivityLog(state.data[0], 0,common.getDate(),null)">Start</button>
              </div>
              <div class="col-4 pr-0 pl-0 small" id="timer"><i class="far fa-clock"></i>  {{inprogressTimer}}</div>
              <div class="col-4 pl-0 text-right"><button class="btn btn-primary timer-btn" (click)="saveActivityLog(state.data[0], 0,state.data[0]['log_start_time'],common.getDate())">Done</button></div>
            </div> -->
          </div>

          <div class="col-1 my-auto" *ngIf="taskStatusBarData[0].data[0]">
            <span (click)="getUserPermission(state.data[0], 0,state.data[0]['log_start_time'],common.getDate())"><i
                title="Mark Done" class="fas fa-stop-circle text-primary font-size-20 cursor-pointer"></i></span>
          </div>

          <div class="col-3 pr-0 pl-0 small my-auto" id="timer"><i class="far fa-clock"
              *ngIf="taskStatusBarData[0].data[0]"></i> {{inprogressTimer ? common.findRemainingTime(inprogressTimer) :
            null}}</div>
        </div>
      </div>

      <div class="col-6 text-right my-auto" *ngIf="project._id">
        <div class="row">
          <div class="col-8" *ngIf="childProject.length > 0">
            <auto-suggestion display="project_desc" (onSelected)="goToBoard($event,1,'child')" [data]="childProject"
              placeholder="Select Sub Project" seperator="-" [preSelected]="{project_desc:subProject.project_desc}"
              className="borderStyle" inputId="_id">
            </auto-suggestion>
          </div>
          <div [ngClass]="childProject.length > 0 ? 'col-4' : 'col-12'">
            <button class="btn btn-primary" (click)="goToBoard({_id:null,project_desc:'All My Issues'},0,'parent')"
              (click)="activeButton = 'to'">My All
              Issues</button>
          </div>
        </div>
        <!-- <button class="btn btn-primary" (click)="issueSort(0)" *ngIf="issueCategory">My Issues</button>
        <button class="btn btn-primary" (click)="issueSort(1)" *ngIf="!issueCategory">All Issues</button> -->
      </div>

      <div class="col-6 text-right my-auto" *ngIf="!project._id">
        <button class="btn customBtn-primary" [class.buttonActive]="activeButton === 'to'"
          (click)="activeButton = 'to';getDashboardByType(0)">To</button>
        <button class="btn customBtn-primary" [class.buttonActive]="activeButton === 'by'"
          (click)="activeButton = 'by';getDashboardByType(2)">By</button>
        <button class="btn customBtn-primary" [class.buttonActive]="activeButton === 'cc'"
          (click)="activeButton = 'cc';getDashboardByType(3)">CC</button>
      </div>
    </div>

    <div class="row stateContainer" id="cardField" *ngIf="dashboardState">
      <div class="stateContainerStyle" [style.width.%]="100/cardlength" *ngFor="let card of cards;let i = index">
        <div class="stateStatusBar" [style.background]="card.color"></div>
        <!-- background: {{data.color}};-->
        <div class="title">
          <div class="strip" [style.background]="card.color">
          </div>
          <h5 class="stateTitleStyle" title="{{card.title}}">{{card.title}}<small
              *ngIf="card.cardCount > 0">({{card.cardCount}})</small></h5>
        </div>
        <!-- <div class="stateTansActCountStyle">
          <label>{{card.normalTaskCount}} Normal / {{card.scheduleTaskCount}} Schedule</label>
        </div> -->

        <div class="cardStyle" cdkDropList [cdkDropListData]="card.data" (cdkDropListDropped)="drop($event);"
          [id]="card.title" [cdkDropListConnectedTo]="card.connectedto">

          <div class="row shadow-sm" [ngClass]="data._tktype === 103 ? 'ScheduledStyle' : 'NormalStyle'"
            [id]="data._tktid" *ngFor="let data of card.data;let i = index" cdkDrag
            (cdkDragStarted)="onDragStarted($event)" (cdkDragEnded)="onDragEnded($event)"
            (cdkDragMoved)="movedIn($event)" (cdkDragEntered)="onDragEntered($event,i)"
            (click)="(data._tktid) ? ticketMessage(data,null) : null"
            [cdkDragDisabled]="project._id && data.userid != loggedInUser">
            

            <div class="progress progress-bar-vertical" title="{{data._progress}}">
              <div class="progress-bar active" [style.background]="data.progress" [style.height]="(data._progress)?data._progress+'%':'3%'" role="progressbar"
               aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >
              </div>
            </div>


            <div class="col-12">
              <h5 [style.color]="data.type_color" title="{{data.title + '\n' + data._task_desc}}"
                class="mb-0 cardTitleStyle">{{data.title}}</h5>
            </div>

            <div class="col-12"><label class="cardTitleStyle font-weight-bold cursor-pointer"
                title="{{data._project_type}}"
                (click)="[101,102].includes(data._tktype) ? openUpdateTaskProject($event,data) : null">{{data._project_type}}</label>
            </div>

            <div class="col-12"><label class="cardTitleStyle" [ngClass]="data.text_color">{{data.due_date}}</label>
            </div>
            <!-- <div class="col-12">
              <label class="cardTitleStyle" title="{{data._task_desc}}">{{dat a._task_desc}}</label>
            </div> -->
            <div class="col-12 pb-2">
              <div class="row">
                <div class="col-8">
                  <i class="fas fa-arrow-up" [ngClass]="(data.priority)?'text-danger':'text-warning'"
                    [title]="(data.priority)?'High Priority':'Low Priority'"></i>
                  <i *ngIf="data._reply_demanded > 0" class="fa fa-comments text-danger pl-1" aria-hidden="true"
                    title="Reply Demanded"></i>
                  <i *ngIf="data._tktype === 103" class="far fa-clock text-warning pl-1" title="Schedule Task"></i>
                  <label class="pl-1" style="font-size: 12px;">{{data.age}}</label>
                  <div>{{data.status}}</div>
                </div>
                <div class="col-4">
                  <div class="rounded-circle" [style.background]="project._id ? '#008000' : '#3366ff'"
                    title="{{data.user_label}}">{{data.user}}</div>
                </div>
              </div>
            </div>

            <!-- <div class="col-12" style="height: 2px" [style.background]="data.statusColor" title="{{data._progress}}%"></div> -->
          </div>

        </div>
      </div>
    </div>

  </nb-card-body>

  <!-- 
  <div class="modal" id="otherTaskModal" #otherTaskModal>
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Other Tasks</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="closeotherTaskModal()">&times;</button>
        </div>
        <div class="modal-body">
          <div style="height: 180px;overflow: auto;">
            <div class="row otherTaskListStyle cursor-pointer" *ngFor="let other of completeOtherTask;let i = index"
              (click)="insertFromOtherToProgress(other,i)"
              [ngClass]="{'focusOtherTaskList' : otherTaskActiveTab === i}">
              <div class="col-6" style="white-space: nowrap;">
                {{other.task_subject}}
              </div>
              <div class="col-6 text-right">
                {{other.assignedAs}}
              </div>
            </div>
          </div>

          <div>
            <div class="row m-2" style="float: right;">
              <button class="btn btn-primary" (click)="assignTaskToProgress()">In Progress</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <div class="modal" id="taskStatus" #taskStatus>
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Task Status</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="closeotherTaskStatus()">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row m-0">
            <div class="col-12 p-0">
              <!-- <label><progress max="100" min="0" [value]="activityProgressStatus" type="danger"></progress></label> -->
              <input type="range" id="activityProgressStatus" class="col-12 p-0" name="activityProgressStatus" step="5"
                min="0" max="100" [(ngModel)]="taskProgressStatus">
            </div>

          </div>

          <div class="row m-0">
            <div class="col-6 p-0">
              {{taskProgressStatus}}% Done
            </div>
            <div class="col-6 p-0 text-right">
              <button class="btn btn-primary" (click)="onProgressSave()">Confirm</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</nb-card>