:host ::ng-deep .fa-grip-horizontal {
    color: #07f8d4;
}

:host ::ng-deep .fa-handshake {
    color: #00f;
}

:host ::ng-deep #tableOwnedByMe,
:host ::ng-deep #tableLeadsForMe,
:host ::ng-deep #tableLeadsByMe,
:host ::ng-deep #tableCcLeads,
:host ::ng-deep #tableUnreadLeads {
    th:nth-child(5) {
        width: 300px;
    }
}

smart-table {
    display: block;
    max-height: calc(100vh - 168px);
    overflow: auto;
}

.sl-smart-table {
    max-height: calc(100vh - 204px);
}


:host ::ng-deep .font-weight-bold {
    font-weight: 600;
}

