<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-4">
                <h5 class="heading-design">My Process Dashboard</h5>
            </div>
            <div class="col-5">
                <span style="display: flex;">
                    <auto-suggestion class="form-controls col-9 p-0 searchselect" [data]="processList" display="name" placeholder="Search Process" inputId="ProcessSearch" name="ProcessSearch" #searchedProcess></auto-suggestion>
                    <button class="btn btn-primary btn-sm" (click)="openDynamicDashboard(searchedProcess.selectedSuggestion._id,searchedProcess.selectedSuggestion.name)">Search</button>
                </span>
            </div>
            <div class="col-3 text-right">
                <button class="btn btn-primary btn-sm mr-2" (click)="common.gotoPage('/pages/task')" title="go to task"><i class="fas fa-tasks"></i></button>
                <!-- <button class="btn btn-primary btn-sm mr-2" id="csvCmapaign" (click)="uploadDataByCsv()">Csv </button> -->
                <button class="btn btn-primary btn-sm" id="addLead" (click)="addTransaction()"><i
                class="fa fa-plus"></i></button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="tabs_style_main">
            <ul class="tabs_style text-left">
                <li [ngClass]="activeTab=='leadsForMe'?'active':''" (click)="activeTab='leadsForMe'; getProcessLeadByType(1)">
                    Action For Me
                </li>
                <li [ngClass]="activeTab=='leadsByMe'?'active':''" (click)="activeTab='leadsByMe';activeSabTab=0; getProcessLeadByType(2)">
                    Txn By Me
                </li>
                <li [ngClass]="activeTab=='ownedByMe'?'active':''" (click)="activeTab='ownedByMe'; getProcessLeadByType(6)">
                    Owned By Me
                </li>
                <li [ngClass]="activeTab=='admintxn'?'active':''" (click)="activeTab='admintxn'; getProcessLeadByType(7)">
                    Admin Txn
                </li>
                <li [ngClass]="activeTab=='ccLeads'?'active':''" (click)="activeTab='ccLeads'; getProcessLeadByType(3)">
                    CC Txn
                </li>
                <li [ngClass]="activeTab=='allCompletedLeads'?'active':''" (click)="activeTab='allCompletedLeads';resetSearchData(); getProcessLeadByType(4)">
                    Completed Txn
                </li>
                <li [ngClass]="activeTab=='missingOwnLeads'?'active':''" (click)="activeTab='missingOwnLeads'; getProcessLeadByType(0)">
                    Missing Owner Txn
                </li>
                <li [ngClass]="activeTab=='unassignedLeads'?'active':''" (click)="activeTab='unassignedLeads'; getProcessLeadByType(-1)">
                    Unassigned Txn
                </li>
                <li [ngClass]="activeTab=='unreadLeads'?'active':''" (click)="activeTab='unreadLeads'; getProcessLeadByType(5)">
                    Unread Txn
                </li>
            </ul>
        </div>

        <div *ngIf="activeTab=='leadsForMe'">
            <smart-table [data]="tableLeadsForMe.data" [settings]="tableLeadsForMe.settings" id="tableLeadsForMe">
            </smart-table>
        </div>

        <div *ngIf="activeTab=='leadsByMe'">
            <ul class="tabs_style text-left">
                <li [ngClass]="!activeSabTab?'active':''" (click)="activeSabTab=0;  getProcessLeadByType(2)">
                    Pending
                </li>
                <li [ngClass]="activeSabTab==1?'active':''" (click)="activeSabTab=1;resetSearchData(); getProcessLeadByType(8)">
                    Completed
                </li>
            </ul>
            <div *ngIf="!activeSabTab">
                <smart-table [data]="tableLeadsByMe.data" [settings]="tableLeadsByMe.settings" id="tableLeadsByMe">
                </smart-table>
            </div>
            <div *ngIf="activeSabTab==1">
                <div class="row mb-2" style="z-index: 999;">
                    <div class="col-4">
                        <uj-date-time-picker [isStart]="true" [isTime]="false" (onChanged)="searchData.startDate=$event" [dateTimeValue]="searchData.startDate">
                        </uj-date-time-picker>
                    </div>
                    <div class="col-4">
                        <uj-date-time-picker [isStart]="true" [isTime]="false" (onChanged)="searchData.endDate=$event" [dateTimeValue]="searchData.endDate">
                        </uj-date-time-picker>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary text-capitalize" id="button" (click)="getProcessLeadByType(8)">Search</button>
                    </div>
                </div>
                <smart-table [data]="tableLeadsByMe.data" [settings]="tableLeadsByMe.settings" id="tableLeadsByMe">
                </smart-table>
            </div>
        </div>

        <div *ngIf="activeTab=='ccLeads'">
            <smart-table [data]="tableCcLeads.data" [settings]="tableCcLeads.settings" id="tableCcLeads">
            </smart-table>
        </div>
        <div *ngIf="activeTab=='allCompletedLeads'">
            <div class="row mb-2" style="z-index: 999;">
                <div class="col-4">
                    <uj-date-time-picker [isStart]="true" [isTime]="false" (onChanged)="searchData.startDate=$event" [dateTimeValue]="searchData.startDate">
                    </uj-date-time-picker>
                </div>
                <div class="col-4">
                    <uj-date-time-picker [isStart]="true" [isTime]="false" (onChanged)="searchData.endDate=$event" [dateTimeValue]="searchData.endDate">
                    </uj-date-time-picker>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary text-capitalize" id="button" (click)="searchAllCompletedLead()">Search</button>
                </div>
            </div>
            <smart-table [data]="tableAllCompletedLeads.data" [settings]="tableAllCompletedLeads.settings" id="tableAllCompletedLeads" class="sl-smart-table">
            </smart-table>
        </div>
        <div *ngIf="activeTab=='unreadLeads'">
            <smart-table [data]="tableUnreadLeads.data" [settings]="tableUnreadLeads.settings" id="tableUnreadLeads">
            </smart-table>
        </div>
        <div *ngIf="activeTab=='missingOwnLeads'">
            <smart-table [data]="tableMissingOwnLeads.data" [settings]="tableMissingOwnLeads.settings" id="tableMissingOwnLeads">
            </smart-table>
        </div>
        <div *ngIf="activeTab=='unassignedLeads'">
            <smart-table [data]="tableUnassignedLeads.data" [settings]="tableUnassignedLeads.settings" id="tableUnassignedLeads">
            </smart-table>
        </div>
        <div *ngIf="activeTab=='ownedByMe'">
            <smart-table [data]="tableOwnedByMe.data" [settings]="tableOwnedByMe.settings" id="tableOwnedByMe">
            </smart-table>
        </div>
        <div *ngIf="activeTab=='admintxn'">
            <smart-table [data]="tableAdminTxn.data" [settings]="tableAdminTxn.settings" id="tableOwnedByMe">
            </smart-table>
        </div>
    </nb-card-body>
</nb-card>