:host ::ng-deep .fa-grip-horizontal {
    color: #07f8d4;
}

:host ::ng-deep .fa-handshake {
    color: #00f;
}

:host ::ng-deep #tableOwnedByMe {
    th:nth-child(4) {
        width: 300px;
    }
}
smart-table{
    display: block;
    height: calc(100vh - 230px);
}
.sl-smart-table{
    height: calc(100vh - 260px);
}