<div class="modal-header">
    <h5 class="m-0">{{title | titlecase}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-header sub-title" *ngIf="subTitle">
    <span [innerHtml]="subTitle" style="white-space: pre-wrap;"></span>
    <div class="action-icon">
        <span><i class="fa fa-files-o text-dark" aria-hidden="true" title="View Attachment" (click)="isAttachmentShow=!isAttachmentShow"></i></span>
        <span><i class="fa fa-eye text-dark" title="View Transaction" (click)="viewTransaction()"></i></span>
        <span><i class="fas fa-plus-square text-primary" title="Primary Info Form" (click)="openPrimaryInfoFormData()"></i></span>
    </div>
</div>
<div class="modal-body">
    <!-- start: view attachment -->
    <div *ngIf="isAttachmentShow" [@openClose]="isAttachmentShow" class="row attachment-view">
        <div class="col-11">
            <ul *ngIf="attachmentList && attachmentList.length>0">
                <li *ngFor="let a of attachmentList; let i =index"><a target="_blank" [href]="a.url" alt="attachemt file">{{a.url}}</a></li>
            </ul>
            <span *ngIf="!attachmentList || !attachmentList.length">No Data Found</span>
        </div>
        <div class="col-1">
            <button type="button" class="close" aria-label="Close" (click)="isAttachmentShow=false">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    </div>
    <!-- end: view attachment -->
    <div class="row">
        <div class="col-6">
            <div class="row mt-1 chat_block" #chat_block>
                <div class="col-12" *ngFor="let msg of messageList;">
                    <div *ngIf="loginUserId == msg._userid" class="active_chat" lastMsgBy=msg.added_by>
                        <!-- {{msg.comment}} -->
                        <label [innerHTML]="msg.comment"></label>
                        <span>{{msg.added_date}}</span>
                    </div>
                    <div *ngIf="loginUserId != msg._userid" class="other_chat" [ngClass]="(msg._id>lastSeenId)? 'new_message':''">
                        <!-- {{msg.comment}} -->
                        <label [innerHTML]="msg.comment"></label>
                        <span>{{msg.added_by +" "+msg.added_date}}</span>
                    </div>
                </div>
                <div *ngIf="showLoading" class="col-12 text-center">
                    <div class="spinner-border"></div>
                </div>
            </div>

            <div class="row mt-1 bottom-block">
                <div class="col-8">
                    <textarea name="taskMessage" class="form-control" placeholder="New Comment" [(ngModel)]="taskMessage"></textarea>
                </div>
                <div col-1>
                    <label class="custom-file-upload">
                        <input type="file" class="file-control" id="chat-attachment" (change)="handleFileSelection($event)">
                        <i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i>
                    </label>
                </div>
                <div class="col-3 text-right button-box">
                    <button class="btn btn-primary text-capitalize" id="button" (click)="saveLeadMessage()">Send
              </button>
                </div>
            </div>
            <div *ngIf="attachmentFile && attachmentFile.name" class="row">
                <div class="col-9">
                    {{attachmentFile.name}}
                    <i class="fa fa-times-circle cursor-pointer text-danger" aria-hidden="true" title="Cancel" (click)="attachmentFile.name=null;attachmentFile.file=null"></i>
                </div>
            </div>
        </div>

        <div class="col-6 p-0" style="border-left:1px solid black;">
            <!-- start: lead users -->
            <table width="100%">
                <tr valign="top">
                    <td class="bg-lightblue"><b>By:</b> {{(userListByTask['leadUsers'])?userListByTask['leadUsers'][0].assignby:''}}</td>

                    <td *ngIf="!showAssignUserAuto" class="bg-lavender">
                        <div class="row">
                            <div class="col-9">
                                <b>PO:</b> {{(userListByTask['leadUsers'])?userListByTask['leadUsers'][0].primary_owner:''}}
                            </div>
                            <div class="col-3 text-right">
                                <!-- <button *ngIf="userListByTask['leadUsers'] && (userListByTask['leadUsers'][0]._pri_own_id == loginUserId || userListByTask['leadUsers'][0]._aduserid == loginUserId)" class="btn btn-primary btn-sm" title="assign new Primary Owner" (click)="showAssignUserAuto=1"> -->
                                <i class="fa fa-plus" *ngIf="userListByTask['leadUsers'] && (userListByTask['leadUsers'][0]._pri_own_id == loginUserId || userListByTask['leadUsers'][0]._aduserid == loginUserId)" title="assign new Primary Owner" (click)="showAssignUserAuto=1"></i>
                                <!-- </button> -->
                                <!-- <i *ngIf="userListByTask['userLogs'] && userListByTask['userLogs'].length>0" class="fa fa-info-circle ml-1" (click)="showLeadUserLogsModal()" title="User Logs"></i> -->
                            </div>
                        </div>
                    </td>
                    <td *ngIf="showAssignUserAuto==1" class="bg-lavender">
                        <div class="row">
                            <div class="col-1">
                                <b>PO:</b>
                            </div>
                            <div class="col-8">
                                <auto-suggestion [style]="'width:80%'" (onSelected)="newAssigneeUser = $event" [data]="adminList" display="name" seperator="-" placeholder="Search Primary Owner" autocomplete="off" name="primaryOwner" inputId="primaryOwner">
                                </auto-suggestion>
                            </div>
                            <div class="col-3 text-right">
                                <!-- <button class="btn btn-primary btn-sm" (click)="updateLeadPrimaryOwner()" title="Add PO"> -->
                                <i class="fa fa-check" (click)="updateLeadPrimaryOwner()" title="Add PO"></i>
                                <!-- </button> -->
                                <!-- <button class="btn btn-primary btn-sm ml-1" (click)="showAssignUserAuto=null" title="Cancel"> -->
                                <i class="fa fa-times" (click)="showAssignUserAuto=null" title="Cancel"></i>
                                <!-- </button> -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr valign="top" class="bg-aliceblue" *ngIf="userListByTask['ccUsers'] && userListByTask['ccUsers'].length>0">
                    <td colspan="2"><b>CC:</b> <span *ngFor="let ccu of userListByTask.ccUsers;let i = index">{{(i>0)?',':''}} {{ccu.cc_user}}</span></td>
                </tr>
                <tr valign="top">
                    <td colspan="2" class="pt-2">
                        <div class="row">
                            <div class="col-9">
                                <auto-suggestion (onSelected)="newCCUserId = $event.id" [data]="adminList" display="name" seperator="-" placeholder="Search User" autocomplete="off" name="ccUser" inputId="ccUser">
                                </auto-suggestion>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-primary btn-sm" (click)="addNewCCUserToLead()">Add CC User</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <!-- end : lead users -->

            <!-- start: target action list -->
            <div class="tabs_style_main mt-2">
                <ul class="tabs_style text-left">
                    <li [ngClass]="activeTab=='actionList'?'active':''" (click)="activeTab='actionList'; getTargetActionData(null)">
                        Actions
                    </li>
                    <li [ngClass]="activeTab=='stateList'?'active':''" (click)="activeTab='stateList'; getTargetActionData(1)">
                        States
                    </li>
                </ul>
            </div>
            <div class="mt-2">
                <smart-table *ngIf="transActionData.length" [data]="tableTransActionData.data" [settings]="tableTransActionData.settings" id="tableTransActionData">
                </smart-table>
            </div>
            <!-- end: target action list -->
        </div>
    </div>

    <!-- start: lead userlogs modal -->
    <div class="modal" id="userLogsModal" #userLogsModal>
        <div class="modal-dialog mt-3">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:#fff;">User Logs</h5>
                    <button type="button" class="close" data-dismiss="modal" (click)="closeLeadUserLogsModal()">&times;</button>
                </div>
                <div class="modal-body p-0">
                    <table *ngIf="userListByTask['userLogs'] && userListByTask['userLogs'].length" class="table table-bordered table-hover">
                        <thead class="thead" style="background-color: #c0b2b2">
                            <tr style="text-align:center">
                                <th>Name</th>
                                <th>Add Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let l of userListByTask['userLogs']; let i = index;" style="text-align:center">
                                <td>{{l.user_name}}</td>
                                <td>{{l.addtime}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end: lead userlogs modal -->

</div>