<div class="modal-header">
    <h5 class="m-0">{{title | titlecase}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-header sub-title" *ngIf="subTitle">
    <span [innerHtml]="subTitle" style="white-space: pre-wrap;"></span>
    <div class="action-icon">
        <span><i class="fa fa-search" aria-hidden="true" title="Search Chat"
                (click)="search();isAttachmentShow=false"></i></span>
        <span><i class="fa fa-files-o" [ngClass]="(attachmentList && attachmentList.length>0) ? 'blue' : ' text-dark'"
                aria-hidden="true" title="View Attachment" (click)="isAttachmentShow=!isAttachmentShow;isSearchShow=false"></i></span>
        <span><i class="fa fa-eye text-dark" title="View Transaction" (click)="viewTransaction()"></i></span>
        <span><i class="fas fa-plus-square text-primary" title="Primary Info Form"
                (click)="openPrimaryInfoFormData()"></i></span>
    </div>
</div>
<div class="modal-body">
    <!-- start: view attachment -->
    <div *ngIf="isAttachmentShow" [@openClose]="isAttachmentShow" class="row attachment-view">
        <div class="col-11">
            <ul *ngIf="attachmentList && attachmentList.length>0">
                <li *ngFor="let a of attachmentList; let i =index">
                    <!-- <a target="_blank" [href]="a.url" alt="attachemt file">{{(a.name) ? a.name : a.url}}</a> -->
                    <span class="blue cursor-pointer" (click)="common.checkFile(a.url,a.name)">{{(a.name) ? a.name :
                        a.url}}</span>
                </li>
            </ul>
            <span *ngIf="!attachmentList || !attachmentList.length">No Data Found</span>
        </div>
        <div class="col-1">
            <button type="button" class="close" aria-label="Close" (click)="isAttachmentShow=false">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <!-- end: view attachment -->
    <div class="row">
        <div class="col-6">
            <ng-template #replyPopContent>
                <ul class="replyPopContent">
                    <li (click)="setReplyWithType(3)" *ngIf="isReplyOnDemand">Answer</li>
                    <li (click)="setReplyWithType(1)">Reply</li>
                </ul>
            </ng-template>
            <ng-template #commentInfoPopContent>
                <span><b>Read Receipts</b></span>
                <ul *ngIf="commentInfo && commentInfo.length" class="replyPopContent">
                    <li *ngFor="let in of commentInfo">{{in.username}}</li>
                </ul>
                <ul *ngIf="!commentInfo || !commentInfo.length" class="replyPopContent">
                    <li>No Data Found</li>
                </ul>
            </ng-template>




            <div *ngIf="isSearchShow" [@openClose]="isSearchShow" class="row search-style">
                <div class="col-11">
                    <div class="row">
                        <div class="col-8">
                            <input id="searchChat" type="search" value="{{searchTerm}}"
                                (change)="searchChat($event.target.value)" class="file-control"
                                style="width: 100%;margin: 5px;">
                        </div>
                        <div class="col-4" style="padding: 5px;">
                            <span>{{searchCount}}/{{searchedIndex.length}}</span>
                            <span class="ml-2" (click)="onchangeIndex('minus')"><i
                                    class="fas fa-arrow-circle-down"></i></span>
                            <span class="ml-2" (click)="onchangeIndex('plus')"><i
                                    class="fas fa-arrow-circle-up"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <button type="button" class="close" aria-label="Close"
                        (click)="isSearchShow=false;reduceFocusHandler()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>


            <div class="row mt-1 chat_block" #chat_block id="chat_block">
                <div class="col-12" *ngFor="let msg of messageList;">
                    <div *ngIf="loginUserId == msg._userid" class="active_chat" lastMsgBy=msg.added_by>
                        <!-- <label [innerHTML]="msg.comment"></label>
                        <span>{{msg.added_date}}</span> -->
                        <div>
                            <span><i *ngIf="msg.reply_pending" class="fa fa-star text-warning" aria-hidden="true"
                                    title="Reply Demanded pending"></i>{{msg.added_date}}</span>
                            <span class="comment_reply">
                                <i class="fa fa-info-circle mr-1" aria-hidden="true" title="info"
                                    [ngbPopover]="commentInfoPopContent" placement="left"
                                    (click)="messageReadInfo(msg._id)"></i>
                                <i class="fa fa-sort-desc" aria-hidden="true" title="Reply"
                                    [ngbPopover]="replyPopContent" placement="left"
                                    (click)="replyToComment(msg,'mine')"></i>
                            </span>
                        </div>
                        <span *ngIf="msg.parent_comment_id>0" class="quoted_msg d-block"
                            [innerHTML]="msg.parent_comment"></span>
                        <label [innerHTML]="msg.comment"
                            [ngClass]="(msg.reply_demanded && !msg.is_send)? 'reply_demand':''"></label>
                    </div>
                    <div *ngIf="loginUserId != msg._userid" class="other_chat"
                        [ngClass]="(msg._id>lastSeenIdForView)? 'new_message':''">
                        <!-- <label [innerHTML]="msg.comment"></label>
                        <span>{{msg.added_by +" "+msg.added_date}}</span> -->
                        <div>
                            <span>{{msg.added_by +" "+msg.added_date}}</span>
                            <span class="comment_reply">
                                <i class="fa fa-info-circle mr-1" aria-hidden="true" title="info"
                                    [ngbPopover]="commentInfoPopContent" placement="right"
                                    (click)="messageReadInfo(msg._id)"></i>
                                <i class="fa fa-sort-desc" aria-hidden="true" title="Reply"
                                    [ngbPopover]="replyPopContent" placement="right"
                                    (click)="replyToComment(msg,'other')"></i>
                            </span>
                        </div>
                        <span *ngIf="msg.parent_comment_id>0" class="quoted_msg d-block"
                            [innerHTML]="msg.parent_comment"></span>
                        <label [innerHTML]="msg.comment"
                            [ngClass]="(msg.reply_demanded && !msg.is_send)? 'reply_demand':''"></label>
                    </div>
                </div>
                <div *ngIf="showLoading" class="col-12 text-center">
                    <div class="spinner-border"></div>
                </div>
            </div>

            <div class="row pt-1 pb-2 bottom-block">
                <!-- <div class="col-8">
                    <textarea name="taskMessage" (paste)="onPaste($event)" maxlength="500" class="form-control" placeholder="New Comment" [(ngModel)]="taskMessage"></textarea>
                </div> -->
                <div *ngIf="parentCommentId>0 && replyType>0" class="col-12 quoted_selected">
                    <label [innerHTML]="parentComment"></label>
                    <span class="comment_reply"><i class="fa fa-times" aria-hidden="true"
                            (click)="resetQuotedMsg()"></i></span>
                </div>
                <div *ngIf="isMentionedUser" class="col-12 mentioned_user p-0">
                    <span *ngFor="let u of mentionedUserList;let i=index;"
                        (click)="onSelectMenstionedUser(u);isMentionedUser=false;" #userlistInput
                        [class]="mentionUserIndex === i ? 'user-active': ''">{{u.name}}</span>
                </div>
                <div class="col-10 pr-0">
                    <textarea name="taskMessage" (paste)="onPaste($event)" maxlength="500" class="form-control chatmsg"
                        id="msgtext" placeholder="Type a message" [(ngModel)]="taskMessage" ngxDnd
                        (files)="filesDropped($event)" (input)="onMessageType($event)" #msgtextarea></textarea>
                    <small class="limit">{{500 - taskMessage.length}} characters left</small>
                </div>
                <div class="col-1 pl-0 pr-0">
                    <label class="custom-file-upload">
                        <input type="file" class="file-control" id="chat-attachment"
                            (change)="handleFileSelection($event)">
                        <i class="fa fa-paperclip" aria-hidden="true" title="Attachment"></i>
                    </label>
                </div>
                <div class="col-1 pl-0 text-right button-box">
                    <!-- <button class="btn btn-primary text-capitalize" id="button" (click)="saveLeadMessage()">Send
                    </button> -->
                    <button class="btn send" id="button" (click)="saveLeadMessage()" title="Send"><i
                            class="fas fa-paper-plane"></i></button>
                </div>
            </div>
            <div *ngIf="attachmentFile && attachmentFile.name" class="row">
                <div class="col-9">
                    <!-- {{attachmentFile.name}} -->
                    <!-- <span><img height="50" width="50" src="{{attachmentFile.file}}"
                            alt="{{attachmentFile.name}}"></span> -->
                    <span>
                        <img height="25" width="25" src="{{attachmentFile.file}}" *ngIf="!fileType">
                        <i class="{{fileType}}" *ngIf="fileType" aria-hidden="true" style="font-size: 22px;"></i>
                        <span>{{attachmentFile.name}}</span>
                    </span>
                    <i class="fa fa-times-circle cursor-pointer text-danger" aria-hidden="true" title="Cancel"
                        (click)="attachmentFile.name=null;attachmentFile.file=null"></i>
                </div>
            </div>
        </div>

        <div class="col-6 p-0" style="border-left:1px solid black;">
            <!-- start: lead users -->
            <table width="100%">
                <tr valign="top">
                    <td class="bg-lightblue"><b>By:</b>
                        {{(userListByTask['leadUsers'])?userListByTask['leadUsers'][0].assignby:''}}
                    </td>

                    <td *ngIf="!showAssignUserAuto" class="bg-lavender">
                        <div class="row">
                            <div class="col-9">
                                <b>PO:</b>
                                {{(userListByTask['leadUsers'])?userListByTask['leadUsers'][0].primary_owner:''}}
                            </div>
                            <div class="col-3 text-right">
                                <i class="fa fa-plus"
                                    *ngIf="(userListByTask['leadUsers'] && (userListByTask['leadUsers'][0]._pri_own_id == loginUserId || userListByTask['leadUsers'][0]._aduserid == loginUserId)) || tabType == 7"
                                    title="assign new Primary Owner" (click)="showAssignUserAuto=1"></i>
                            </div>
                        </div>
                    </td>
                    <td *ngIf="showAssignUserAuto==1" class="bg-lavender">
                        <div class="row">
                            <div class="col-1">
                                <b>PO:</b>
                            </div>
                            <div class="col-8">
                                <auto-suggestion [style]="'width:80%'" (onSelected)="newAssigneeUser = $event"
                                    [data]="adminList" display="name" seperator="-" placeholder="Search Primary Owner"
                                    autocomplete="off" name="primaryOwner" inputId="primaryOwner">
                                </auto-suggestion>
                            </div>
                            <div class="col-3 text-right">
                                <i class="fa fa-check" (click)="updateLeadPrimaryOwner()" title="Add PO"></i>
                                <i class="fa fa-times" (click)="showAssignUserAuto=null" title="Cancel"></i>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr valign="top" class="bg-aliceblue"
                    *ngIf="userListByTask['ccUsers'] && userListByTask['ccUsers'].length>0">
                    <td colspan="2"><b>CC:</b> <span
                            *ngFor="let ccu of userListByTask.ccUsers;let i = index">{{(i>0)?',':''}}
                            {{ccu.cc_user}}</span></td>
                </tr>
                <tr valign="top">
                    <td colspan="2" class="pt-2">
                        <div class="row">
                            <div class="col-9">
                                <auto-suggestion (onSelected)="newCCUserId = $event" [data]="adminList" display="name"
                                    seperator="-" placeholder="Search User" autocomplete="off" isMultiSelect="true"
                                    name="ccUser" [preSelected]="newCCUserId" inputId="ccUser">
                                </auto-suggestion>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-primary btn-sm" (click)="addNewCCUserToLead()">Add CC
                                    User</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <!-- end : lead users -->

            <!-- start: target action list -->
            <div class="tabs_style_main mt-2">
                <ul class="tabs_style text-left">
                    <li [ngClass]="activeTab=='actionList'?'active':''"
                        (click)="activeTab='actionList'; getTargetActionData(null)">
                        Actions
                    </li>
                    <li [ngClass]="activeTab=='stateList'?'active':''"
                        (click)="activeTab='stateList'; getTargetActionData(1)">
                        States
                    </li>
                </ul>
            </div>
            <div class="mt-2">
                <smart-table *ngIf="transActionData.length" [data]="tableTransActionData.data"
                    [settings]="tableTransActionData.settings" id="tableTransActionData">
                </smart-table>
            </div>
            <!-- end: target action list -->
        </div>
    </div>

    <!-- start: lead userlogs modal -->
    <div class="modal" id="userLogsModal" #userLogsModal>
        <div class="modal-dialog mt-3">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:#fff;">User Logs</h5>
                    <button type="button" class="close" data-dismiss="modal"
                        (click)="closeLeadUserLogsModal()">&times;</button>
                </div>
                <div class="modal-body p-0">
                    <table *ngIf="userListByTask['userLogs'] && userListByTask['userLogs'].length"
                        class="table table-bordered table-hover">
                        <thead class="thead" style="background-color: #c0b2b2">
                            <tr style="text-align:center">
                                <th>Name</th>
                                <th>Add Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let l of userListByTask['userLogs']; let i = index;" style="text-align:center">
                                <td>{{l.user_name}}</td>
                                <td>{{l.addtime}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end: lead userlogs modal -->
    <!-- start: action owner change modal -->
    <div class="modal" id="editActionOwnerModal" #editActionOwnerModal>
        <div class="modal-dialog mt-3">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:#fff;">Change Action Owner</h5>
                    <button type="button" class="close" data-dismiss="modal"
                        (click)="closeEditActionOwnerModal()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row mt-2 mb-2">
                        <div class="col-4">
                            <label>Action Owner<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-8">
                            <auto-suggestion [data]="adminList" display="name" placeholder="Select Action Owner"
                                name="actionOwner" inputId="actionOwnerId"
                                (onSelected)="actionOwnerForm.userId=($event.id);actionOwnerForm.userName=($event.name);"
                                [preSelected]="{name:actionOwnerForm.userName}" autocomplete="off">
                            </auto-suggestion>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <button class="btn btn-primary btn-sm" type='submit'
                                (click)="changeActionOwner()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: action owner change modal -->

</div>