<div class="modal-header">
  <h5>{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row mt-2">
    <div class="col-4 my-auto">
      <label>Select Time Interval:<span class="text-danger">*</span></label>
    </div>
    <div class="col-8">
      <div class="row" class="custom-slider">
        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options" ></ngx-slider>
      </div>
    </div>
  </div>

  <div class="row mt-2" *ngFor="let schedule of busySchedules">
    <div class="col-4 my-auto">
      <label>{{schedule.name}}:</label>
    </div>
    <div class="col-8">
      <div class="row" class="custom-slider range2" *ngFor="let booked of schedule.schedule">
        <ngx-slider [(value)]="booked.fromTime" [(highValue)]="booked.toTime"
          [options]="schedule.option" class="othersrange"></ngx-slider>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-12 text-right">
      <button class="btn btn-primary btn-sm" id="addMeetingBtn" (click)="addTime()">Save</button>
    </div>
  </div>

</div>