<div class="modal-header">
  <h5>{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body timeslotbody">
  <div class="row mt-2">
    <div class="col-12 my-auto">
      <label class="time-repeater">Select Time Interval:<span class="text-danger">*</span><i class="fas fa-angle-double-right cursor-pointer" title="Find Next Available slot" (click)="shiftSlot()"></i></label>
    </div>
    <div class="col-12">
      <div class="row" class="custom-slider">
        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
      </div>
    </div>
  </div>

  <div class="row mt-2" *ngFor="let schedule of busySchedules;let i = index">
    <div class="col-12 mt-2">
      <label>{{schedule.name}} :
        <i class="fas fa-sort-down" *ngIf="schedule.schedule && schedule.schedule.length > 1 && schedule.detaildIcon"
          (click)="seperateInfo = schedule;detailedSlot = i;manageIcons(schedule, false)"></i>
        <i class="fas fa-sort-up" *ngIf="schedule.schedule && schedule.schedule.length > 1 && !schedule.detaildIcon"
          (click)="detailedSlot = null;manageIcons(schedule, true)"></i>
      </label>
    </div>

    <div class="col-12">
      <div class="position-relative">
        <div class="custom-slider range2" *ngFor="let booked of schedule.schedule">
          <ngx-slider [(value)]="booked.fromTime" [(highValue)]="booked.toTime" [options]="schedule.option"
            [ngClass]="{'othersrange':booked.is_todo===0,'othersrangered':booked.is_todo===1}"></ngx-slider>
          <!-- class="othersrange" -->
        </div>
      </div>

      <div class="ngx-detailedTooltip" *ngIf="detailedSlot==i">
        <div class="custom-slider range2">
          <ngx-slider [(value)]="booked.fromTime" [(highValue)]="booked.toTime" [options]="schedule.option"
            *ngFor="let booked of schedule.schedule"
            [ngClass]="{'othersrange':booked.is_todo===0,'othersrangered':booked.is_todo===1}"></ngx-slider>
          <!-- class="othersrange" -->
        </div>
      </div>
    </div>
  </div>

  <!-- <span class="custom-slider ngx-tooltip" id="ngx-tooltip">
    <i class="fas fa-times float-right" (click)="closeTooltip()"></i>
    <ngx-slider [(value)]="booked.fromTime" [(highValue)]="booked.toTime" *ngFor="let booked of seperateInfo.schedule"
      [options]="seperateInfo.option"
      [ngClass]="{'othersrange':booked.is_todo===0,'othersrangered':booked.is_todo===1}"></ngx-slider>
  </span> -->

  <div class="row mt-1">
    <div class="col-12 text-right">
      <button class="btn btn-primary btn-sm" id="addMeetingBtn" (click)="addTime()">Save</button>
    </div>
  </div>

</div>
