<nb-card>
    <nb-card-header class="employee-report">
        <div class="row">
            <div class="col-6">
                <h5 class="heading-design">Admin</h5>
            </div>
            <div class="col-5 text-right">
                <button (click)="exportCSV()" class="btn btn-primary btn-sm mr-2">View Excel</button>
                <button (click)="common.getPDFFromTableId('activeAdminUserList',null,null,null,null,null,null, 'Admin')" class="btn btn-primary btn-sm mr-2">View Pdf</button>
                <!-- <span class="exel-icon" title="CSV Export" (click)="exportCSV()" style="cursor: pointer;"><i class="fas fa-file-excel"></i></span> -->
            </div>
            <div class="col-1 text-right">
                <!-- <button value="Admin Tools" class="btn btn-primary btn-sm" (click)="adminTools()">Save Admin</button> -->
                <button class="btn btn-primary btn-sm" id="addCampaign" (click)="adminTools()"><i
                    class="fa fa-plus"></i></button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <!-- <div  class="row">
      <div class="col-12 text-right">
        <button value="Admin Tools" class="btn btn-primary " style="float: right;" id="button" (click)="adminTools()">Save Admin</button>   
      </div>
    </div>
    <br> -->
        <div class="row">
            <smart-table *ngIf="activeAdminUserList.length!=0" [data]="table.data" [settings]="table.settings" id="activeAdminUserList" class="smrt-table">
            </smart-table>
        </div>

    </nb-card-body>

    <!-- start: admin detail modal -->
    <div class="modal" id="adminDetailModal" #adminDetailModal>
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title" style="color:#fff;">Employee Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" (click)="closeAdminDetailModal()">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Name :-</label>
                        </div>
                        <div class="col-lg-8">
                            {{adminDetail.name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Father's Name :-</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control " [(ngModel)]='adminDetail.fatherName' placeholder="Father's Name" required>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end: admin detail modal -->
</nb-card>