.nb-theme-default{

.btn-primary {
  background-color: $primary;
  border: 1px solid $border-primary;
  color: #fff;
  

  &:active {
    color: #fff;
    background-color: $primary;
    border: 1px solid $border-primary;

  }

}


$font-size:('small':12px, 'medium':16px, 'large':20px);

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif !important;

}

p,
a,
label,
input,
select,
textarea,
.nb-theme-corporate nb-layout .layout {
  font-family: "Poppins", sans-serif !important;
  font-size: $font-sm-xxl;
}

label {
  margin-bottom: $margin-xss;
}

input,
select,
textarea {
  padding: $padding-xs !important;
  font-size: $font-sm !important;
  line-height: $lh-md !important;
  height: auto !important;
}

input {
  &::placeholder {
    font-size: $font-sm-xxl !important;
    line-height: 20px !important;
  }
}


.tooltip {
  opacity: 1 !important;
}

.nb-theme-corporate {
  nb-sidebar {
    width: 15rem;
    z-index: 1000 !important;

    &.expanded {
      width: 15rem;
    }
  }


}

.menu-sidebar {
  .main-container {
    width: 15rem !important;
  }
}


.compacted {
  .main-container {
    width: auto !important;
  }
}




/* width */

.cdk-overlay-container {
  z-index: 99999999999999999 !important;
}


.modal-header {
  padding: 3px 15px !important;
  background-color: $bg-primary;
  border-bottom: none;

  &.sub-title {
    background-color: #93acc7;
  }

  &.sub-title span {
    max-height: 100px;
    overflow: auto;
    font-size: 12px;
  }

  //  manish juangid 
  .custom-file-upload {
    color: #ffffff;
  }

  h5 {
    color: #fff;
    margin-bottom: 0rem !important;
  }

  .close {
    background: transparent;
    color: #fff !important;
    opacity: 1;
    padding: 8px 20px;
    margin: -10px -1rem -1rem auto;
    outline: none;
    font-size: 30px;
  }

}


.modal-footer {
  padding: .5rem 1rem;
}

.control-icon.nb-notifications::before {
  content: "\f0f3";
  display: block;
  font-family: "FontAwesome";
  font-size: 22px;
  margin-top: 5px;
}


.fas.fa-file-invoice:before,
.fas.fa-weight-hanging::before,
.fas.fa-file-invoice-dollar:before,
.fas.fa-ticket-alt:before,
.fas.fa-money-check-alt:before,
.fas.fa-clipboard-check::before,
.fas.fa-receipt::before,
.fas.fa-coins::before,
.fas.fa-user-cog::before,
.fas.fa-gas-pump::before,
.fas.fa-warehouse::before,
.fas.fa-traffic-light::before,
.fas.fa-city::before,
.fas.fa-route::before,
.fas.fa-file-signature::before,
.fas.fa-sync-alt::before,
.fas.fa-map-marked-alt::before,
.fas.fa-comment-dots::before,
.fas.fa-address-card::before,
.fas.fa-file-alt::before,
.fas.fa-map-marked-alt::before,
.fas.fa-map-pin::before,
.fas.fa-info-circle::before,
.fas.fa-tools::before,
.fas.fa-badge-check::before,
.fas.fa-map-marked::before,
.fas.fa-truck-pickup::before,
.fas.fa-tachometer-alt::before,
.fas.fa-chess-king::before,
.fas.fa-briefcase::before,
.fas.fa-car-battery::before {
  font-family: inherit;
}

.bg-lightblue {
  background: lightblue;
}

.bg-lavender {
  background: lavender;
}

.bg-lavenderblush {
  background: lavenderblush;
}

.bg-lightcyan {
  background: lightcyan;
}

.bg-aliceblue {
  background: aliceblue;
}

.pac-container {
  z-index: 2147483647 !important;
}

.blue {
  color: #0606e3;
}

table {

  .fa,
  .fas,
  .far {
    font-size: 18px;
    cursor: pointer;
    margin-right: 5px;
  }

  .fa-edit {
    color: green;
  }

  .fa-trash {
    color: red;
  }

  .fa-trash-alt {
    color: red;
  }

  .fa-times {
    color: red;
  }

  .fa-user-plus {
    color: blue;
  }

  .fa-check {
    color: darkblue;
  }

  .fa-eye {
    color: #7b0579;
  }

  .fa-thumbs-up {
    color: green;
  }
}


.fa-bell {
  color: gray;
}

.fa-bell.isRemind {
  color: red;
}

.fa-bell.reminderAdded {
  color: #ffba12;
}

.fa-pause-circle {
  color: #ffba12;
}

.fa-play-circle {
  color: #ffba12;
}

table .fa-comments {
  color: limegreen;
}

table .fa-comments.no-comment {
  color: gray;
}

table .fa-comments.new-comment span {
  min-width: 13px;
  min-height: 13px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 1px;
  padding: 1px;
  font-size: 8px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 11px;
  background: transparent;
}

.tabs_style {
  width: 100%;
  margin: 0px;
  /* border-bottom: 2px solid #26a69a; */
  border-bottom: 2px solid $color-100;
  margin-bottom: 10px;
  padding-left: 5px !important;

  li {
    padding: 5px 6px;
    list-style: none;
    margin-right: 5px;
    /* background-color: #26a69a;
                    border: 2px solid #26a69a; */
    background-color: $color-100;
    border: 2px solid $color-100;
    color: #fff;
    border-bottom: 0px;
    display: inline-block;
    border-radius: 5px 5px 0px 0px;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;

    &.active {
      background-color: #fff;
      /* color: #26a69a; */
      color: $color-100;
      position: relative;
      // top: 1px;

      &::after {
        content: "";
        display: block;
        background-color: #fff;
        height: 10px;
        width: 100%;
        position: absolute;
        left: 0px;
      }
    }

  }

}



.cursor-pointer {
  cursor: pointer;
}

#chat-attachment {
  display: none;
}

.custom-file-upload {
  display: flex;
  padding: 6px 12px;
  cursor: pointer;
  height: 100%;
  align-items: center;
  font-size: 18px;
  color: #958e8e;
}

.attachment-view {
  width: 100%;
  position: absolute;
  z-index: 1;
  background: lightgray;
}

.search-style {
  background: lightgray;
  align-items: center;
}

.new_message {
  background: lightgray !important;
}

.other_chat.new_message .quoted_msg {
  background: #c2bebe;
}

.popover-body {
  padding: 0.2rem 0.45rem !important;
  min-width: 100px;
  max-width: 250px;
  max-height: 90px;
  overflow: auto;
}

.quoted_msg {
  background: #f9f9f9;
  margin: 3px -7px;
  padding: 5px 10px;
  border-left: 2px solid #1a3380;
  font-style: italic;
  color: #000 !important;
}

.quoted_selected {
  background: darkgray;
}

.comment_reply {
  display: flex;
  float: right;
  margin-left: 5px;
  cursor: pointer;
  align-items: flex-end;

}

.active_chat .comment_reply,
.other_chat .comment_reply {
  position: relative;
  right: -15px;
  top: -2px;
}



.chat_block a {
  word-wrap: break-word;
  /* manish */
}


/* kavita singh */

.nb-theme-default {

  h5,
  .h5 {
    font-size: 1rem;
  }

  nb-card-header {
    padding: .8rem 1.25rem .5rem 1.25rem;
  }

  nb-card {
    margin-bottom: 0 !important;
  }

  nb-card-body {
    padding: .5rem 1rem .5rem 1rem;
  }

  nb-layout .layout .layout-container .content nb-layout-footer nav {
    padding: .75rem .25rem !important;
  }

  nb-layout-header.fixed~.layout-container {
    padding-top: 2.7rem !important;
  }

  nb-card-header {
    border-bottom: 1px solid #d1d9e8 !important;
  }

  nb-layout .layout .layout-container .content .columns nb-layout-column {
    padding: 0;
  }

}

nb-layout-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}


/* .layout-container .content .columns{
                  margin-bottom: 45px;
              } */


/* kavita singh */

.heading-design {
  position: relative;
  z-index: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: .5s;
  color: #00000080 !important;

  &:hover {
    letter-spacing: 4px;
    transition: .5s;
  }

  &:before {
    content: " ";
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: $color-100;
    z-index: -1;
    bottom: 5px;
    left: 2px;
  }

  &:after {
    content: " ";
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: $color-100;
    z-index: -1;
    bottom: 0px;
    left: 2px;
  }

}


.btn-primary {
  color: #fff;
  background-color: $color-100;
  border-color: $color-100;
  height: 30px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 4px 10px 5px 10px !important;
  font-family: Poppins, sans-serif !important;
  font-size: .875rem !important;
  font-weight: 500;
}

.btn-primary:hover,
.btn-danger:hover,
.btn-secondary:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, .12);
}

.btn-primary:active,
.btn-primary:focus,
.btn-danger:active,
.btn-danger:focus,
.btn-secondary:focus,
.btn-secondary:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, .12);
}

.btn-danger,
.btn-secondary {
  height: 30px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 5px 10px 5px 10px !important;
  font-family: Poppins, sans-serif !important;
  font-size: .875rem !important;
  font-weight: 500;
}

nb-layout-header nav {
  height: 2.7rem !important;
}

.table {

  th,
  td {
    padding: 0.2rem .5rem;
    font-size: 12px !important;
  }
}


.logo {
  &:focus {
    outline: none !important;
  }

  span {
    &:focus {
      outline: none !important;
    }
  }
}


.main-container-fixed {
  top: 2.7rem !important;
}

/* 21aug2020 */

.layout-container .content nb-layout-footer {
  display: none !important;
}

nb-card-body {
  min-height: calc(100vh - 100px) !important;
}



.exel-icon {
  font-size: 25px;
  color: $color-600;
}

.user-active {
  background: yellow;
}

.hr_full {
  margin: 0 -15px;
}

.modal-overflow {
  overflow-y: auto;
}

.spinner-div {
  min-height: 40px;
}


/*  manish jangid  */



.bs-popover-right-top {
  top: 7px !important;

}

.btn-date {
  cursor: pointer;
}

.btn-hour {
  cursor: pointer;
}

//  custom style 
table {
  th {
    padding: 0.2rem;
    background: $color-400;
    font-size: .80rem;

  }

  thead {
    th:first-child {
      width: 60px;
    }
  }

}
}