<div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div [ngClass]="(refType == 2 && !formType) || (refType == 0 && formType == 11) ? 'col-10' : 'col-12' ">
            <div class="row mb-2">
                <div class="col-3 mr-0">
                    <label>Type</label>
                    <select class="form-control" [(ngModel)]="typeId">
                        <option *ngFor="let type of types;" [value]="type.id" class="form-control">{{type.name}}
                        </option>
                    </select>
                </div>
                <div class="col-3 mr-0">
                    <label>Field Name</label>
                    <input *ngIf="typeId !='entity'" type="text" name="name" id="name" [(ngModel)]="name" class="form-control" maxlength="25">
                    <select *ngIf="typeId =='entity'" class="form-control" [(ngModel)]="name">
                        <option *ngFor="let t of entityTypeList" [value]="t._id">{{t.type}}</option>
                    </select>
                </div>
                <!-- <div class="col-3 mr-0">
                    <label>Order</label>
                    <input type="number" min="0" [(ngModel)]="order" class="form-control" placeholder="order">
                </div> -->

                <div class="col-2 pt-3">
                    <label>Is Required?</label>
                </div>
                <div class="col-1 pt-3">
                    <input type="checkbox" [(ngModel)]="isRequired">
                </div>
                <div class="col-3 pt-4">
                    <span *ngIf="typeId =='table'" class="cursor-pointer" title="Add Table Column"
                        (click)="openAddFieldTable()"><i class="fa fa-table" aria-hidden="true"></i></span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-9">
                    <div *ngIf="typeId =='text' || typeId =='number' " class="row">
                        <div class="col-1">
                            <input type="checkbox" [(ngModel)]="isFixedValue">
                        </div>
                        <div class="col-3">
                            <label> Is Fixed Value ?</label>
                        </div>
                        <div class="col-6 custdrop" *ngIf="isFixedValue">
                            <div class="row" *ngFor="let fixValue of fixValues; let i = index">
                                <div class="col-8">
                                    <input *ngIf="typeId =='text'" type="text" [(ngModel)]="fixValue.option"
                                        class="form-control" #fixvalue>
                                    <input *ngIf="typeId =='number'" type="number" [(ngModel)]="fixValue.option"
                                        class="form-control" #fixvalue>
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-plus" *ngIf="i == fixValues.length-1"
                                        (click)="addFixValue()"></i>&nbsp;
                                    <i class="fa fa-trash" (click)="fixValues.splice(i,1)" *ngIf="i !== 0"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-3 text-right">
                    <button *ngIf="fieldId" class="btn btn-danger btn-sm mr-1" name="reset"
                        (click)="resetData()">{{btn2}}</button>
                    <button class="btn btn-primary btn-sm" name="submit" (click)="formType == 11 && (refType != 2 && refType !=1) ? Add() : confirmAdd()">{{btn1}}</button>

                </div>
            </div>
            <smart-table *ngIf="data && data.length" [data]="table.data" [settings]="table.settings" id="addField">
            </smart-table>

            <div *ngIf="((data && data.length) || (refType == 2 && !formType) || (refType == 0 && formType == 11))"
                class="row">
                <div class="col-12 text-right">
                    <button class="btn btn-primary btn-sm" name="openAssignField" (click)="openAssignForm()">Assign
                        Form</button>
                </div>
            </div>

        </div>
        <div *ngIf="(refType == 2 && !formType) || (refType == 0 && formType == 11)" class="col-2" style="border-left:1px solid black;">
            <label><b>Global Fields</b></label>
            <table class="table border">
                <tr *ngFor="let g of globalFiledList;let i=index">
                    <td>{{g.col_name}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>