@import '../../../style';

:host ::ng-deep .tableFixHead{
    height: auto !important;
}
smart-table{
   height: calc(100vh - 333px);
}
:host ::ng-deep .edit{
    margin-left:$margin-lg;
}
.fa-plus{
cursor: pointer;
color: #cccccc;
}
.fa-trash{
color: $color-800;
}
.custdrop{
    max-height: 100px;
    overflow: auto;
    padding-bottom:$padding-md;
    .row{
        margin-top: 1px;
    }

}
