@import '../../style.scss';

.row1{
    margin-top: $margin-lg;
}
img{
    width:40px;
    height:40px;
    margin-left: 35%;
    display: inline-block;
}

:host ::ng-deep.red {
    background:$color-800;
    color: $color-400;
    margin-left:$margin-xs;
  }
  :host ::ng-deep.green {
    background: $color-1800;
    color: $color-400;
    margin-left:$margin-xs;
  }
  :host ::ng-deep.icon{
  font-size:$font-md-xl;
}
:host ::ng-deep label{
    font-weight:$normal;
}