:host ::ng-deep .fa-edit {
    font-size: 12px;
    margin-right: 10px;
    background-color: #3c6ac7;
    color: #fff;
    border-color: #73a1ff;
    padding: 8px;
    border-radius: 3px;
}

:host ::ng-deep .edit-btn:hover {
    background-color: #0054ff;
}

:host ::ng-deep .fa-trash-alt {
    font-size: 12px;
    margin-right: 10px;
    background-color: #fd397a;
    color: #fff;
    border-color: #fd397a;
    padding: 8px;
    border-radius: 3px;
}

:host ::ng-deep .remove:hover {
    background-color: #fd1361;
    border-color: #fc0758;
}