<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  <span class="mt-1 ml-5" style="color:white;font-weight:500;font-size:18px;">{{userName}}</span>
  <span class="mt-1 ml-5" style="color:white;font-weight:500;font-size:18px;">{{userMobile}}</span>
  <button style="float: right;" type="button" class="close doNotPrint" aria-label="Close" (click)="closeModal(false)">
      <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-9" *ngIf="common.params.title==='Partner Mapping'">
  <div class="col-6" style="display:inline-block;">
    <label>Axestrack Partner</label>
  </div>
  <div class="col-6" style="display:inline-block;">
    <auto-suggestion (onSelected)="getAxestrackPartner($event)" [display]="['provider_name','contactmobile']" [data]="axestrackPartnerData"
      placeholder="Axestrack Partner" seperator="-"  [preSelected]="null" className="borderStyle" inputId="provider_id">
    </auto-suggestion>
  </div>
</div>

<div class="col-9" *ngIf="common.params.title==='Partner User Mapping'">
  <div class="col-6" style="display:inline-block;">
    <label>Axestrack Partner User</label>
  </div>
  <div class="col-6" style="display:inline-block;">
    <auto-suggestion (onSelected)="getAxestrackUserPartner($event)" [display]="['user_name']" [data]="axestrackPartnerUserData"
      placeholder="Axestrack Partner User"   [preSelected]="null" className="borderStyle" inputId="provider_id">
    </auto-suggestion>
  </div>
</div>

<div class="col-9" *ngIf="common.params.title==='Company Mapping'">
  <div class="col-6" style="display:inline-block;">
    <label>Axestrack Company</label>
  </div>
  <div class="col-6" style="display:inline-block;">
    <auto-suggestion (onSelected)="getAxestrackCompany($event)" [display]="['company_name']" [data]="axestrackCompanyData"
      placeholder="Axestrack Company"   [preSelected]="null" className="borderStyle" inputId="provider_id">
    </auto-suggestion>
  </div>
</div>

<div class="col-9" *ngIf="common.params.title==='Company User Mapping'">
  <div class="col-6" style="display:inline-block;">
    <label>Axestrack Company User</label>
  </div>
  <div class="col-6" style="display:inline-block;">
    <auto-suggestion (onSelected)="getAxestrackCompanyUser($event)" [display]="['user_name']" [data]="axestrackCompanyUserData"
      placeholder="Axestrack Company User"   [preSelected]="null" className="borderStyle" inputId="provider_id">
    </auto-suggestion>
  </div>
</div>

<div class="col-9" *ngIf="common.params.title==='Vehicle Mapping'">
  <div class="col-6" style="display:inline-block;">
    <label>Axestrack Company Vehicle</label>
  </div>
  <div class="col-6" style="display:inline-block;">
    <auto-suggestion (onSelected)="getAxestrackCompanyVehicle($event)" [display]="['vehicle_name']" [data]="vehicleData"
      placeholder="Axestrack Company Vehicle"   [preSelected]="null" className="borderStyle" inputId="autoid">
    </auto-suggestion>
  </div>
</div>

<div class="col-3">
  <button *ngIf="common.params.title==='Partner Mapping'" type="submit" class="btn btn-primary" (click)="savePartnerMapping()">Map partner</button>
  <button *ngIf="common.params.title==='Partner User Mapping'" type="submit" class="btn btn-primary" (click)="savePartnerUserMapping()">Map Partner User</button>
  <button *ngIf="common.params.title==='Company Mapping'" type="submit" class="btn btn-primary" (click)="saveCompanyMapping()">Map Company</button>
  <button *ngIf="common.params.title==='Company User Mapping'" type="submit" class="btn btn-primary" (click)="saveCompanyUserMapping()">Map Company User</button>
  <button *ngIf="common.params.title==='Vehicle Mapping'" type="submit" class="btn btn-primary" (click)="saveAxestrackCompanyVehicle()">Map Vehicle</button>
</div>
</div>
</div>
