<div class="modal-header">
    <h5>{{title}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <!-- <div class="container"> -->
    <div class="row">
        <div class="col-4">
            <label><b>Process: </b></label>
            <label>{{ actionForm.process.name}}</label>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-4"><label><b>State: </b></label>
                    <!-- <label>{{ actionForm.state.name}} </label> -->
                </div>
                <div class="col-8">
                    <auto-suggestion [data]="states" display="name" seperator="-" placeholder="Select State" (onSelected)="actionForm.states = $event" inputId="nextActionId" name="nextAction" isMultiSelect="true" autocomplete="off" [preSelected]="actionForm.states"></auto-suggestion></div>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2 pr-0">
            <label>name<span class="text-danger">*</span></label>
            <input class="form-control" type="text" placeholder="Name" [(ngModel)]="actionForm.name">
        </div>
        <div class="col-2 pr-0">
            <label>Threshold</label>
            <input type="number" class="form-control" min="0" name="threshold" placeholder="Threshold (Hours)" [(ngModel)]="actionForm.threshold">
        </div>
        <div class="col-4 pr-0">
            <label>Next Action</label>
            <auto-suggestion [data]="nextActionList" display="name" seperator="-" placeholder="Select Next Action" (onSelected)="actionForm.nextAction = $event" inputId="nextActionId" name="nextAction" isMultiSelect="true" autocomplete="off" [preSelected]="actionForm.nextAction"></auto-suggestion>
        </div>
        <div class="col-4 pr-0">
            <label>Modes</label>
            <auto-suggestion [data]="modeList" display="name" placeholder="Select Modes" name="modes" inputId="modesId" autocomplete="off" [preSelected]="actionForm.modes" isMultiSelect="true" (onSelected)="actionForm.modes = $event">
            </auto-suggestion>
        </div>
    </div>

    <!-- </div> -->
    <div class="row">
        <!-- <div class="col-2 pr-0 pt-3">
            <label>Is Default</label>
        </div>
        <div class="col-2 pr-0 pt-3">
            <input type="checkbox" [checked]="actionForm.isDefault" (change)="actionForm.isDefault = !actionForm.isDefault" />
        </div>
        <div class="col-4 pr-0">
            <span *ngIf="actionForm.isDefault">
            <label>Default Owner<span class="text-danger">*</span></label>
            <auto-suggestion [data]="adminList" display="name" placeholder="select Default Owner" name="defaultOwn" id="defaultOwn" (onSelected)="actionForm.defaultOwner.id=($event.id);" [preSelected]="{name:actionForm.defaultOwner.name}" autocomplete="off">
            </auto-suggestion>
            </span>
        </div> -->
        <div class="col-12 text-right">
            <button class="btn btn-danger btn-sm mr-2 mt-4" type="button" (click)="closeModal(false)">Cancel</button>
            <button class="btn btn-primary btn-sm mt-4" type='submit' (click)="saveProcessAction()">{{button}}</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <smart-table [data]="table.data" [settings]="table.settings"></smart-table>
        </div>
    </div>
</div>

