<div class="modal-header">
    <h5>{{title}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <label><b>Process: </b></label>
                <label>{{ actionForm.process.name}}</label>
            </div>
            <div class="col-4">
                <label><b>State: </b></label>
                <label>{{ actionForm.state.name}} </label>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-4">
                <label>name<span class="text-danger">*</span></label>
            </div>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Name" [(ngModel)]="actionForm.name">
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-4">
                <label>Modes:</label>
            </div>
            <div class="col-8">
                <auto-suggestion [data]="modeList" display="name" placeholder="Select Modes" name="modes" inputId="modesId" autocomplete="off" [preSelected]="actionForm.modes" isMultiSelect="true" (onSelected)="actionForm.modes = $event">
                </auto-suggestion>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 text-right">
            <button class="btn btn-danger btn-sm mr-2" type="button" (click)="closeModal(false)">Cancel</button>
            <button class="btn btn-primary btn-sm" type='submit' (click)="saveProcessAction()">{{button}}</button>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-12">
            <smart-table [data]="table.data" [settings]="table.settings"></smart-table>
        </div>
    </div>

</div>