<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-12">
        <h5 class="heading-design">Meeting Management</h5>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="row ">
      <div class="col-6">
        <button class="btn btn-primary btn-sm allicons cursor-pointer" id="addMeeting" (click)="addMetting(2)"><i class="fa fa-plus"
            style="font-size: 13px;" aria-hidden="true"></i><label class="pl-1">New
            Meeting</label></button>
        <button class="btn btn-primary btn-sm allicons ml-2" id="addMeeting"
          (click)="checkAvailability();windowType='userSchedule'"
          [ngClass]="windowType=='userSchedule'?'active':''">Check Availability</button>
        <button class="btn btn-primary btn-sm allicons ml-2" id="meetingList"
          (click)="getMeetingsDefault();windowType='meetings'" [ngClass]="windowType=='meetings'?'active':''">My
          Calender</button>
      </div>

      <div class="col-6 text-right" *ngIf="windowType=='meetings'">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8" style="display: flex;">
            <input type="search" class="form-control" [(ngModel)]="searchTerm" (search)="getFilteredData()"
              placeholder="Search By Meeting Title/Date/Host Name">
            <button class="search" style="border-radius: 0px 6px 6px 0px;" (click)="getFilteredData()">
              <i class="fas fa-search p-1"></i></button>
          </div>
        </div>
      </div>

      <div class="col-6" *ngIf="windowType=='userSchedule'">
        <div class="row">
          <div class="col-4">
            <div class="row mb-2">
              <div class="col-6">
                  <label class="form-check-inline">
                      <input class="form-check-input" type="radio" name="mode" value="0" (click)="checkSchedule('0')" checked>
                      User
                  </label>
              </div>
              <div class="col-6">
                  <label class="form-check-inline">
                      <input class="form-check-input" type="radio" name="mode" value="1" (click)="checkSchedule('1')">
                      Room
                  </label>
              </div>
          </div>
          </div>
          <div class="col-2 my-auto pl-0 pr-0" style="font-size: 14px;">
            Select User :
          </div>
          <div class="col-6 pl-0" *ngIf="scheduleType==0">
            <auto-suggestion [data]="adminList" display='name' (onSelected)="schedule.user = $event;checkAvailability()"
              seperator="-" placeholder="Search User" autocomplete="off" name="primaryUser" inputId="primaryUser"
              [preSelected]="(schedule.user && schedule.user.id>0) ? {name: schedule.user.name} : {name:''}">
            </auto-suggestion>
          </div>
          <div class="col-6 pl-0" *ngIf="scheduleType==1">
            <auto-suggestion [data]="roomList" display='name' (onSelected)="schedule.room = $event;checkAvailability()"
              seperator="-" placeholder="Search Room" autocomplete="off" name="roomId" inputId="roomId"
              [preSelected]="(schedule.room && schedule.room.id>0) ? {name: schedule.room.name} : {name:''}">
            </auto-suggestion>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="windowType=='meetings'">
      <div class="col-6 meetingContainer">
        <div class="row ml-0 mr-0 meetingHeaders">
          <div class="col-4">Past Meetings</div>
          <div class="col-8 my-auto" (click)="propogateEvent($event)">
            <i class="fas fa-filter float-right cursor-pointer" (click)="filterEnable('pastfilterPop')"
              title="Filter Date Range"></i>
            <div id="pastfilterPop" class="filterPop">
              <div>Start Date:<uj-date-time-picker [maxd]="currentDate" [isStart]="false" [isTime]="false"
                  (onChanged)="meetingData.startDate=$event" [dateTimeValue]="meetingData.startDate">
                </uj-date-time-picker>
              </div>
              <div>End Date:<uj-date-time-picker [maxd]="currentDate" [isStart]="false" [isTime]="false"
                  (onChanged)="meetingData.endDate=$event" [dateTimeValue]="meetingData.endDate">
                </uj-date-time-picker>
              </div>
              <div class="pt-2 float-right"><button class="btn btn-primary btn-sm allicons ml-2" id="meetingList"
                  (click)="getMeetingListByType([0,1]);windowType='meetings'">Search</button></div>
            </div>
          </div>
        </div>
        <div class="row ml-0 mr-0 meetingData">
          <div class="col-12">
            <div class="row cardStyle" *ngFor="let meeting of meetingData.pastData"
              [ngStyle]="{'background':meeting._meeting_type==2 ? 'rgba(255, 238, 236)' : 'rgba(209, 242, 246)'}">
              <div class="col-2" *ngIf="meeting.schedule_time">
                <div class="row textBind headFont font-weight-bold">{{meeting.schedule_time}}
                </div>
                <div class="row subFont">Duration : {{meeting.duration}}</div>
              </div>

              <div class="col-2 my-auto" *ngIf="!meeting.schedule_time">
                <div class="row subFont">Unscheduled</div>
              </div>

              <div class="col-6">
                <div class="row textBind headFont font-weight-bold" title="{{meeting.subject}}">{{meeting.subject}}
                </div>
                <div class="row subFont">
                  <div class="col-6 p-0">{{meeting.host}}</div>
                  <div class="col-6 pr-0" *ngIf="meeting._room_id"><i class="fas fa-door-open pr-2" title="Room No."></i>{{meeting.info}}
                  </div>
                  <div class="col-6 pr-0" *ngIf="!meeting._room_id && meeting._link"><i class="fab fa-chrome pr-2" title="Follow Link"></i><a
                      href="{{meeting.info}}" target="blank" class="pl-2">Link</a></div>
                </div>
              </div>
              <div class="col-3">
                <span id="chatIcon" title="Chat" class="cursor-pointer"
                  *ngIf="meeting._meeting_type != 2 || ![meeting._aduserid,meeting._host].includes(loggedInUser)"
                  (click)="ticketMessage(meeting, 0)">
                  <i class="fas fa-comments text-warning pl-2 font-size"
                    *ngIf="meeting._tktid > 0 && !meeting._unreadcount"></i>

                  <div style="display:inline; position: relative;"><i
                      class="fas fa-comments text-success new-comment pl-2 font-size"
                      *ngIf="meeting._unreadcount > 0"><span>{{meeting._unreadcount}}</span></i>
                  </div>

                  <i class="fas fa-comments no-comment pl-2 font-size" *ngIf="meeting._unreadcount == -1"></i>
                </span>

                <span id="editMeeting"
                  *ngIf="[meeting._host, meeting._aduserid].includes(this.userService.loggedInUser.id) && [0,2].includes(meeting._status)">
                  <i class="fas fa-edit text-info pl-2 font-size"
                    title="{{meeting._meeting_type == 2 ? 'Edit Todo' : 'Edit Meeting'}}"
                    (click)="editMeeting(meeting, 2, true)"></i>
                </span>

                <span id="reject"
                  *ngIf=" (![-1,5].includes(meeting._status) && meeting._host == this.userService.loggedInUser.id)">
                  <i class="fas fa-window-close text-danger pl-2 font-size" title="Cancel"
                    (click)="updateMeetingStatus(meeting, 'past','reject')"></i>
                </span>

                <span id="actionsForPast"
                  *ngIf="[5, 2].includes(meeting._status) && [meeting._host, meeting._aduserid].includes(this.userService.loggedInUser.id) && meeting._tktid > 0 && meeting._meeting_type != 2">
                  <i class="fa fa-caret-square-o-down pl-2 font-size" *ngIf="meeting._status == 5"
                    title="Create Follow Up Meeting" (click)="editMeeting(meeting, 0, false)"></i>
                  <!-- <img src="../../../assets//meetingActions/followup.png" class="imgicn pl-2"
                    *ngIf="meeting._status == 5" title="Create FolloUp Meeting"
                    (click)="editMeeting(meeting, 0, false)"> -->
                </span>

                <span id="retweet"
                  *ngIf="[meeting._host, meeting._aduserid].includes(this.userService.loggedInUser.id) && meeting._tktid > 0  && [5,-1].includes(meeting._status) && meeting._meeting_type != 2">
                  <i class="fa fa-retweet pl-2 font-size" title="Re-Active"
                    (click)="changeTicketStatusWithConfirm(meeting, 0, 0)"></i>
                </span>

                <span id="statusAction"
                  *ngIf="[0,2].includes(meeting._status) && [meeting._host].includes(this.userService.loggedInUser.id)">
                  <i class="fa fa-thumbs-up text-success pl-2 font-size" title="Complete"
                    (click)="getUserActivityUpdate(meeting, 0, 5)"></i>
                  <!-- <img src="../../../assets//meetingActions/completed.png" class="imgicn pl-2" title="Complete"
                    (click)="getUserActivityUpdate(meeting, 0, 5)"> -->
                </span>
              </div>
              <div class="col-1 labelPos" *ngIf="meeting._meeting_type === 2">
                <div class="buttonJelly">
                  <p>To-Do</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 meetingContainer">
        <div class="row ml-0 mr-0 meetingHeaders">
          <div class="col-4">Upcoming Meetings</div>
          <div class="col-8">
            <!-- <i class="fas fa-filter float-right cursor-pointer" (click)="filterEnable('upcomingfilterPop')" title="Filter Date Range"></i>
            <div id="upcomingfilterPop" class="filterPop">
              <div>Date:<uj-date-time-picker [mind]="currentDate" [isStart]="false" [isTime]="false"
                  (onChanged)="meetingData.endDate=$event" [dateTimeValue]="meetingData.endDate">
                </uj-date-time-picker>
              </div>
              <div class="pt-2 float-right"><button class="btn btn-primary btn-sm allicons ml-2" id="meetingList"
                  (click)="getMeetingListByType([1]);windowType='meetings'">Search</button></div>
            </div> -->
          </div>
        </div>
        <div class="row ml-0 mr-0 meetingData">
          <div class="col-12">
            <div class="row cardStyle" *ngFor="let meeting of meetingData.upcomingData"
              [ngStyle]="{'background':meeting._meeting_type==2 ? 'rgba(255, 238, 236)' : 'rgba(209, 242, 246'}">
              <div class="col-2" *ngIf="meeting.schedule_time">
                <div class="row textBind headFont font-weight-bold">{{meeting.schedule_time}}
                </div>
                <div class="row subFont">Duration : {{meeting.duration}}</div>
              </div>

              <div class="col-2 my-auto" *ngIf="!meeting.schedule_time">
                <div class="row subFont">Unscheduled</div>
              </div>

              <div class="col-6">
                <div class="row textBind headFont font-weight-bold" title="{{meeting.subject}}">{{meeting.subject}}
                </div>
                <div class="row subFont">
                  <div class="col-6 p-0">{{meeting.host}}</div>
                  <div class="col-6 pr-0" *ngIf="meeting._room_id"><i class="fas fa-door-open pr-2" title="Room No."></i>{{meeting.info}}
                  </div>
                  <div class="col-6 pr-0" *ngIf="!meeting._room_id && meeting._link"><i class="fab fa-chrome pr-2" title="Follow Link"></i><a
                      href="{{meeting.info}}" target="blank" class="pl-2">Link</a></div>
                </div>
              </div>
              <div class="col-3">
                <span id="chatIcon" title="Chat" class="cursor-pointer"
                  *ngIf="meeting._meeting_type != 2 || ![meeting._aduserid,meeting._host].includes(loggedInUser)"
                  (click)="ticketMessage(meeting, 0)">
                  <i class="fas fa-comments text-warning pl-2 font-size"
                    *ngIf="meeting._tktid > 0 && !meeting._unreadcount"></i>

                  <div style="display:inline; position: relative;"><i
                      class="fas fa-comments text-success new-comment pl-2 font-size"
                      *ngIf="meeting._unreadcount > 0"><span>{{meeting._unreadcount}}</span></i>
                  </div>

                  <i class="fas fa-comments no-comment pl-2 font-size" *ngIf="meeting._unreadcount == -1"></i>
                </span>
                <span id="editMeeting" *ngIf="meeting._host == loggedInUser && meeting._aduserid == loggedInUser">
                  <i class="fas fa-edit text-info pl-2 font-size"
                    title="{{meeting._meeting_type == 2 ? 'Edit Todo' : 'Edit Meeting'}}"
                    (click)="editMeeting(meeting, 2, true)"></i>
                  <!-- <img src="../../../assets//meetingActions//edit.png" class="imgicn pl-2"
                    title="{{meeting._meeting_type == 2 ? 'Edit Todo' : 'Edit Meeting'}}"
                    (click)="editMeeting(meeting, 2, true)"> -->
                </span>
                <span id="acceptReject" *ngIf="(meeting._tktype == 110 && meeting._mp_status == 0) || (meeting._status == 0 &&
                meeting._host == this.userService.loggedInUser.id)">
                  <i class="fa fa-check-square text-secondary pl-2 font-size" title="Ack"
                    (click)="updateMeetingStatus(meeting, 'upcoming','ack')"></i>
                  <i class="fas fa-window-close text-danger pl-2 font-size" title="Reject"
                    (click)="updateMeetingStatus(meeting, 'upcoming','reject')"></i>
                  <!-- <img src="../../../assets//meetingActions/acknowledge.png" class="imgicn pl-2" title="Ack"
                    (click)="ackTaskByCcUser(meeting, null, 1)">
                  <img src="../../../assets/meetingActions/rejected.png" class="imgicn pl-2" title="Reject"
                    (click)="ackTaskByCcUser(meeting, null, -1)"> -->
                </span>
              </div>
              <div class="col-1 labelPos">
                <div class="buttonJelly" *ngIf="meeting._meeting_type == 2">
                  <p>To-Do</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row p-3 mt-3" style="border-top: 1px solid #d1d9e8;" *ngIf="windowType=='userSchedule'">
      <div class="col-12">
        <!-- <div class="row"> -->
        <!-- <div class="col-4">
            <uj-date-time-picker [mind]="currentDate" [isStart]="false" [isTime]="false"
              (onChanged)="schedule.time=$event" [dateTimeValue]="schedule.time">
            </uj-date-time-picker>
          </div> -->
        <!-- <div class="col-2">
            Select User :
          </div>
          <div class="col-4">
            <auto-suggestion [data]="adminList" display='name' (onSelected)="schedule.user = $event;checkAvailability()"
              seperator="-" placeholder="Search User" autocomplete="off" name="primaryUser" inputId="primaryUser"
              [preSelected]="(schedule.user && schedule.user.id>0) ? {name: schedule.user.name} : {name:''}">
            </auto-suggestion>
          </div> -->
        <!-- <div class="col-4">
            <button class="btn btn-primary text-capitalize" id="button" (click)="checkAvailability(0)">Submit</button>
          </div> -->
        <!-- </div> -->
        <div class="row calenderStyle pt-2">
          <full-calendar [options]="calendarOptions"></full-calendar>
          <div class="toolTip" id="tooltipPos"><label id="tooltipText"></label></div>
        </div>
      </div>
    </div>
  </nb-card-body>


  <!--meeting attendance status modal -->
  <div class="modal" id="meetingAttendance" #meetingAttendance>
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">{{attendanceFieldShow ? 'User Presence and Entity Map' : 'Entity Mapping'}}</h5>
          <button type="button" class="close" data-dismiss="modal"
            (click)="closemeetingAttendanceMoadal(false)">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row" *ngIf="attendanceFieldShow">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>S.NO</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Presence</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let user of meetingAttendiesList;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{user.name}}</td>
                  <td>{{user.status}}</td>
                  <td>
                    <select [(ngModel)]="user.presense" (change)="saveMeetingAttendiesStatus(user)">
                      <option value="1">Present</option>
                      <option value="0">Absent</option>
                    </select>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>

          <div class="row">
            <div class="col-6">
              <auto-suggestion [data]="entityTypes" display="type" seperator="-" placeholder="Select Type"
                (onSelected)="getEntitiesFilter($event._id)" inputId="entitiyType" name="entitiyType"></auto-suggestion>
            </div>
            <div class="col-6">
              <auto-suggestion [data]="filteredEnitity" display="name" seperator="-" placeholder="Select Entity"
                (onSelected)="advFldForMtngCmplt.mapped_refid = $event._id" inputId="entityList" name="entityList">
              </auto-suggestion>
            </div>
            <!-- <div class="col-2"><button class="btn btn-primary btn-sm" (click)="saveEntity()">Add</button></div> -->
          </div>

          <div class="row float-right pr-2 pt-2">
            <button class="btn btn-primary btn-sm" id="saveMeetingAttendiesStatus"
              (click)="closemeetingAttendanceMoadal(true)">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--meeting attendance status modal -->

  <!--Calender -->
  <!-- <div class="modal" id="calender" #calender>
    <div class="modal-dialog modal-xl">
      <div class="modal-content"> -->
  <!-- Modal Header -->
  <!-- <div class="modal-header">
          <h5 class="modal-title">Availability</h5>
          <button type="button" class="close" data-dismiss="modal"
            (click)="closeCalenderMoadal()">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row calenderStyle">
            <full-calendar [options]="calendarOptions"></full-calendar>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!--Calender -->

</nb-card>
