<div class="modal-header">
    <h5>Add Process</h5>
    <label class="custom-file-upload">
        <input type="file" class="file-control" id="chat-attachment" (change)="handleFileSelection($event)">
        <i class="fa fa-paperclip" style="color: #000000;" aria-hidden="true" title="Attachment"></i>
    </label>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="processForm.attachmentFile && processForm.attachmentFile.name" class="row form-group">
        <div class="col-9">
            <!-- {{attachmentFile.name}} -->
            <span>
                <img height="25" width="25" src="{{processForm.attachmentFile.file}}" *ngIf="!fileType">
                <i class="{{fileType}}" *ngIf="fileType" aria-hidden="true" style="font-size: 22px;"></i>
                <span>{{processForm.attachmentFile.name}}</span>
            </span>
            <i class="fa fa-times-circle cursor-pointer text-danger" aria-hidden="true" title="Cancel"
                (click)="processForm.attachmentFile.name=null;processForm.attachmentFile.file=null"></i>
        </div>
    </div>

    <div *ngIf="attachmentDataToDisplay && attachmentDataToDisplay.name" class="row form-group">
        <div class="col-9">
            <span>
                <img height="25" width="25" src="{{attachmentDataToDisplay.url}}" *ngIf="!fileTypeDisplay">
                <i class="{{fileTypeDisplay}}" *ngIf="fileType" aria-hidden="true" style="font-size: 22px;"></i>
                <!-- <span><a href="{{attachmentDataToDisplay.url}}" target="blank" download>{{attachmentDataToDisplay.name}}</a></span> -->
                <span class="blue cursor-pointer" (click)="common.checkFile(attachmentDataToDisplay.url,attachmentDataToDisplay.name)">{{attachmentDataToDisplay.name}}</span>
            </span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-4">
            <label>Process Name<span class="text-danger">*</span></label>
        </div>
        <div class="col-8">
            <input type="text" class="form-control" name="processName" [(ngModel)]="processForm.name">
        </div>
    </div>

    <div class="row form-group">
        <div class="col-4">
            <label>Start Date<span class="text-danger">*</span></label>
        </div>
        <div class="col-8">
            <uj-date-time-picker (onChanged)="processForm.startTime = $event" [dateTimeValue]="processForm.startTime"
                [isTime]="false">
            </uj-date-time-picker>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-4">
            <label>End Date</label>
        </div>
        <div class="col-8">
            <uj-date-time-picker (onChanged)="processForm.endTime = $event" [isStart]="false"
                [dateTimeValue]="(processForm.endTime) ? processForm.endTime : null" [isTime]="false">
            </uj-date-time-picker>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4">
            <label>Pri Category Alias</label>
        </div>
        <div class="col-8">
            <input type="text" class="form-control" name="priCatAlias" placeholder="Primary Category Alias"
                [(ngModel)]="processForm.priCatAlias">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4">
            <label>Sec Category Alias</label>
        </div>
        <div class="col-8">
            <input type="text" class="form-control" name="secCatAlias" placeholder="Secondary Category Alias"
                [(ngModel)]="processForm.secCatAlias">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4">
            <label>Default Owner</label>
        </div>
        <div class="col-8">
            <auto-suggestion [data]="adminList" display="name" placeholder="select Default Owner" name="defaultOwn"
                id="defaultOwn" (onSelected)="processForm.defaultOwn.id=($event.id);"
                [preSelected]="{name:processForm.defaultOwn.name}" autocomplete="off">
            </auto-suggestion>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4">
            <label>Active</label>
        </div>
        <div class="col-8">
            <input type="checkbox" name="Active" id="Active" [(ngModel)]="processForm.active">
        </div>
    </div>
    <!-- 
    <div class="row form-group">
        <div class="col-4">
            <label>Attachment</label>
        </div>
        <div class="col-8">
            <input type="file" class="file-control col-8" id="Attachment"
                (change)="handleFileSelection($event)">
        </div>
    </div> -->
</div>

<div class="modal-footer">
    <div class="row footer">
        <div class="col ">
            <button class="btn btn-danger btn-sm" type="button" id="cancel " (click)="closeModal(false)">Cancel</button>
        </div>
        <div class="col text-right">
            <button class="btn btn-primary btn-sm" form="worklog-form" type='submit' id="save"
                (click)="saveProcess()">{{button}}</button>
        </div>
    </div>
</div>