<div class="modal-header">
    <h5>Task Assign</h5>
    <button type="button" class="closeModal" (click)="closeModal(false)"><span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #formFilling="ngForm" name="taskAssign-form" id="taskAssign-form" (submit)="formFilling.valid && saveUser()">

        <div class="row mt-2">
            <div class="col-4">
                <label>Module:<span class="text-red">*</span></label>
            </div>
            <div class="col-6">
                <auto-suggestion [data]="moduleName" name="moduleId" [display]="['projectname','name']" seperator="-" placeholder="Enter Module Name" [preSelected]="task.mName ? {name:task.mName,id:id} : {name:'',id:''}" (onSelected)="changeRefernceType($event)" inputId="task.module"
                    required></auto-suggestion>
                <!-- 
            <auto-suggestion  (onSelected)="changeRefernceType($event)" display="name">
            </auto-suggestion> -->
                <div *ngIf="isFormSubmit && moduleId.errors" class="err">
                    <span [hidden]="!moduleId.errors.required">
                        Module name is mandatory
                    </span>
                </div>
            </div>
        </div>
        <div class="row mt-2 ">
            <div class="col-4">
                <label>Title:</label>
            </div>
            <div class="col-6">
                <input type="text" placeholder="Title" [(ngModel)]="task.title" name="name" class="form-control">
            </div>
        </div>
        <div class="row mt-2 ">
            <div class="col-4">
                <label>Description:</label>
            </div>
            <div class="col-6">
                <input type="text" placeholder="Description" [(ngModel)]="task.description" name="name" class="form-control">
            </div>
        </div>
        <div class="row mt-2 ">
            <div class="col-4">
                <label>Assiner:<span class="text-red">*</span></label>
            </div>
            <div class="col-6">
                <!-- <input type="text" placeholder="Assigner" [(ngModel)]="task.assigner" name="name" class="form-control" required> -->
                <auto-suggestion [data]="assigneeLists" display="name" placeholder="Enter Assigner Name" (onSelected)="changeAssignee($event)" name="assigner" [preSelected]="task.assigner ? {name:task.assigner} : {name:''}" inputId="task.assigner" required>
                </auto-suggestion>
                <div *ngIf="isFormSubmit && assigner.errors" class="err">
                    <span [hidden]="!assigner.errors.required">
                        Assigner name is mandatory
                    </span>
                </div>
            </div>
        </div>
        <div class="row mt-2 ">
            <div class="col-4">
                <label>Assigned:<span class="text-red"></span></label>
            </div>
            <div class="col-6">
                <auto-suggestion [data]="assignedLists" display="name" placeholder="Enter Assigned Name" (onSelected)="changeAssined($event)" [preSelected]="task.assigner ? {name:task.assigned} : {name:''}" inputId="task.assigned" name="Assigned" required></auto-suggestion>
                <!-- <input type="text" placeholder="Assigned" [(ngModel)]="task.assigned" name="name" class="form-control" required> -->
                <div *ngIf="isFormSubmit && assigned.errors" class="err">
                    <span [hidden]="!assigned.errors.required">
                        Assigned name is mandatory
                    </span>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label>Date and Time<span class="text-red"></span></label>
            </div>
            <div class="col-6">
                <uj-date-time-picker (onChanged)="date=$event" [dateTimeValue]="task.Date" [isTime]="true" [isStart]="true"> </uj-date-time-picker>
            </div>

        </div>
    </form>
    <div class="row mt-1">
        <div class="col-12 text-right">
            <button class="btn btn-primary text-capitalize" id="button" (click)="saveUser()">Add</button>
        </div>
    </div>
</div>