<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-3">
                <h5 class="heading-design">Activity Logs</h5>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-lg-5 p-0">
                        <label>Select Date :-</label>
                    </div>
                    <div class="col-lg-7">
                        <uj-date-time-picker (onChanged)="date=($event)" [dateTimeValue]="date" [isTime]="false">
                        </uj-date-time-picker>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-lg-5 p-0">
                        <label>Department :-</label>
                    </div>
                    <div class="col-lg-7">
                        <auto-suggestion (onSelected)="selectedDepartment($event)" [data]="departments" display="name" placeholder="Select Department" inputId="selectDepartment" name="selectDepartment" [preSelected]="(department.id>0)?{name:department.name}:{name:''}">
                        </auto-suggestion>
                    </div>
                </div>
            </div>
            <div class="col-3 text-right p-0">
                <button (click)="viewSummary()" class="btn btn-primary btn-sm mr-2">
              View Summary
          </button>
                <button class="btn btn-primary text-capitalize btn-sm" id="button" (click)="addActivityLog(null)"><i
                  class="fa fa-plus"></i></button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <smart-table *ngIf="activityLogsist.length!=0" [data]="table.data" [settings]="table.settings" id="activityLogsist">
            </smart-table>
        </div>
    </nb-card-body>
</nb-card>

<!--start: Ticket History -->
<div class="modal" id="viewSummary">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">View Activity Log Summary</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="closeViewSummary()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive view-activity-tb">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 100px;">Name</th>
                                <th style="width: 200px;">Outcome</th>
                                <th style="width: 100px;">Spend hour</th>
                                <th style="width: 300px;">Description</th>
                                <th style="width: 100px;">Contact person</th>
                                <th>Total Hours</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="viewSummaryList && viewSummaryList.length>0">
                            <tr *ngFor="let d of viewSummaryList">
                                <td style="width: 100px;">{{d.name}}</td>
                                <td colspan="4" class="p-0">
                                    <table class="table table-bordered mb-0">
                                        <tbody>
                                            <tr *ngFor="let dd of d.description_data">
                                                <td style="width: 200px;">{{dd.outcome}}</td>
                                                <td style="width: 100px;">{{dd['spend hour']}}</td>
                                                <td style="width: 300px;">{{dd.description}}</td>
                                                <td style="width: 100px;">{{dd['contact person']}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>{{d.total_spend_hour}}</td>
                                <td>{{d.date}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!viewSummaryList || !viewSummaryList.length">
                            <tr>
                                <td colspan="4">No Record Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end: Ticket History -->