@import '../../style.scss';

smart-table{
    height: calc(100vh - 128px);
}
.view-activity-tb{
    height: calc(100vh - 130px);
    overflow: auto;
  tbody tr:nth-child(even) {
        background-color: #fff;
    }
}