<div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Add States</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="row mb-2">
        <div class="col-4 pr-0">
            <label>State Name<span class="text-danger">*</span></label>
            <input type="text" name="statename" [(ngModel)]="stateName" placeholder="Enter Name" class="form-control" autocomplete="off">
        </div>
        <div class="col-4 pr-0">
            <label>Type<span class="text-danger">*</span></label>
            <select class="form-control" [(ngModel)]="typeId">
            <option value="1" class="form-control">IN</option>
            <option value="2" class="form-control">OUT</option>
            <option value="3" class="form-control">Intermediate</option>
          </select>
        </div>
        <div class="col-4">
            <label>Threshold</label>
            <input type="number" class="form-control" min="0" name="threshold" placeholder="Threshold (Hours)" [(ngModel)]="threshold">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-4 pr-0">
            <label>Next State</label>
            <auto-suggestion [data]="states" display="name" seperator="-" placeholder="Select Next State" (onSelected)="nextStates = $event" inputId="ccUsers" name="ccUsers" isMultiSelect="true" autocomplete="off" [preSelected]="nextStates"></auto-suggestion>
        </div>

        <div class="col-4 pr-0">
            <label>State Owner</label>
            <auto-suggestion [data]="adminList" display="name" seperator="-" placeholder="Select state owner" (onSelected)="userTag = $event" inputId="stateOwner" name="stateOwner" autocomplete="off" [preSelected]="(userTag.id>0) ? {name: userTag.name} : {name: ''}"></auto-suggestion>
            <span style="color: red;">User can either owner or state user </span>
        </div>

        <div class="col-4 pr-0">
            <label>State User</label>
            <auto-suggestion [data]="adminList" display="name" seperator="-" placeholder="Select state User" (onSelected)="stateUser = $event" inputId="stateUser" name="stateUser" autocomplete="off" [preSelected]="stateUser" isMultiSelect="true"></auto-suggestion>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 text-right">
            <button class="btn btn-primary btn-sm" name="submit" (click)="Add()" style="cursor:pointer;">{{btn1}}</button>
            <button *ngIf="requestId" class="btn btn-danger btn-sm ml-2" name="reset" (click)="resetData()" style="cursor:pointer;">{{btn2}}</button>
        </div>
    </div>
    <smart-table *ngIf="data && data.length" [data]="table.data" [settings]="table.settings" id="addField"></smart-table>
</div>