<nb-card>
    <nb-card-header>
        <div class="row ">
            <div class="col-3">
                <h5 class="heading-design"> Segment</h5>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-3">
                <auto-suggestion [data]="moduleName" [display]="['modulename','projectname']" seperator="-"
                    placeholder="Enter Module Name"
                    [preSelected]="segment.moduleName ? {modulename:segment.moduleName,projectname:segment.projectName}: ''"
                    (onSelected)="changeModule($event)" inputId="moduleName" autocomplete="off"
                    (onChange)="unselectModule()"></auto-suggestion>
            </div>
            <div class="col-3">
                <input type="text" placeholder="Segment Name" [(ngModel)]="segment.name" name="name"
                    class="form-control" autocomplete="off" (input)="filterItem($event.target.value)">
            </div>
            <div class="col-3">
                <button class="btn btn-primary text-capitalize" id="button" (click)="saveSegment()">Submit</button>
            </div>
        </div>
        <table class="table table-bordered mt-2">
            <thead class="thead" style="background-color:lightgrey">
                <tr>
                    <th style="width:40px;">#</th>
                    <th>Module Name</th>
                    <th>Segment Name</th>
                    <th>Add By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let segment of filteredItems; let i=index;">
                    <td style="width:40px;">0{{i +1 }}</td>
                    <td>{{segment.module_name}}({{segment.project_name}})</td>
                    <td>{{segment.name}}</td>
                    <td>{{segment.addedby}}</td>
                    <td><i class="far fa-edit" (click)="editSegment(segment)"></i><i class="fas fa-trash-alt"
                            (click)="deleteSegment(segment.id,i)"></i></td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>