.fa-trash-alt {
  font-size: 12px;
  margin-right: 10px;
  color: red;
  border-color: red;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.fa-edit {
  font-size: 12px;
  margin-right: 10px;
  color: #3c6ac7;
  padding: 2px;
  border-radius: 3px;
  cursor: pointer;
}
table{
  thead{
     display: table;
     width: 100%;
     table-layout: fixed;
     th{
      padding: 0.2rem!important;
      background: #fff!important;
      border: 6px solid #000000!important;
      font-size: .80rem;
     }
     th:first-child{
       width: 60px;
     }
  }

  tbody{
      overflow-y: auto;
      display: block;
      width: 100%;
      table-layout: fixed;
      overflow: auto;
      max-height: calc(100vh - 280px);
      tr{
        display: table;
        table-layout: fixed;
        width: 100%;
        td:first-child{
          width: 60px;
        }
     
      }
  
  }
}