@import '../../style.scss';


.fa-edit {
  margin-right: $margin-md;
  color: $color-1600;
  padding: 2px;
  border-radius: $radious-xxs;
  cursor: pointer;
}

table {
  margin-bottom: 0rem;
  @include fixed-table;
  thead{
    th{
        @include th-bordered;
        } 
   }
  tbody {
    max-height: calc(100vh - 218px);

    tr {
      td:first-child {
        width: 60px;
      }

    }

  }
}
