<div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Work Logs</h5>
    <button type="button" class="close" aria- label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row  mt-2">
                    <div class="col-2">
                        <label>Task:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="Enter Task name" autocomplete="off">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-2">
                        <label class="mt-2">Date:</label>
                    </div>
                    <div class="col-8">
                        <uj-date-time-picker (onChanged)="startDate=$event" [dateTimeValue]="startDate" [isTime]="false">
                        </uj-date-time-picker>
                    </div>
                </div>
                <div class="row  mt-4">
                    <div class="col-2">
                        <label> review user:</label>
                    </div>
                    <div class="col-8 ">
                        <input type="text" class="form-control" placeholder="user Name" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row mt-2">
                    <div class="col-2">
                        <label>Stack:</label>
                    </div>
                    <div class="col-8 ">
                        <input type="text" class="form-control" placeholder="Enter stack name" autocomplete="off">
                    </div>
                </div>
                <div class="row  mt-4">
                    <div class="col-2">
                        <label>Total min:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="HH" autocomplete="off">
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="MM" autocomplete="off">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-2">
                        <label>Remark:</label>
                    </div>
                    <div class="col-8">
                        <textarea placeholder="remark" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col">
            <button class="btn btn-danger" type="button" id="cancel" style="cursor: pointer;">cancel</button>
        </div>
        <div class="col text-right">
            <button class="btn btn-primary" type="button" id="submit" style="cursor: pointer;">submit</button>
        </div>
    </div>

</div>