:host ::ng-deep .container{
   min-height:calc(100vh - 235px)!important;
}

:host ::ng-deep .red{
    color:red;
}

:host ::ng-deep .green{
    color:green;
    //height: calc(100vh - 185px)!important;
}
smart-table{
    display: block;
    height: calc(100vh - 202px);
}