@import '../../style.scss';

:host ::ng-deep .container{
   min-height:calc(100vh - 235px)!important;
}

:host ::ng-deep .red{
    color:$color-800;
}

:host ::ng-deep .green{
    color:$color-1800;
    //height: calc(100vh - 185px)!important;
}

smart-table{
    height: calc(100vh - 202px);
}

.tabs_style li.active
{
    position: relative; 
}

.tabs_style li.active::after {
    left: 0px;

}