<nb-card class="min-h-auto">
  <nb-card-header>
    <h5>User Wise Expenses</h5>
  </nb-card-header>


  <nb-card-body>
    <form class="expense-form" (keyup.enter)="SubmitExpenses()">
      <div class="row align-items-center">
        <div class="col-md-3">
          <div class="form-group">
            <label for=""> expense type </label>
            <input type="text" placeholder="add expense type" class="form-control">
          </div>
        </div>
        <!-- <div class="col-md-3">
          <div class="form-group">
            <label for=""> Status</label>
            <div class="d-block">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="expenseType" name="inlineRadioOptions"
                  id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Active</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="status"
                  id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2"> Inactive </label>
              </div>
            </div>
          </div>
        </div> -->

        <div class="col-md-3">
          <auto-suggestion (onSelected)="selectedCategory($event)" [data]="categories" display='name'
            placeholder="Search category" autocomplete="off" name="primaryUser" inputId="primaryUser"
            [preSelected]="{name:''}">
          </auto-suggestion>
        </div>

        <div class="col-md-3">
          <button type="submit" class="btn btn-primary" (click)="SubmitExpenses()"> Save </button>
        </div>
      </div>
    </form>
  </nb-card-body>

</nb-card>


<nb-card>
  <nb-card-header>
    <h5> Expense List </h5>

  </nb-card-header>

  <nb-card-body>

    <h4> {{startTime}} </h4>

    <table datatable class="table table-primary" [dtOptions]="dtOptions" [dtTrigger]="">
      <thead>
        <tr>
          <th>
            Sr No.
          </th>
          <th>
            expense type
          </th>
          <th>
            expense category
          </th>
          <th> staus </th>
          <th>Action </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of expenseData;index as i">
          <td> {{i+1}} </td>
          <td>
            {{item.type}}
          </td>
          <td>
            {{item.category}}
          </td>
          <td>

            {{item.Status}}
          </td>

          <td>
            <div class="action-block">
              <button class="btn btn-danger"> delete </button>
              <button class="btn btn-success"> edit </button>
              <button class="btn btn-info"> View </button>
            </div>

          </td>

        </tr>

      </tbody>

    </table>

    <smart-table [data]="expenseData" [settings]="table.settings"></smart-table>
    <h4> {{endTime}} </h4>

  </nb-card-body>

</nb-card>


<nb-card>
  <nb-card-header>
    <h5> Visit Management </h5>
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <form action="">
        <div class="row">
          <div class="col-md-4">
            <div class="from-group d-flex">
              <input type="text" class="form-control" placeholder="">
            </div>
          </div>
        </div>
      </form>
    </div>

  </nb-card-body>
</nb-card>
