  <nb-card class="min-h-auto">
    <nb-card-header>
      <h5> {{title}}</h5>
    </nb-card-header>


    <nb-card-body>
      <form class="expense-form">
        <div class="row align-items-center">
          <div class="col-md-3">
            <div class="form-group">
              <label for=""> expense type </label>
              <input type="text" placeholder="add expense type" [(ngModel)]="expenseType"
                [ngModelOptions]="{standalone: true}" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for=""> Status</label>
              <div class="d-block">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" [(ngModel)]="typestatus" name="inlineRadioOptions"
                    id="inlineRadio1" value="Active">
                  <label class="form-check-label" for="inlineRadio1">Active</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="typestatus"
                    id="inlineRadio2" value="Inactive">
                  <label class="form-check-label" for="inlineRadio2"> Inactive </label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <select name="category" id="#category" class="form-control" [(ngModel)]="category">
              <option selected="accommodation" value="accommodation">Accommodation</option>
              <option value="transportation">Transportation</option>
              <option value="food">Food</option>
              <option value="utility">Utility</option>
              <option value="medical">Medical</option>
              <option value="entertainment">Entertainment</option>
            </select>
          </div>

          <div class="col-md-3">
            <div class="btn-block">
              <button type="submit" class="btn btn-primary mr-2" (click)="SubmitExpenses()"> {{btn}} </button>
              <button type="cancel" class="btn btn-danger" (click)="resetType()"> Cancel </button>
            </div>
          </div>
        </div>
      </form>
    </nb-card-body>

  </nb-card>


  <nb-card>
    <nb-card-header>
      <h5> Expense List </h5>

    </nb-card-header>

    <nb-card-body>



      <table datatable class="table table-primary" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>
              S.No.
            </th>
            <th>
              Expense type
            </th>
            <th>
              Expense Category
            </th>
            <th> Status </th>
            <th>Action </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of expenseTypeList;index as i">
            <td> {{i+1}} </td>
            <td>
              {{item.description}}
            </td>
            <td>
              {{item.expenses_category}}
            </td>
            <td>

              {{(item.expense_status == 1)?"Active":"Inactive"}}
            </td>

            <td>
              <div class="action-block">
                <button class="btn btn-danger" (click)="deleteExpenseType(item)"> delete </button>
                <button class="btn btn-success" (click)="editExpenseType(item)"> edit </button>
                <button class="btn btn-info" (click)="viewExpenseType(item)"> View </button>
              </div>

            </td>

          </tr>

        </tbody>

      </table>

    </nb-card-body>

  </nb-card>
