<div class="modal-header">
  <h5>{{title || 'New Task'}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
  <div class="row" >
  </div>
  <div class="row mb-2">
      <div class="offset-3 col-3">
          <label class="form-check-inline">
          <input class="form-check-input" type="radio" name="mode" value="" [(ngModel)]="isDate">
          Single Day Leave
        </label>
      </div>
      <div class="col-3">
          <label class="form-check-inline">
          <input class="form-check-input" type="radio" name="mode" value="1" [(ngModel)]="isDate">
          Multiple Day Leave
        </label>
      </div>
  </div>

  <div class="row mt-2" *ngIf="!isDate">
    <div class="col-4">
        <label>Date:<span class="text-danger">*</span></label>
    </div>
    <div class="col-6">
        <uj-date-time-picker [mind]="currentDate" [isStart]="false" [isTime]="false" (onChanged)="LeaveArray.Date.startDate=$event" [dateTimeValue]="LeaveArray.Date.startDate">
        </uj-date-time-picker>
    </div>
  </div>

  <div class="row mt-2" *ngIf="isDate">
    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <label>From:<span class="text-danger">*</span></label>
      </div>
      <div class="col-6">
          <uj-date-time-picker [mind]="currentDate" [isStart]="false" [isTime]="false" (onChanged)="LeaveArray.Date.startDate=$event" [dateTimeValue]="LeaveArray.Date.startDate">
          </uj-date-time-picker>
      </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <label>To:<span class="text-danger">*</span></label>
      </div>
      <div class="col-6">
          <uj-date-time-picker [mind]="currentDate" [isStart]="false" [isTime]="false" (onChanged)="LeaveArray.Date.startDate=$event" [dateTimeValue]="LeaveArray.Date.endDate">
          </uj-date-time-picker>
      </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-4">
        <label>To:<span class="text-danger">*</span></label>
    </div>
    <div class="col-6">
        <auto-suggestion [data]="userList" display='name' (onSelected)="LeaveArray.To = $event" seperator="-" placeholder="Search User" autocomplete="off" name="primaryUser" inputId="primaryUser" >
        </auto-suggestion>
    </div>
  </div>

  <div class="row mt-2">
      <div class="col-4">
          <label>CC:</label>
      </div>
      <div class="col-6">
          <auto-suggestion [data]="userList" display="name" seperator="-" placeholder="Select CC Users" 
          (onSelected)="LeaveArray.cc = $event" inputId="ccUsers" name="ccUsers" isMultiSelect="true"></auto-suggestion>
      </div>
  </div>

  <div class="row mt-2">
    <div class="col-4">
        <label>Subject<span class="text-danger">*</span></label>
    </div>
    <div class="col-6">
        <input placeholder="Enter Subject" name="subject" class="form-control" maxlength="50" [(ngModel)]="LeaveArray.Subject">
    </div>
  </div>

  <!-- <div class="row mt-2 " *ngIf="isProject=='1'">
      <div class="col-4">
          <label>Project:<span class="text-danger">*</span></label>
      </div>
      <div class="col-6">
          <auto-suggestion (onSelected)="selectedProject($event)" [data]="projectList" display="project_desc" seperator="-" placeholder="Search project" autocomplete="off" name="projectId" inputId="projectId">
          </auto-suggestion>
      </div>
  </div> -->

  <div class="row mt-2 ">
      <div class="col-4">
          <label>Reason:</label>
      </div>
      <div class="col-6">
          <textarea row="2" cols="15" placeholder="Enter Task" name="nomaltask" class="form-control" [(ngModel)]="LeaveArray.reason"></textarea>
      </div>
  </div>

  <div class="row mt-1">
      <div class="col-12 text-right">
          <button class="btn btn-primary text-capitalize" id="button"(click)="requesLeave()" >{{btn}}</button>
      </div>
  </div>


  
  <!-- start: task mapping -->
  <!-- <div class="row" *ngIf="normalTask.parentTaskId>0 && taskMapping.length > 0">
      <div class="col-12">Task Mapping</div>
      <smart-table *ngIf="taskMapping.length!=0" [data]="tableTaskMapping.data" [settings]="tableTaskMapping.settings" id="taskMapping">
      </smart-table>
  </div> -->
  <!-- end: task mapping -->
</div>

<!-- start: update date form -->
<!-- <div class="modal-body" *ngIf="editType==1">
  <div class="row mt-2">
      <div class="col-3">
          <label>Last Date:<span class="text-danger">*</span></label>
      </div>
      <div class="col-6">
          <uj-date-time-picker [mind]="currentDate" [isStart]="false" [isTime]="true" (onChanged)="updateLastDateForm.date=$event" [dateTimeValue]="updateLastDateForm.date">
          </uj-date-time-picker>
      </div>
  </div>
  <div class="row mt-2 ">
      <div class="col-3">
          <label>Reason:</label>
      </div>
      <div class="col-6">
          <textarea row="2" cols="15" placeholder="Enter Reason" name="reason" class="form-control" [(ngModel)]="updateLastDateForm.reason"></textarea>
      </div>
  </div>
  <div class="row mt-2 ">
      <div class="col-12 text-right">
          <button class="btn btn-primary btn-sm" (click)="updateAssignDate()">Update</button>
      </div>
  </div>
</div> -->
<!-- end: update date form -->