<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-9">
                <h5>Customer Feedback</h5>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>


        <div class="row form-group">
            <div class="col-4">
              <label>Select Type <span class="require">*</span></label>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-6">
                 
                  <select class="form-control" name="select_type" [(ngModel)]="select_type" >
                    <option value="1">Future Ref.</option>
                    <option value="2">Negative Feedback</option>
                    <option value="3">Positive Feedback</option>
                </select>
                
                </div>
              </div>
            </div>

            <div class="col-4">
                <button type="submit" id="submit" (click)="getFutureRefList()" class="btn btn-primary mr-2">Submit</button>
            </div>



          </div>

          <div  *ngIf='select_type == 2 || select_type == 3' class="row form-group">
            <div class="col-6">
                <label>Start Date</label>
                <uj-date-time-picker (onChanged)="startTime=($event)" [dateTimeValue]="startTime" [isTime]="false">
                </uj-date-time-picker>           
            </div>
            <div class="col-6">
              
                    <label>End Date</label>
                    <uj-date-time-picker (onChanged)="endTime=($event)" [dateTimeValue]="endTime" [isTime]="false" [isStart]="false">
                    </uj-date-time-picker>
                
              
            </div>
          </div>

          

        <div class="row">
            <div>
                <smart-table *ngIf="futureRefList.length!=0" [data]="tableFutureRefList.data" [settings]="tableFutureRefList.settings" id="tableFutureRefList">
                </smart-table>
            </div>
        </div>
    </nb-card-body>
</nb-card>