@import '../../style.scss';

.modal-header {
    padding: $padding-sm $padding-lg;
    background-color:$secondary-17 !important;
    h5 {
        color: #fff;
    }
    button {
        font-size: 26px;
        color: #fff !important;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 $padding-lg;
        opacity: 1;
        outline: none;
    }
}

.modal-footer {
    padding: $padding-sm $padding-lg;
    #cancel {
        background-color: #D61414;
    }
    #submit {
        background-color:$secondary-17;
    }
}