<nb-card>
  <nb-card-header>
      <div class="row ">
          <div class="col-9">
              <h5 class="heading-design">Ticket Process</h5>
          </div>
          <div class="col-3 text-right">
              <button class="btn btn-primary btn-sm" id="button" (click)="addTicket()">
                  <i class="fa fa-plus"></i>
              </button>
          </div>
      </div>
  </nb-card-header>
  <nb-card-body>
      <div class="row">
          <div class="smart-table">
              <smart-table *ngIf="ticketData.length" [data]="table.data" [settings]="table.settings"></smart-table>
          </div>
      </div>

  </nb-card-body>
</nb-card>

<!-- start : Add Ticket Modal-->
 <div class="modal" id="addTicket">
  <div class="modal-dialog modal-lg">
      <div class="modal-content"> 
          <!-- Modal Header -->
          <div class="modal-header">
              <h5 class="modal-title">Add Ticket Process</h5>
              <button type="button" class="close" data-dismiss="modal" (click)="closeaddticketModal()">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="row form-group">
              <div class="col-4">
                  <label>Process Name<span class="text-danger">*</span></label>
              </div>
              <div class="col-8">
                  <input type="text" class="form-control" name="processName" [(ngModel)]="ticketForm.name">
              </div>
          </div>
      
          <div class="row form-group">
              <div class="col-4">
                  <label>Start Date<span class="text-danger">*</span></label>
              </div>
              <div class="col-8">
                  <uj-date-time-picker (onChanged)="ticketForm.startTime = $event" [dateTimeValue]="ticketForm.startTime" [isTime]="false">
                  </uj-date-time-picker>
              </div>
          </div>
      
          <div class="row form-group">
              <div class="col-4">
                  <label>End Date</label>
              </div>
              <div class="col-8">
                  <uj-date-time-picker (onChanged)="ticketForm.endTime = $event" [isStart]="false" [dateTimeValue]="ticketForm.endTime" [isTime]="false">
                  </uj-date-time-picker>
              </div>
          </div>
          <div class="row form-group">
              <div class="col-4">
                  <label>Pri Category Alias</label>
              </div>
              <div class="col-7">
                  <input type="text" class="form-control" name="priCatAlias" placeholder="Primary Category Alias" [(ngModel)]="ticketForm.priCatAlias">
              </div>
              <div class="col-1">
                <button class="btn btn-primary btn-sm" id="button" (click)="addFields('priCatList')" *ngIf="disableAddFields">
                <i class="fa fa-plus"></i>
                </button>
             </div>
          </div>
          <div class="row form-group">
              <div class="col-4">
                  <label>Sec Category Alias</label>
              </div>
              <div class="col-7">
                  <input type="text" class="form-control" name="secCatAlias" placeholder="Secondary Category Alias" [(ngModel)]="ticketForm.secCatAlias">
              </div>
              <div class="col-1">
                <button class="btn btn-primary btn-sm" id="button" (click)="addFields('secCatList')" *ngIf="disableAddFields">
                <i class="fa fa-plus"></i>
                </button>
             </div>
          </div>
          <div class="row form-group">
            <div class="col-4">
                <label>Type List</label>
            </div>
            <!-- <div class="col-7">
                <input type="text" class="form-control" name="secCatAlias" placeholder="Type List" [(ngModel)]="ticketForm.typeList">
            </div> -->
            <div class="col-1">
              <button class="btn btn-primary btn-sm" id="button" (click)="addFields('typeList')" *ngIf="disableAddFields">
              <i class="fa fa-plus"></i>
              </button>
           </div>
        </div>
          <div class="row form-group">
              <div class="col-4">
                  <label>Claim Ticket</label>
              </div>
              <div class="col-8">
                  <auto-suggestion [data]="claimStatusData" display="name" placeholder="Claim Ticket" name="defaultOwn" id="defaultOwn" (onSelected)="ticketForm.claimStatus=$event;" [preSelected]="ticketForm.claimStatus['id'] ? {name: ticketForm.claimStatus['name']}:{name:''}" autocomplete="off">
                  </auto-suggestion>
              </div>
          </div>
          <div class="row form-group">
            <div class="col-4">
                <label>isActive</label>
            </div>
            <div class="col-8">
                <input type="checkbox" [(ngModel)]="ticketForm.isActive">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row footer">
            <div class="col ">
                <button class="btn btn-danger btn-sm" type="button" id="cancel " (click)="closeaddticketModal()">Cancel</button>
            </div>
            <div class="col text-right">
                <button class="btn btn-primary btn-sm" form="worklog-form" type='submit' id="save" (click)="saveTicketProcess()">Next</button>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
<!-- end : Add Ticket modal -->

<!--start: add Lists -->
<div class="modal" id="addFields">
    <div class="modal-dialog modal-md">
        <div class="modal-content"> 
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Add {{listModalTitle}} List</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="closeFieldsModal(null)">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <div class="row form-group" *ngFor="let ele of ticketForm[listTarget]; let i = index">
                <div class="col-4">
                    <label>Name<span class="text-danger">*</span></label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" name="processName" [(ngModel)]="ele.name">
                </div>
                <div class="col-2">
                        <i class="fa fa-plus" *ngIf="i == ticketForm[listTarget].length-1" (click)="insertFields(listTarget)"></i>&nbsp;
                        <i class="fa fa-trash" (click)="ticketForm[listTarget].splice(i,1)" *ngIf="i !== 0"></i>
                </div>
            </div>
            </div>
        <!-- {{ticketForm |json}} -->
        <div class="modal-footer">
          <div class="row footer">
              <div class="col ">
                  <button class="btn btn-danger btn-sm" type="button" id="cancel " (click)="closeFieldsModal(listTarget)">reset</button>
              </div>
              <div class="col text-right">
                  <button class="btn btn-primary btn-sm" form="worklog-form" type='submit' id="save" (click)="saveList()">save</button>
              </div>
          </div>
      </div>
    </div>
  </div>
  </div>
  <!--end: add Lists -->

  <!--start: Ticket Property -->
<div class="modal" id="ticketPropertyList">
    <div class="modal-dialog modal-xl">
        <div class="modal-content"> 
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Ticket Property List</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="closeTicketPropertyModal()">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-right">
                        <button class="btn btn-primary btn-sm" id="button" (click)="addTicketProperty()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <smart-table *ngIf="ticketPropertyData.length" [data]="ticketPropertyTable.data" [settings]="ticketPropertyTable.settings"></smart-table>
                </div>
            </div>
    </div>
  </div>
  </div>
  <!--end: Ticket Property -->

    <!--start:add Ticket Property -->
<div class="modal" id="addTicketProperty">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"> 
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Add Ticket Property</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="closeAddTicketPropertyModal()">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-4">
                        <label>Primary Category</label>
                    </div>
                    <div class="col-8">
                        <auto-suggestion [data]="primaryCategoryListForProperty" display="name" placeholder="Primary Category" name="defaultOwn" id="defaultOwn" (onSelected)="ticketPropertyForm.priCatId=$event;" 
                        [preSelected]="ticketPropertyForm.priCatId['id'] ? {name: ticketPropertyForm.priCatId['name']}:{name:''}" autocomplete="off">
                        </auto-suggestion>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <label>Secondary Category</label>
                    </div>
                    <div class="col-8">
                        <auto-suggestion [data]="secondaryCategoryListForProperty" display="name" placeholder="Secondary Category" name="defaultOwn" id="defaultOwn" (onSelected)="ticketPropertyForm.SecCatId=$event;" 
                        [preSelected]="ticketPropertyForm.SecCatId['id'] ? {name: ticketPropertyForm.SecCatId['name']}:{name:''}" autocomplete="off">
                        </auto-suggestion>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <label>Type</label>
                    </div>
                    <div class="col-8">
                        <auto-suggestion [data]="typeCategoryListForProperty" display="name" placeholder="Type" name="defaultOwn" id="defaultOwn" (onSelected)="ticketPropertyForm.typeId=$event;" 
                        [preSelected]="ticketPropertyForm.typeId['id'] ? {name: ticketPropertyForm.typeId['name']}:{name:''}" autocomplete="off">
                        </auto-suggestion>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <label>Allocation Auto</label>
                    </div>
                    <div class="col-8">
                        <auto-suggestion [data]="claimStatusData" display="name" placeholder="Allocation Auto" name="defaultOwn" id="defaultOwn" (onSelected)="ticketPropertyForm.allocationAuto=$event;" 
                        [preSelected]="ticketPropertyForm.allocationAuto['id'] ? {name: ticketPropertyForm.allocationAuto['name']}:{name:''}" autocomplete="off">
                        </auto-suggestion>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <label>Esclation Auto</label>
                    </div>
                    <div class="col-8">
                        <auto-suggestion [data]="claimStatusData" display="name" placeholder="Esclation Auto" name="defaultOwn" id="defaultOwn" (onSelected)="ticketPropertyForm.esclationAuto=$event;" 
                        [preSelected]="ticketPropertyForm.esclationAuto['id'] ? {name: ticketPropertyForm.esclationAuto['name']}:{name:''}" autocomplete="off">
                        </auto-suggestion>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <label>Esclation Time</label>
                    </div>
                    <div class="col-8">
                        <!-- <uj-date-time-picker (onChanged)="ticketPropertyForm.escTime = $event" [isStart]="false" [dateTimeValue]="ticketPropertyForm.escTime" [isTime]="false">
                        </uj-date-time-picker> -->
                        <input type="number" [(ngModel)]="ticketPropertyForm.escTime">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <label>Complete Remaining Time</label>
                    </div>
                    <div class="col-8">
                        <!-- <uj-date-time-picker (onChanged)="ticketPropertyForm.complRemTime = $event" [isStart]="false" [dateTimeValue]="ticketPropertyForm.complRemTime" [isTime]="false">
                        </uj-date-time-picker> -->
                        <input type="number" [(ngModel)]="ticketPropertyForm.complRemTime">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <label>Complete Esclation Time</label>
                    </div>
                    <div class="col-8">
                        <!-- <<uj-date-time-picker (onChanged)="ticketPropertyForm.complEscTime = $event" [isStart]="false" [dateTimeValue]="ticketPropertyForm.complEscTime" [isTime]="false">
                        </uj-date-time-picker>> -->
                        <input type="number" [(ngModel)]="ticketPropertyForm.complEscTime">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <label>isUrgent</label>
                    </div>
                    <div class="col-8">
                        <input type="checkbox" [(ngModel)]="ticketPropertyForm.isUrgent">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <label>isActive</label>
                    </div>
                    <div class="col-8">
                        <input type="checkbox" [(ngModel)]="ticketPropertyForm.isActive">
                    </div>
                </div>
            </div>
        <div class="modal-footer">
          <div class="row footer">
              <div class="col ">
                  <button class="btn btn-danger btn-sm" type="button" id="cancel " (click)="closeAddTicketPropertyModal()">Cancel</button>
              </div>
              <div class="col text-right">
                  <button class="btn btn-primary btn-sm" form="worklog-form" type='submit' id="save" (click)="saveTicketPropertyList()">Save</button>
              </div>
          </div>
      </div>
    </div>
  </div>
  </div>
  <!--end:add Ticket Property -->