<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-8">
                <h5>Employee's Salary</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label>Select Month:</label>
            </div>
            <div class="col-3">
                <month-picker (select)="selectedDates = $event;"></month-picker>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-primary mr-2 btn-sm" (click)="getEmployeeSalary()">Submit</button>
            </div>
            <div *ngIf='salaryList && salaryList.length' class="col-4 text-right">
                <button type="button" class="btn btn-primary btn-sm mr-2" (click)="getSalaryCalculation()">Calculate Salary</button>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body style="min-height: 300px;">
        <div class="row form-group" style="overflow: auto;">
            <div class="col-12">
                <table *ngIf='salaryList && salaryList.length' class="table table-bordered table-hover salaryTable">
                    <thead class="thead" style="background-color: #c0b2b2">
                        <tr style="text-align:center">
                            <th>Name</th>
                            <th>Paid Days</th>
                            <th>CTC</th>
                            <th>PF Applicable</th>
                            <th>ESIC Applicable</th>
                            <th>Employer PF
                                <br>
                                <input type="text" [(ngModel)]="employerPfPercent" class="col-6" />%
                            </th>
                            <th>Employee PF
                                <br>
                                <input type="text" [(ngModel)]="employeePfPercent" class="col-6" />%
                            </th>
                            <th>Employer ESIC
                                <br>
                                <input type="text" [(ngModel)]="employerEsicPercent" class="col-6" />%
                            </th>
                            <th>Employee ESIC
                                <br>
                                <input type="text" [(ngModel)]="employeeEsicPercent" class="col-6" />%
                            </th>
                            <th>Basic
                                <br>
                                <input type="text" [(ngModel)]="basicPercent" class="col-6" />%
                            </th>
                            <th>HRA</th>
                            <th>Performence Allowance</th>
                            <th>Medical Allowance</th>
                            <th>Washing Allowance</th>
                            <th>Conveyance Allowance</th>
                            <th>Overtime</th>
                            <th>TDS</th>
                            <th>Other Deduction</th>
                            <th>Total Deduction</th>
                            <th>Gross Salary</th>
                            <th>Net Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let v of salaryList;">
                            <td>{{v.name}}</td>
                            <!-- <td><input type="text" [(ngModel)]="v.paid_day" class="col-12" /></td>
                            <td><input type="text" [(ngModel)]="v.ctc" /></td>
                            <td><input type="checkbox" [checked]="v.is_pf_appli" (change)="v.is_pf_appli = !v.is_pf_appli" /></td>
                            <td><input type="checkbox" [checked]="v.is_esi_appli" (change)="v.is_esi_appli = !v.is_esi_appli" /></td> -->
                            <!-- <td><input type="text" [(ngModel)]="v.employer_pf" /></td>
                            <td><input type="text" [(ngModel)]="v.employee_pf" /></td>
                            <td><input type="text" [(ngModel)]="v.employer_esic" /></td>
                            <td><input type="text" [(ngModel)]="v.employee_esic" /></td>
                            <td><input type="text" [(ngModel)]="v.basic" /></td>
                            <td><input type="text" [(ngModel)]="v.hra" /></td>
                            <td><input type="text" [(ngModel)]="v.performence_allo" /></td>
                            <td><input type="text" [(ngModel)]="v.medical_allow" /></td>
                            <td><input type="text" [(ngModel)]="v.washing_allow" /></td>
                            <td><input type="text" [(ngModel)]="v.conveyance_allow" /></td> -->
                            <td>{{v.paid_day}}</td>
                            <td>{{v.ctc}}</td>
                            <td>{{v.is_pf_appli}}</td>
                            <td>{{v.is_esi_appli}}</td>
                            <td>{{v.employer_pf}}</td>
                            <td>{{v.employee_pf}}</td>
                            <td>{{v.employer_esic}}</td>
                            <td>{{v.employee_esic}}</td>
                            <td>{{v.basic}}</td>
                            <td>{{v.hra}}</td>
                            <td>{{v.performence_allo}}</td>
                            <td>{{v.medical_allow}}</td>
                            <td>{{v.washing_allow}}</td>
                            <td>{{v.conveyance_allow}}</td>
                            <td><input type="text" [(ngModel)]="v.overtime" /></td>
                            <td><input type="text" [(ngModel)]="v.tds" /></td>
                            <td><input type="text" [(ngModel)]="v.other_deduction" /></td>
                            <!-- <td><input type="text" [(ngModel)]="v.total_deduction" /></td>
                            <td><input type="text" [(ngModel)]="v.net_salary" /></td> -->
                            <td>{{v.total_deduction}}</td>
                            <td>{{v.gross}}</td>
                            <td>{{v.net_salary}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-12 text-right mt-8">
                <button type="button" (click)="salaryCalculation()" class="btn btn-primary btn-sm mr-2">Calculate Salary</button>
            </div>
        </div> -->
    </nb-card-body>

    <!-- start: map modal -->
    <!-- <div class="modal" id="shiftMapModal" #shiftMapModal>
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" style="color:#fff;">Shift Location</h4>
                  <button type="button" class="close" data-dismiss="modal" (click)="closeMapModal()">&times;</button>
              </div>
              <div class="modal-body">
                  <div class="map-container mt-2">
                      <div #map id="map"> </div>
                  </div>
              </div>

          </div>
      </div>
  </div> -->
    <!-- end: map modal -->
</nb-card>