<div class="contentsection tmg-visit">

  <div class="row section-row">
    <!-- first column -->
    <div class="col-4">
      <div class="row flex-column-2">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Visit/Day
              </h3>
              <p class="link" (click)="getDetails('AdminTask/getVisitsPerDays',{totalrecord: 3,stepno: -1},180,'days')">
                <i title="More Details" class="fa fa-list"></i>
              </p>
            </div>

            <div class="card-body">
              <div class="h-100">
                <chart *ngIf="chart1.type" [type]="chart1.type" [data]="chart1.data"
                  style="margin-right:5px;min-height:180px;height: 100%; padding-left: 10px;"
                  [options]="chart1.options">
                </chart>
              </div>
            </div>

          </div>

        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Visit/Client
              </h3>

              <p class="link"
                (click)="getDetails('AdminTask/getVisitPerClient',{totalrecord: 3,stepno: -1},180,'days')">
                <i title="More Details" class="fa fa-list"></i>
              </p>
            </div>

            <div class="card-body">
              <div class="h-100">
                <chart *ngIf="chart3.type" [type]="chart3.type" [data]="chart3.data"
                  style="margin-right:5px;height:100%;min-height:180px;padding-left: 10px;" [options]="chart3.options">
                </chart>
              </div>

            </div>

          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-12">
          <div class="outer" style="height: auto; margin-bottom: 10px;">
            <h6 style="text-align:center"><b class="charthead">Chart</b></h6>
            <p class="link"
              (click)="getDetails('AdminTask/getTmgMeetingTrends',{totalrecord: 3,stepno: -1},30,'days')"><i
                title="More Details" class="fa fa-list"></i>
            </p>
            <chart *ngIf="chart2.type" [type]="chart2.type" [data]="chart2.dataSet" style="margin-right:5px;min-height: 300px;height: 90%; padding-left: 10px;" [options]="chart2.options">
            </chart>
          </div>
        </div>
      </div>  -->
    </div>

    <!-- second column -->
    <div class="col-4">
      <div class="row flex-column-4">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Worst 3 User Visit Present Day
              </h3>
              <p class="link"
                (click)="getDetails('AdminTask/getWorst3UserVisitPresentDay',{totalrecord: 3,stepno: -1},30,'days')">
                <i title="More Details" class="fa fa-list"></i>
              </p>
            </div>

            <div class="card-body">
              <table class="table" *ngIf="worst3UserVisitPresentDay.length>0">
                <thead class="thead">
                  <th>User</th>
                  <th>Visit/Day</th>
                </thead>
                <tbody class="tbody">
                  <tr *ngFor="let mp of worst3UserVisitPresentDay">
                    <td>{{mp.name}}</td>
                    <td>{{mp.count}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Worst 3 Max Drop 30 D
              </h3>
              <p class="link"
                (click)="getDetails('AdminTask/getWorst3MaxDrop30D',{totalrecord: 3,stepno: -1},30,'days')"><i
                  title="More Details" class="fa fa-list"></i>
              </p>
            </div>

            <div class="card-body">
              <table class="table" *ngIf="worst3MaxDrop30D.length>0">
                <thead class="thead">
                  <th>Name</th>
                  <th>Last Month</th>
                  <th>Current Month</th>
                  <th>% Drop</th>
                </thead>
                <tbody class="tbody">
                  <tr *ngFor="let wc of worst3MaxDrop30D">
                    <td>{{wc.name}}</td>
                    <td>{{wc.last_month}}</td>
                    <td>{{wc.current_month}}</td>
                    <td>{{wc['drop%']}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>

        </div>



        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Client Wise Visit (Top 3) 30D
              </h3>

              <p class="link"
                (click)="getDetails('AdminTask/getClientWiseVisitTop3',{totalrecord: 3,stepno: -1},30,'days')"><i
                  title="More Details" class="fa fa-list"></i>
              </p>
            </div>

            <div class="card-body">
              <table class="table" *ngIf="clientWiseVisitTop3.length>0">
                <thead class="thead">
                  <th>Client</th>
                  <th>Visit</th>
                  <th>User(Visit)</th>
                </thead>
                <tbody class="tbody">
                  <tr *ngFor="let ru of clientWiseVisitTop3">
                    <td>{{ru.name}}</td>
                    <td>{{ru["visit"]}}</td>
                    <td>{{ru["user(visit)"]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                User Wise Visit (Top 3)
              </h3>

              <p class="link"
                (click)="getDetails('AdminTask/getUserWiseVisitTop3',{totalrecord: 3,stepno: -1},30,'days')"><i
                  title="More Details" class="fa fa-list"></i>
              </p>
            </div>

            <div class="card-body">
              <table class="table" *ngIf="userWiseVisitTop3.length>0">
                <thead class="thead">
                  <th>Name</th>
                  <th>Visits</th>
                  <th>Visit/Client</th>
                </thead>
                <tbody class="tbody">
                  <tr *ngFor="let ru of userWiseVisitTop3">
                    <td>{{ru.name}}</td>
                    <td>{{ru["visits"]}}</td>
                    <td>{{ru["visit\/client"]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>

        </div>
      </div>


    </div>

    <!-- third column -->
    <div class="col-4">
      <div class="row flex-column-4">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                User Expense/Visit (Top 3)
              </h3>

              <p class="link"
                (click)="getDetails('AdminTask/getTop3UserExpensePerVisit',{totalrecord: 3,stepno: -1},30,'days')">
                <i title="More Details" class="fa fa-list"></i>
              </p>
            </div>

            <div class="card-body">
              <table class="table" *ngIf="top3UserExpensePerVisit.length>0">
                <thead class="thead">
                  <th>Name</th>
                  <th>Visits</th>
                  <th>Km/Visit</th>
                  <th>Manual</th>
                  <th>Total</th>
                </thead>
                <tbody class="tbody" *ngFor="let tu of top3UserExpensePerVisit">
                  <tr>
                    <td>{{tu.name}}</td>
                    <td>{{tu['visits']}}</td>
                    <td>{{tu['km\/visit']}}</td>
                    <td>{{tu['manual']}}</td>
                    <td>{{tu['total']}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Expense Increased (Top 3)
              </h3>

              <p class="link"
                (click)="getDetails('AdminTask/getExpenseIncreasedTop3',{totalrecord: 3,stepno: -1},30,'days')"><i
                  title="More Details" class="fa fa-list"></i>
              </p>
            </div>

            <div class="card-body">
              <table class="table" *ngIf="expenseIncreasedTop3.length>0">
                <thead class="thead">
                  <th>Name</th>
                  <th>Last Month</th>
                  <th>Current Month</th>
                  <th>% Increase</th>
                </thead>
                <tbody class="tbody" *ngFor="let wu of expenseIncreasedTop3">
                  <tr>
                    <td>{{wu.name}}</td>
                    <td>{{wu.last_month}}</td>
                    <td>{{wu.current_month}}</td>
                    <td>{{wu["Increase%"]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Most Expensive Visit 30D
              </h3>

              <p class="link"
                (click)="getDetails('AdminTask/getMostExpensiveVisit30D',{totalrecord: 3,stepno: -1},30,'days')"><i
                  title="More Details" class="fa fa-list"></i>
              </p>
            </div>

            <div class="card-body">
              <table class="table" *ngIf="mostExpensiveVisit30D.length>0">
                <thead class="thead">
                  <th>Visits</th>
                  <th>Km/Visit</th>
                  <th>Manual Expense</th>
                  <th>Total</th>
                </thead>
                <tbody class="tbody">
                  <tr *ngFor="let wm of mostExpensiveVisit30D">
                    <td>{{wm.visit}}</td>
                    <td>{{wm['km/visit']}}</td>
                    <td>{{wm.manual_expense}}</td>
                    <td>{{wm.total}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Max Deduction (Top 3)
              </h3>
              <p class="link"
                (click)="getDetails('AdminTask/getMaxDeductionTop3',{totalrecord: 3,stepno: -1},30,'days')">
                <i title="More Details" class="fa fa-list"></i>
              </p>

            </div>

            <div class="card-body">
              <table class="table" *ngIf="maxDeductionTop3.length>0">
                <thead class="thead">
                  <th>Name</th>
                  <th>Claimed</th>
                  <th>Approved</th>
                  <th>% Deduct</th>
                </thead>
                <tbody class="tbody">
                  <tr *ngFor="let wm of maxDeductionTop3">
                    <td>{{wm.name}}</td>
                    <td>{{wm.claimed}}</td>
                    <td>{{wm.approved}}</td>
                    <td>{{wm['%Deduct']}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
