@import '../../style.scss';


:host ::ng-deep {
  smart-table {
    height: calc(100vh - 160px);

    .green {
      color: $success-3 !important;

    }

    .txtstyle {
      margin-top: $padding-sm / 2 !important;
      padding-left: $padding-sm;
      padding-right: $padding-sm;
      padding-top: $padding-xxs;
      padding-bottom: $padding-xxs;
      color: $dark-1;
      font-style: normal;
      border-radius: $radious-xxs;
      cursor: pointer;
      margin-right: 7px;
      font-weight: 700;
      font-size: $font-sm-xxl;
      box-shadow: inset 0px 0px 3px 1px;
    }

    .txtstyle1 {
      margin-top: $margin-sm / 2 !important;
      padding-left: $padding-sm;
      padding-right: $padding-sm;
      padding-top: $padding-xxs;
      padding-bottom: $padding-xxs;
      color: $dark-1;
      font-style: normal;
      border-radius: $radious-xxs;
      cursor: pointer;
      margin-right: 7px;
      font-weight: $bolder;
      font-size: $font-sm-xxl;
      box-shadow: inset 0px 0px 3px 1px;
    }

    .show {
      color: $primary-2;
      cursor: pointer;
      font-style: normal;
      font-weight: $bold;
    }

    .show:hover {
      text-decoration: underline;
      cursor: pointer;
    }

  }


  }
