<nb-card>
    <nb-card-header>
        <div class="row ">
            <div class="col-3">
                <h5> Module</h5>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-3">
                <auto-suggestion [data]="projectName" placeholder="Enter Project Name" display="name" [preSelected]="modules.projectName? {name:modules.projectName}:{name:''}" (onSelected)="changeRefernceType($event)" inputId="modules.projectId" autocomplete="off"></auto-suggestion>
            </div>
            <div class="col-3">
                <input type="text" placeholder="Module Name" [(ngModel)]="modules.name" name="name" class="form-control" (input)="filterItem()" autocomplete="off">
            </div>
            <div class="col-3">
                <button class="btn btn-primary text-capitalize" id="button" (click)="saveModule()">Submit</button>
            </div>
        </div>
        <table class="table table-border mt-2">
            <thead class="thead">
                <tr>
                    <th>#</th>
                    <th>Project Name</th>
                    <th>Module Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let module of filteredItems; let i=index;">
                    <td>0{{i +1 }}</td>
                    <td>{{module.project_name | titlecase}}</td>
                    <td>{{module.name | titlecase }}</td>
                    <td><i class="far fa-edit" (click)="editModule(module)"></i><i class="fas fa-trash-alt" (click)="deleteModule(module.id,i)"></i></td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>