.fa-trash-alt {
    font-size: 12px;
    margin-right: 10px;
    color: red;
    border-color: red;
    padding: 8px;
    border-radius: 3px;
}

:host ::ng-deep .fa-edit {
    // font-size: 12px;
    margin-right: 10px;
    //background-color: #3c6ac7;
    color: #3c6ac7;
    // border-color: #73a1ff;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
}