@import '../../style.scss';

.fa-trash-alt {
  font-size: $font-sm-xxl;
  margin-right: $margin-md;
  color: $danger-2;
  border-color: $danger-2;
  padding: 8px;
  border-radius:$radious-xxs;
}

:host ::ng-deep .fa-edit {
  // font-size: 12px;
  margin-right:$margin-md;
  //background-color: #3c6ac7;
  color: $primary-10;
  // border-color: #73a1ff;
  padding: 2px;
  border-radius: $radious-xxs;
  cursor: pointer;
}

table {
  margin-bottom: 0rem;
  @include fixed-table;
  tbody {
    max-height: calc(100vh - 218px);
    tr {
      td:first-child {
        width: 60px;
      }
    }
  }

  thead{
   th{

      @include th-bordered;
   
   } 
  }
}
