<div class="modal-header">
    <h5>{{title || 'Scheduled Task Master'}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <div class="row mb-2">
        <div class="col-5">
            <label>Department<span class="text-danger">*</span></label>
        </div>
        <div class="col-7">
            <auto-suggestion (onSelected)="scheduledTask.department = $event" [data]="departmentList" display="name" seperator="-" placeholder="Select Department" autocomplete="off" name="departmentId" inputId="departmentId" [preSelected]="scheduledTask.department.id ? {name: scheduledTask.department.name}:{name:''}">
            </auto-suggestion>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-5">
            <label>Subject<span class="text-danger">*</span></label>
        </div>
        <div class="col-7">
            <input placeholder="Enter Subject" name="subject" class="form-control" [(ngModel)]="scheduledTask.subject">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-5">
            <label>Description<span class="text-danger">*</span></label>
        </div>
        <div class="col-7">
            <textarea row="2" cols="15" placeholder="Enter Description" name="description" class="form-control" [(ngModel)]="scheduledTask.description"></textarea>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-5">
            <label>Primary User<span class="text-danger">*</span></label>
        </div>
        <div class="col-7">
            <auto-suggestion (onSelected)="scheduledTask.primaryUser = $event" [data]="adminList" display="name" seperator="-" placeholder="Primary User" autocomplete="off" name="primaryUser" inputId="primaryUserId" [preSelected]="scheduledTask.primaryUser.id ? {name: scheduledTask.primaryUser.name}:{name:''}">
            </auto-suggestion>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-5">
            <label>Escalation User<span class="text-danger">*</span></label>
        </div>
        <div class="col-7">
            <auto-suggestion (onSelected)="scheduledTask.escalationUser = $event" [data]="adminList" display="name" seperator="-" placeholder="Escalation User" autocomplete="off" name="escalationUser" inputId="scalationUserId" [preSelected]="scheduledTask.escalationUser.id ? {name: scheduledTask.escalationUser.name}:{name:''}">
            </auto-suggestion>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-5">
            <label>Reporting User<span class="text-danger">*</span></label>
        </div>
        <div class="col-7">
            <auto-suggestion (onSelected)="scheduledTask.reportingUser = $event" [data]="adminList" display="name" seperator="-" placeholder="Reporting User" autocomplete="off" name="reportingUser" inputId="reportingUserId" [preSelected]="scheduledTask.reportingUser.id ? {name: scheduledTask.reportingUser.name}:{name:''}">
            </auto-suggestion>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-5">
            <label>Days<span class="text-danger">*</span></label>
        </div>
        <div class="col-7">
            <input style="width: 100%;" type="number" maxlength="2" placeholder="Days" class="form-control" [(ngModel)]="scheduledTask.days">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-5">
            <label>Hours<span class="text-danger">*</span></label>
        </div>
        <div class="col-7">
            <input style="width: 100%;" type="number" placeholder="Hours" class="form-control" [(ngModel)]="scheduledTask.hours">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-5">
            <label>CC users:</label>
        </div>
        <div class="col-7">
            <auto-suggestion [data]="adminList" display="name" seperator="-" placeholder="Select CC Users" [preSelected]="scheduledTask.ccUsers" (onSelected)="scheduledTask.ccUsers = $event" inputId="ccUsers" name="ccUsers" isMultiSelect="true" autocomplete="off"></auto-suggestion>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-5">
            <label class="mr-1">Is Active</label>
        </div>
        <div class="col-7">
            <input type="checkbox" [checked]="scheduledTask.isActive" (change)="scheduledTask.isActive = !scheduledTask.isActive" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-right">
            <button class="btn btn-primary btn-sm mr-2" id="button" (click)="closeModal(false)">Close</button>
            <button class="btn btn-primary btn-sm" id="button" (click)="saveScheduleTask()">Save</button>
        </div>
    </div>
</div>