@import '../../style.scss';

:host ::ng-deep .fa-edit {
  // font-size: 12px;
  margin-right: $margin-md;
  //background-color: #3c6ac7;
  color: $color-1600;
  // border-color: #73a1ff;
  padding:$padding-xxs - 1;
  border-radius: $radious-xxs;
  cursor: pointer;
}

table {
  margin-bottom: 0rem;
  @include fixed-table;
thead{
  th{
    @include th-bordered;
    }
}

  tbody {
    max-height: calc(100vh - 218px);
    tr {
      td:first-child {
        width: 60px;
      }
    }
  }
}
