<nb-card>
    <nb-card-header>
        <div class="row ">
            <div class="col-3">
                <h5> Project</h5>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body style="min-height: 400px;">
        <div class="row">
            <div class="col-3">
                <input type="text" placeholder="Project Name" [(ngModel)]="project" name="name" class="form-control"
                    (input)="filterItem()" autocomplete="off" required>
            </div>
            <div class="col-3">
                <button class="btn btn-primary text-capitalize" id="button" (click)="saveProject()">Submit
                </button>
            </div>
        </div>

        <table class="table table-border mt-2">
            <thead class="thead">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Add By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let project of filteredItems; let i=index">
                    <td>0{{i+1}}</td>
                    <td>{{project.name}}</td>
                    <td>{{project.addedby}}</td>
                    <td><i class="far fa-edit" (click)="editProject(project)"></i><i class="fas fa-trash-alt"
                            (click)="deleteProject(project.id,i)"></i></td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>