.no-record {
    text-align: center;
    color: red;
    padding-left: 40%;
  }
  //::ng-deep  .black {
  //   background-color: red($color: #000000);
  // }


  .smrt-table{
    display: block;
    height: calc(100vh - 188px);
}