@import '../../style.scss';
.no-record {
    text-align: center;
    color: $color-800;
    padding-left: 40%;
  }
  //::ng-deep  .black {
  //   background-color: red($color: #000000);
  // }


  smart-table{
    height: calc(100vh - 180px);
}