<div class="modal-header">
    <h5>Approve Field Support Request</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <div class="row mt-2">
        <div class="col-4">
            <label>Partner:<span class="text-danger">*</span></label>
        </div>
        <div class="col-6">
            <label>{{approveForm.partner.name}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label>Installer:</label>
        </div>
        <div class="col-6">
            <div class="col-6">
                <label>{{approveForm.installer.name}}</label>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12 text-right">
            <!-- <button class="btn btn-primary text-capitalize mr-2 rejectBtn" (click)="approveFieldSupportRequest(-2)">Reject</button> -->
            <button class="btn btn-primary text-capitalize" (click)="approveFieldSupportRequest()">{{btn}}</button>
        </div>
    </div>
</div>