<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-3">
                <h5 class="heading-design">Holiday Calendar</h5>
            </div>
            <div class="col-3 text-right">
                Holiday Csv <span class="require">*</span>
            </div>
            <div class="col-3">
                <div class="upload-btn-wrapper">
                    <input type="file" name="csv" (change)="handleFileSelection($event)">
                </div>
            </div>
            <div class="col-3">
                <button class="btn btn-primary btn-sm mr-2" type="button" (click)="uploadCsv()">Import Csv</button>
                <button class="btn btn-primary btn-sm" type="button" title="Download Sample Csv" (click)="sampleCsv()">Sample Csv</button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row mb-1">
            <div class="col-2">Filter:</div>
            <div class="col-3">
                <select class="form-control" (change)="onSelectFilter($event.target.value)">
                    <option value="">All</option>
                    <option value="1">Fixed</option>
                    <option value="2">Optional</option>
                    <option value="3">Without Sunday</option>
                </select>
            </div>
        </div>
        <div>
            <smart-table [data]="table.data" [settings]="table.settings" id="tableHoliday"></smart-table>
        </div>
    </nb-card-body>
</nb-card>