@import '../../style';

.radio-type {
  padding-bottom: 10px;
  font-size: $font-md-sm;
  input {
    margin: 0px;
    margin-right: $margin-xs;
    vertical-align: middle;
    width: 20px;
    height: 20px !important;
    margin-left:$margin-sm;
  }
}
