<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-4">
        <h5 class="heading-design">Kanban Board <label *ngIf="dashboardState">({{project.projectName}})</label>
        </h5>
      </div>
      <div class="col-4">
        <div class="row" *ngIf="dashboardState">
          <div class="col-4">
            <input type='search' placeholder="Search" style="width: 100%;"
              (search)="getFilteredCard($event.target.value)">
          </div>
          <div class="col-4 verticalOverflow">
            <div class="userProfileIcons cursor-pointer" id="{{user.id}}" title="{{user.user_label}}"
              (click)="getCardsByUser(user.id)" [style.background]="user.color" *ngFor="let user of cardsUserGroup">
              {{user.name}}
            </div>
          </div>
          <div class="col-4">
            <button class="btn btn-primary ml-2" (click)="resetUserFilter()"
              *ngIf="filterUserGroup.length > 0">Clear</button>
          </div>
        </div>
      </div>


      <!--Start: For List Screen -->
      <!-- <div class="col-2" *ngIf="!dashboardState">
        <auto-suggestion (onSelected)="projectType = $event" display="name" [data]="typeList" placeholder="Select Type"
          seperator="-" [preSelected]="projectType.id >=0 ? {name:projectType.name} : {name:''}"
          className="borderStyle">
        </auto-suggestion>
      </div> -->
      <div class="col-4 text-right" *ngIf="!dashboardState">
        <!-- <button class="btn btn-primary mr-2" *ngIf="dashboardState"><i class="fa fa-filter"
            aria-hidden="true"></i>Filter</button> -->
        <button class="btn btn-primary" (click)="goToBoard({_id:null,project_desc:'All My Issues'},0)">My All
          Issues</button>
      </div>
      <!--Start: For List Screen -->


      <!--Start: For Board Screen -->
      <div class="col-2" *ngIf="dashboardState">
        <auto-suggestion (onSelected)="goToBoard($event,1)" display="project_desc" [data]="projectList"
          placeholder="Select Process" seperator="-" [preSelected]="{project_desc:project.projectName}"
          className="borderStyle" inputId="_id">
        </auto-suggestion>
      </div>
      <div class="col-2 text-right" *ngIf="dashboardState">
        <!-- <button class="btn btn-primary mr-2" *ngIf="dashboardState"><i class="fa fa-filter"
            aria-hidden="true"></i>Filter</button> -->

        <button class="btn btn-primary btn-sm allicons mr-2" id="taskpopup" title="Add Normal Task"
          (click)="showTaskPopup()">
          <img src="./assets/images/addtask.svg" alt="Add Normal Task">
        </button>

        <button class="btn btn-primary" (click)="goToList()">Back</button>
      </div>
      <!--Start: For Board Screen -->
    </div>
  </nb-card-header>

  <nb-card-body>

    <div class="row" *ngIf="!dashboardState">
      <div class="col-12">
        <smart-table *ngIf="projectList.length!=0" [data]="projectListTable.data" [settings]="projectListTable.settings"
          id="processList" class="sl-smart-table">
        </smart-table>
      </div>
    </div>



    <div class="row" style="padding: 1rem;" *ngIf="dashboardState">
      <!-- <div class="col-2">
        <button class="btn btn-primary" (click)="getTaskByType()">Other Issues</button>
      </div> -->
      <!-- <div class="col-6">
        <div class="row">
          <div class="col-4">In Progress</div>
          <div class="col-8 cardContainerProgress" *ngFor="let state of taskStatusBarData;let i = index" cdkDropList
            [cdkDropListData]="state.data" (cdkDropListDropped)="drop($event);" [id]="state.id">
            <div class="row inprocessCardStyle" *ngFor="let data of state.data" cdkDrag>
              <div>
                {{data.title}}
              </div>
              <div style="white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;"
                [title]="data.task_subject">
                {{data.task_subject}}
              </div>
            </div>
            <div class="row" *ngIf="taskStatusBarData[0].data[0]">
              <div class="col-4 pr-0"><button class="btn btn-primary">Hold</button></div>
              <div class="col-4 pr-0 pl-0" style="font-size: 11px;" id="timer"></div>
              <div class="col-4 pl-0 text-right"><button class="btn btn-primary">Done</button></div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-12 text-right" *ngIf="project.projectId">
        <button class="btn btn-primary" (click)="issueSort(0)" *ngIf="issueCategory">My Issues</button>
        <button class="btn btn-primary" (click)="issueSort(1)" *ngIf="!issueCategory">All Issues</button>
      </div>

      <!-- <div class="col-6 text-right" *ngIf="!project.projectId">
        <button class="btn customBtn-primary" [class.buttonActive]= "activeButton === 'to'" (click)="activeButton = 'to'">To</button>
        <button class="btn customBtn-primary" [class.buttonActive]= "activeButton === 'by'" (click)="activeButton = 'by'">By</button>
        <button class="btn customBtn-primary" [class.buttonActive]= "activeButton === 'cc'" (click)="activeButton = 'cc'">CC</button>
      </div> -->
    </div>

    <div class="row stateContainer" id="cardField" *ngIf="dashboardState">
      <div class="stateContainerStyle ml-2" *ngFor="let card of cards;let i = index">
        <div class="stateStatusBar" [style.background]="card.color"></div>
        <!-- background: {{data.color}};-->
        <div>
          <h5 class="stateTitleStyle" title="{{card.title}}">{{card.title}}</h5>
        </div>
        <div class="stateTansActCountStyle">
          <label>{{card.normalTaskCount}} Normal / {{card.scheduleTaskCount}} Schedule</label>
        </div>

        <div class="cardStyle" cdkDropList [cdkDropListData]="card.data" (cdkDropListDropped)="drop($event);"
          [id]="card.title" [cdkDropListConnectedTo]="card.connectedto">

          <div class="row shadow-sm cursor-pointer"
            [ngClass]="data.type.includes('Normal') ? 'NormalStyle' : 'ScheduledStyle'" *ngFor="let data of card.data"
            cdkDrag (cdkDragStarted)="onDragStarted($event)" (cdkDragEnded)="onDragEnded($event)"
            (cdkDragMoved)="movedIn($event)" (click)="ticketMessage(data,null)"
            [cdkDragDisabled]="project.projectId && data.userid != loggedInUser">
            <div class="col-12">
              <h5 [style.color]="data.type_color" style="margin-bottom:0">{{data.type}}</h5>
            </div>
            <div class="col-12"><label class="cardTitleStyle" title="{{data._project_type}}" style="font-weight: bold;">{{data._project_type}}</label></div>
            <div class="col-12"><label class="cardTitleStyle" title="{{data.title}}">{{data.title}}</label></div>
            <div class="col-12">
              <label class="cardTitleStyle" title="{{data.desc}}">{{data._task_desc}}</label>
            </div>
            <div class="col-12" style="padding-bottom:5px">
              <div class="row">
                <div class="col-6">
                  <i class="fas fa-arrow-up" style="color: red;" title="High Priority" *ngIf="data.priority"></i>
                  <i class="fas fa-arrow-up" style="color: yellow;" title="Low Priority" *ngIf="!data.priority"></i>
                  <div>{{data.status}}</div>
                </div>
                <div class="col-6">
                  <div class="rounded-circle" [style.background]="project.projectId ? '#008000' : '#3366ff'"
                    title="{{data.user_label}}">
                    {{data.user}}</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </nb-card-body>

<!-- 
  <div class="modal" id="otherTaskModal" #otherTaskModal>
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Other Tasks</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="closeotherTaskModal()">&times;</button>
        </div>
        <div class="modal-body">
          <div style="height: 180px;overflow: auto;">
            <div class="row otherTaskListStyle cursor-pointer" *ngFor="let other of completeOtherTask;let i = index"
              (click)="insertFromOtherToProgress(other,i)"
              [ngClass]="{'focusOtherTaskList' : otherTaskActiveTab === i}">
              <div class="col-6" style="white-space: nowrap;">
                {{other.task_subject}}
              </div>
              <div class="col-6 text-right">
                {{other.assignedAs}}
              </div>
            </div>
          </div>

          <div>
            <div class="row m-2" style="float: right;">
              <button class="btn btn-primary" (click)="assignTaskToProgress()">In Progress</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</nb-card>