<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-8">
        <h5 class="heading-design">Call Logs</h5>
      </div>
      <div class="col-4 text-right">
      </div>
    </div>


  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-2">
            <label>Start Date</label>
          </div>
          <div class="col-4">
            <uj-date-time-picker style="z-index: 999;" (onChanged)="callLogsDuration.startDate=($event)"
              [dateTimeValue]="callLogsDuration.startDate" [isTime]="false" [maxd]='today'>
            </uj-date-time-picker>
          </div>
          <div class="col-2">
            <label>End Date</label>
          </div>
          <div class="col-4">
            <uj-date-time-picker style="z-index: 999;" (onChanged)="callLogsDuration.endDate=($event)"
              [dateTimeValue]="callLogsDuration.endDate" [isTime]="false" [maxd]='today'>
            </uj-date-time-picker>
          </div>
        </div>
      </div>

      <!-- <div class="col-2" *ngIf="!loggedInUser.isSuperUser && userListForRM && userListForRM.length > 0">
        <auto-suggestion (onSelected)="activeLogs = $event" [data]="userListForRM" display="name" seperator="-"
          placeholder="Search User" autocomplete="off" name="userId" inputId="userId"
          [preSelected]="activeLogs.id ? {name:activeLogs.name} : {name:''}">
        </auto-suggestion>
      </div> -->

      <div class="col-2">
        <auto-suggestion (onSelected)="activeLogs = $event" [data]="reporterList" display="name" seperator="-"
          placeholder="Search User" autocomplete="off" name="userId" inputId="userId"
          [preSelected]="activeLogs.id ? {name:activeLogs.name} : {name:''}">
        </auto-suggestion>
      </div>

      <div class="col-1">
        <button type="submit" id="submit" (click)="getCallLogs()" class="btn btn-primary mr-2 btn-sm">Submit</button>
      </div>
      <div class="col-3 text-right">
        <button class="btn btn-primary btn-sm mr-2" (click)="openComplianceReportModal()"
          title="Download Excel">Compliance Report</button>
        <button class="btn btn-primary btn-sm mr-2" *ngIf="callLogList && callLogList.length>0" (click)="exportCSV(1)"
          title="Download Excel"><i class="fas fa-download"></i></button>
      </div>
    </div>
    <div class="mt-1">
      <smart-table *ngIf="callLogList && callLogList.length>0" [data]="table.data" [settings]="table.settings"
        id="entries"></smart-table>
    </div>
  </nb-card-body>

</nb-card>



<div class="modal" id="complianceReport" #complianceReport>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Compliance Report</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="closecomplianceReport()">&times;</button>
      </div>

      <div class="modal-body">
        <div class="row m-0">
          <div class="col-4">
            <uj-date-time-picker style="z-index: 999;" (onChanged)="compliancereport.date=($event)"
              [dateTimeValue]="compliancereport.date" [isTime]="false">
            </uj-date-time-picker>
          </div>

          <div class="col-2"><button class="btn btn-primary btn-sm mr-2"
              (click)="getComplianceReport()">Submit</button>
          </div>

          <div class="col-6 text-right">
            <button class="btn btn-primary btn-sm mr-2"
              *ngIf="compliancereport.complianceData && compliancereport.complianceData.length>0"
              (click)="exportCSV(2)" title="Download Excel"><i class="fas fa-download"></i></button>
          </div>

        </div>

        <div class="row mt-1">
            <smart-table *ngIf="compliancereport.complianceData && compliancereport.complianceData.length>0"
              [data]="compliancetable.data" [settings]="compliancetable.settings" id="compliancereport" class="popupsmarttb"></smart-table>
        </div>
      </div>
    </div>
  </div>
</div>