@import "bourbon";

//   theme styles

@import '../app/@theme/scss/main.scss';
$defalut:'.nb-theme-default';
$cosmic:'.nb-theme-cosmic';
$light: '.nb-theme-light';
@import '../../src/app/@theme/scss/themes/default/default.scss';



$base-color:#fff;
$color-primary:#3699ff;
$color-secondary:#f4f5f6;
$color-warning:#FF9914;
$color-success: #1bc5bd;
$color-danger:#F21B3F;
$color-success-light:#ABFF4F;
$color-muted:#605f5f;
$color-dark:#000;


// body{
//   @include padding(null 1rem);
// }


@mixin smart-table($margin) {
  display: block;
  height: calc(100vh - #{$margin});
  overflow: auto;
}

@mixin th-bordered {
  border: 6px solid $dark-1 !important;
  padding: .2rem !important;
  background: #fff !important
}


@mixin table-fixed {
  display: table;
  width: 100%;
  table-layout: fixed;
}

@mixin thead-fixed {
  display: table;
  width: 100%;
  table-layout: fixed;
}

@mixin tbody-fixed($margin) {
  overflow-y: auto;
  display: block;
  width: 100%;
  table-layout: fixed;
  overflow: auto;
  max-height: calc(100vh - #{$margin});

}

@mixin tr-fixed {
  display: table;
  table-layout: fixed;
  width: 100%;
}

@mixin td {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 1px solid $light-7;
}


//  tab style
@mixin tab-style {
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
  padding-left: 5px !important;
}

@mixin tablist {
  padding: 5px 6px;
  list-style: none;
  margin-right: $margin-xs;
  color: $light-1;
  border-bottom: 0px;
  display: inline-block;
  border-radius: $radious-xs $radious-xs 0px 0px;
  font-size: $font-sm-xxl;
  font-weight: normal;
  cursor: pointer;
}

@mixin tablist-pseudo {
  content: "";
  display: block;
  background-color: $light-1;
  height: 10px;
  width: 100%;
  position: absolute;
  left: 0px;
}

@mixin tablist-active {
  background-color: $light-1;
  color: $primary-11;
  position: relative;

  &::after {
    content: "";
    display: block;
    background-color: $light-1;
    height: 10px;
    width: 100%;
    position: absolute;
    left: 0px;
  }
}

@mixin td {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 1px solid $light-7;
}

@mixin fixed-table {
  thead {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  tbody {
    overflow-y: auto;
    display: block;
    width: 100%;
    table-layout: fixed;
    overflow: auto;

    tr {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

  }


}


@mixin trash-alt {
  color: $danger-2;
  font-size: 18px;

  span {
    position: absolute;
    display: none;
    padding: 10px 27px;
    font-weight: normal;
    font-size: 11px;
    left: -10px;
    top: -28px;
    -webkit-box-shadow: 5px 2px 8px rgba($dark-1, 0.5);
    box-shadow: 5px 2px 8px rgba($dark-1, 0.5);
    font-family: Roboto;
    z-index: 9999;
  }

  span::before {
    content: "Delete";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $danger-2;
    border-radius: 3px;
    padding: $padding-xs $padding-md;
    color: $light-1;
    width: 100%;
  }

  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $danger-2;
    position: absolute;
    bottom: -5px;
    right: 24px;
  }

}

@mixin fa-edit {
  color: $success-3;
  font-size: $font-md-lg;

  span {
    position: absolute;
    display: none;
    padding: 10px 24px;
    font-weight: normal;
    font-size: 11px;
    left: -12px;
    top: -28px;
    -webkit-box-shadow: 5px 2px 8px rgba($dark-1, 0.5);
    box-shadow: 5px 2px 8px rgba($dark-1, 0.5);
    font-family: Roboto;
    z-index: 9999;
  }

  span::before {
    content: "Edit";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $success-3;
    border-radius: 3px;
    padding: 5px 10px;
    color: $light-1;
    width: 100%;
  }

  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $success-3;
    position: absolute;
    bottom: -5px;
    right: 24px;
  }

}

@mixin headings {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

.iv-fullscreen {
  z-index: 9999 !important;
}

.min-h-auto{
 min-height: auto !important;

}

.mentioned_user {
  max-width: 50%;
  max-height: 50vh;
  overflow: auto;
  position: absolute;
  bottom: 60px;
  background: $light-1;
  font-size: 12px;
  left: 15px;
  z-index: 1;
  border-radius: 4px;
  border: 1px solid $secondary-29;
  box-shadow: 0 2px 4px $success-2;

  span,
  a {
    display: block;
    cursor: pointer;
    padding: 3px 10px;
    letter-spacing: .5px;
    color: $dark-1;
  }

  span:focus,
  a:focus {
    background: $warning-3 !important;
    border: none;
  }
}

.div-input {
  min-height: 27px;
}


//  custom style Item Redesign and development

.dataTables_wrapper .dataTables_length {
  float: left;
  position: relative;
  bottom: 3px;
}

.nb-theme-default {
  .action-block {
    button {
      padding: 5px 15px !important;
      text-transform: capitalize;
      margin-right: 7px;
      height: 26px !important;
      line-height: 5px;
      font-family: Poppins, sans-serif !important;

    }
  }

  table.dataTable {

    td,
    th {
      vertical-align: middle;
    }
  }

  table {
    .action-block {
      margin: 3px 0px;
    }
  }

}



.caps {
  text-transform: capitalize;
}

// datatable
.ng-dataTable,
.ng-datatable,
.dataTable {

  // .action-block button{
  //  height: 18px !important;
  // }
  button {
    height: auto !important;
    padding: 10px 14px !important;
  }

  border: 1px solid rgba(61, 105, 214, 0.5) !important;
  border-top: 0 !important;

  th {
    background-color: #3f69d6;
    // background-color:#72b3c7;
    padding: 10px;
    color: #fff;
    border: 0 !important;
  }

  th.action,.bg-none {
    background-image: none;
    pointer-events: none; 
  }

  tbody {
    td:last-child {
      border-right: 0 !important;
    }

    td:first-child {
      border-left: 0 !important;
    }
  }



}


:host ::ng-deep{
  .ng-dataTable,
.ng-datatable,
.dataTable {

  // .action-block button{
  //  height: 18px !important;
  // }
  button {
    height: auto !important;
    padding: 10px 14px !important;
  }

  border: 1px solid rgba(61, 105, 214, 0.5) !important;
  border-top: 0 !important;

  th {
    background-color: #3f69d6;
    // background-color:#72b3c7;
    padding: 10px;
    color: #fff;
    border: 0 !important;
  }

  th.action,.bg-none {
    background-image: none;
    pointer-events: none; 
  }

  tbody {
    td:last-child {
      border-right: 0 !important;
    }

    td:first-child {
      border-left: 0 !important;
    }
  }
}
}


.dt-buttons {
  display: inline-block;
  margin-left: 0;
  position: relative;
  margin-bottom: 5px;
  margin-left: 15px;

  .dt-button {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.15rem 0.85rem;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,
      background-color .15s ease-in-out,
      border-color .15s ease-in-out,
      box-shadow .15s ease-in-out;
  }

  .buttons-copy {
    background-color: #007fbc;
  }

  .buttons-csv {
    background-color: $color-danger
  }

  .buttons-excel {
    background-color: $color-warning;
  }

  .buttons-print {
    background-color: $color-success;
  }
}




.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
  position: relative;
  top: -2px;
}



.action-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.icon-action {
    .btn {
      padding: 5px;
      width: 30px;
      height: 30px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.timeslot{ 
  .modal-dialog{
      max-width: 90%!important;
  }

}

table.dataTable tbody th {
  padding: 3px 10px !important;
}

table.dataTable tbody td{
   padding: 3px 11px !important;
}
