<nb-card style="border: 0px;">
  <!-- <nb-card-header>
   
  </nb-card-header> -->
  <nb-card-body style="padding: 1rem 1rem;">
    <div class="out-topnav">
    <div>
      <p class="dirbtn"><i class="fas fa-chevron-left"  (click)="backwardMove()"></i></p>
    </div>
    <div class="toptab">
      <div class="hiddenby">
        <p [class]="selectedDashboard=='Tmg-Task'?'active':'default'" (click)="selectedDashboard='Tmg-Task';selectedDept = {id:null,name:null}">
          <b>Task DashBoard</b>
        </p>
      </div>
      <div class="hiddenby">
        <p [class]="selectedDashboard=='Tmg-worklog'?'active':'default'" (click)="selectedDashboard='Tmg-worklog';selectedDept = {id:null,name:null}">
          <b>WorkLog DashBoard</b>
        </p>
      </div>
      <div *ngIf="selectedDashboard=='Tmg-worklog'">
        <auto-suggestion (onSelected)="selectedDept = $event" [data]="departments" display="name" placeholder="Select Department" inputId="selectDepartment" name="selectDepartment" [preSelected]="(selectedDept.id>0)?{name:selectedDept.name}:{name:''}">
        </auto-suggestion>
      </div>
    </div>
   
    <div>
      <p class="dirbtn"><i class="fas fa-chevron-right" (click)="forwardMove()"></i></p>
    </div>
   
   </div>
   <tmg-task *ngIf="['Tmg-Task','Tmg-worklog'].includes(selectedDashboard)" [pageType]="selectedDashboard" [deptId]="selectedDept.id"></tmg-task>
  </nb-card-body>
</nb-card>