.default{
    color: #000;
    border-radius: 4.17rem;
    font-size: .75rem;
    text-align: center;
    padding: 5px 10px;
    background-color: #eef1fd;
    color: #3f6ad8;
    cursor: pointer;
    border-bottom: 1px solid white;
   // box-shadow: 0 16px 26px -10px rgba(63,106,216,0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(63,106,216,0.2);
    margin-bottom: 0rem;
    word-break: keep-all;
    white-space: nowrap;
    margin-right: 10px;
}
.default:hover{
    border-radius: 4.17rem;
    font-size: .75rem;
    text-align: center;
    padding: 5px 10px;
    background-color: #3f6ad8;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid white;
   // box-shadow: 0 16px 26px -10px rgba(63,106,216,0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(63,106,216,0.2);
    margin-bottom: 0rem;
    margin-right: 10px;
}
.active{
    margin-bottom: 0rem;
    border-radius: 4.17rem;
    font-size: .75rem;
    text-align: center;
    padding: 5px 10px;
    word-break: keep-all;
    white-space: nowrap;
    background-color: #3f6ad8;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid white;
    margin-right: 10px;
   // box-shadow: 0 16px 26px -10px rgba(63,106,216,0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(63,106,216,0.2);
}
.dirbtn{
    cursor: pointer;
    border-radius: 0.17rem;
    padding: 5px 10px;
    background-color: #3f6ad8;
    color: #fff;
    margin-bottom: 0;
    box-shadow: 0 16px 26px -10px rgba(63,106,216,0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(63,106,216,0.2);
}
.dirbtn:hover{
    background-color: #0233af;
}
.out-topnav{
    margin-top: -15px;
    margin-left: -14px;
    margin-right: -14px;
    padding: 0 2px;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    -webkit-box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
     box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
   
}
.toptab{
    padding: 6px 1px;
    margin: 0px 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
//    background: white;
//    -webkit-box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
//     box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
max-width: calc(100vw - 210px);
  overflow-y: auto;
}
.toptab::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
    background-color: #c1c1c1 !important;
}
.hiddenby{
     opacity: 1;
     transition:.5s;
}
 .toptab:hover .hiddenby{
    opacity: 1;
    transition:1s;
 }
