<nb-card style="border: 0px;">
  <!-- <nb-card-header>
   
  </nb-card-header> -->
  <nb-card-body style="padding: 1rem 1rem;">
    <div class="out-topnav">
    <div>
      <p class="dirbtn"><i class="fas fa-chevron-left"  (click)="backwardMove()"></i></p>
    </div>
    <div class="toptab">
      <div class="hiddenby">
        <p [class]="selectedDashboard=='Tmg-Task'?'active':'default'" (click)="selectedDashboard='Tmg-Task'">
          <b>Task DashBoard</b>
        </p>
      </div>
    </div>
    <div>
      <p class="dirbtn"><i class="fas fa-chevron-right" (click)="forwardMove()"></i></p>
    </div>
   </div>
   <tmg-task *ngIf="selectedDashboard=='Tmg-Task'"></tmg-task>
  </nb-card-body>
</nb-card>