@import '../../../style';

:host ::ng-deep .tableFixHead {
    height: auto !important;
}
.custdrop{
    max-height: 100px;
    overflow: auto;
    padding-bottom:$padding-md;
    .row{
        margin-top: 1px;
    }

}