<div class="modal-header">
  <h5>{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="dismiss(false,false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <!-- start:dyn field -->
  <div *ngFor="let dd of oddArray ; let i = index; " class="row">
    <div *ngIf="oddArray[i]" [class]="(evenArray.length > 0 && !oddArray[i].isExpand)? 'col-6' : 'col-12'"
      style="margin-bottom: 1rem;">
      <div *ngIf="oddArray[i].r_colalias" class="row">
        <div class="col-2">
          <label>{{oddArray[i].r_colalias}}<span style="color: red" *ngIf="oddArray[i].r_required">*</span></label>
        </div>

        <div class="col-10">
          <!-- <input type="text" class="form-control" [(ngModel)]=oddArray[i].r_value *ngIf="oddArray[i].r_coltype == 'text' && !oddArray[i].r_fixedvalues "> -->
          <textarea *ngIf="oddArray[i].r_coltype == 'text' && !oddArray[i].r_fixedvalues" class="form-control"
            [(ngModel)]="oddArray[i].r_value" rows="1"></textarea>
          <input type="number" class="form-control" [(ngModel)]=oddArray[i].r_value
            *ngIf="oddArray[i].r_coltype == 'number' && !oddArray[i].r_fixedvalues ">
          <uj-date-time-picker (onChanged)="oddArray[i].r_value = $event" [dateTimeValue]="oddArray[i].r_value"
            *ngIf="oddArray[i].r_coltype =='date'" [isTime]="true">
          </uj-date-time-picker>

          <auto-suggestion
            *ngIf="oddArray[i].r_coltype =='auto' && (oddArray[i].r_coltitle).toLowerCase()=='primary category'"
            [data]="priCatList" display="name"
            [placeholder]="(oddArray[i].r_colalias) ? 'Select '+oddArray[i].r_colalias : 'Select Primary Category'"
            name="secCat" id="secCat" (onSelected)="oddArray[i].r_value=($event.name);categoryIds.priCat=($event.id);"
            [preSelected]="{name:oddArray[i].r_value}" autocomplete="off">
          </auto-suggestion>
          <auto-suggestion
            *ngIf="oddArray[i].r_coltype =='auto' && (oddArray[i].r_coltitle).toLowerCase()=='seconday category'"
            [data]="secCatList" display="name"
            [placeholder]="(oddArray[i].r_colalias) ? 'Select '+oddArray[i].r_colalias : 'Select Secondary Category'"
            name="secCat" id="secCat" (onSelected)="oddArray[i].r_value=($event.name);categoryIds.secCat=($event.id);"
            [preSelected]="{name:oddArray[i].r_value}" autocomplete="off">
          </auto-suggestion>
          <auto-suggestion
            *ngIf="oddArray[i].r_coltype =='auto' && (oddArray[i].r_coltitle).toLowerCase()=='transaction type'"
            [data]="typeList" display="name" name="processType" id="processType"
            [placeholder]="(oddArray[i].r_colalias) ? 'Select '+oddArray[i].r_colalias : 'Select Type'"
            (onSelected)="oddArray[i].r_value=($event.name);categoryIds.type=($event.id);"
            [preSelected]="{name:oddArray[i].r_value}" autocomplete="off">
          </auto-suggestion>

          <input type="checkbox" style="margin: 7px 0 0 0;" [(ngModel)]="oddArray[i].r_value"
            *ngIf="oddArray[i].r_coltype == 'checkbox' && !oddArray[i].r_fixedvalues">

          <!-- <span *ngIf="oddArray[i].r_coltype == 'table'" (click)="AdditionalForm('oddArray',i)"><i class="fa fa-table" aria-hidden="true"></i></span> -->
          <span *ngIf="oddArray[i].r_coltype == 'table'">

            <!-- <i class="fas fa-expand" *ngIf="!oddArray[i].isExpand"
              (click)="checkAllExpandedTables(oddArray[i],'odd',true)"></i>

            <i class="fas fa-compress" *ngIf="oddArray[i].isExpand"
              (click)="checkAllExpandedTables(oddArray[i],'odd',false)"></i> -->


            <!-- <i class="fas fa-expand" *ngIf="!oddArray[i].isExpand" (click)="checkAllExpandedTables()"></i>

            <i class="fas fa-compress" *ngIf="oddArray[i].isExpand" (click)="checkAllExpandedTables()"></i> -->


          </span>
          <!-- <ngx-table-view [additionalFields]="oddArray[i]._param_child" [tableHeader]="oddArray[i]._param_child[0]"
            (tableUpdate)="tableEvents($event,i,'odd')"
            *ngIf="oddArray[i].r_coltype == 'table' && oddArray[i].isExpand">
          </ngx-table-view> -->


          <table class="table-bordered" width="100%">
            <thead>
              <tr>
                <th *ngFor="let head of oddArray[i]._param_child[0];" [class.required]="head.r_isdashboard_info">
                  <div *ngIf="!head.r_isdashboard_info " class="table-field"> {{head.param_name}} </div>
                  <div *ngIf="head.r_isdashboard_info" class="table-field"> {{head.param_name}} <i
                      class=" text-danger fa
                    fa-star"></i> </div>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tr of oddArray[i]._param_child;let i=index">
                <td *ngFor="let td of tr;let vi=index">
                  <input type="text" class="form-control" [(ngModel)]="td.param_value"
                    *ngIf="td.param_type == 'text'  && !td.param_info">
                  <input type="number" class="form-control" [(ngModel)]="td.param_value"
                    *ngIf="td.param_type == 'number'  && !td.param_info">
                  <uj-date-time-picker (onChanged)="td.param_value = $event" [dateTimeValue]="td.param_value"
                    *ngIf="td.param_type =='date'" [isTime]="false">
                  </uj-date-time-picker>
                  <select [(ngModel)]="td.param_value" class="form-conrol col-12"
                    *ngIf="td.param_info && td.param_type!= 'entity'" (change)="onSelectNotBind($event,td)">
                    <option [value]="fixValue.option" *ngFor="let fixValue of td.param_info" id="option"
                      [attr.isNotBind]="fixValue.isNonBind">
                      {{fixValue.option}}</option>
                  </select>
                  <input type="text" *ngIf="td.param_info && td.isNotBindFixedvalue" class="form-control"
                    placeholder="Enter value" [(ngModel)]="td.notBindFixedvalue">
                  <auto-suggestion *ngIf="td.param_type =='entity'" [data]="td.param_info" display="option"
                    [placeholder]="(td.param_name) ? 'Select '+td.param_name : 'Select Entity'" name="entityFieldTable"
                    id="entityFieldTable" (onSelected)="td.param_value=($event._id);"
                    [preSelected]="{option: td.entity_value}" autocomplete="off">
                  </auto-suggestion>
                </td>
                <td>
                  <button *ngIf=" !isDisabled" type="button" class="btn btn-bg-transparent" title="Add Row"
                    (click)="AddTableRow()">
                    <i class="fa fa-plus text-primary cursor-pointer"></i>
                  </button>
                  <button *ngIf="i !== 0 && !isDisabled" type="button" class="btn btn-bg-transparent" title="Remove Row"
                    (click)="oddArray.splice(i,1)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>


          <!-- dynamic dropdown -->
          <select [(ngModel)]="oddArray[i].r_value" class="form-conrol col-12"
            *ngIf="oddArray[i].r_fixedvalues && oddArray[i].r_coltype !='entity'"
            (change)="onSelectNotBind($event,oddArray[i])">
            <option [value]="fixValue.option" [attr.isNotBind]="fixValue.isNonBind"
              *ngFor="let fixValue of oddArray[i].r_fixedvalues">
              {{fixValue.option}}</option>
          </select>
          <input type="text" *ngIf="oddArray[i].r_fixedvalues && oddArray[i].isNotBindFixedvalue" class="form-control"
            placeholder="Enter value" [(ngModel)]="oddArray[i].notBindFixedvalue">
          <auto-suggestion *ngIf="oddArray[i].r_coltype =='entity'" [data]="oddArray[i].r_fixedvalues" display="option"
            [placeholder]="(oddArray[i].r_colalias) ? 'Select '+oddArray[i].r_colalias : 'Select Entity'"
            name="entityField" id="entityField" (onSelected)="oddArray[i].r_value=($event._id);"
            [preSelected]="{option: oddArray[i].entity_value}" autocomplete="off">
          </auto-suggestion>

          <div class="input-group p-0" *ngIf="oddArray[i].r_coltype =='attachment'">
            <span *ngIf="oddArray[i].r_url" class="small col-12 p-0">
              <span class="blue cursor-pointer"
                (click)="common.checkFile(oddArray[i].r_url,oddArray[i].r_doc_name)">{{oddArray[i].r_doc_name}}</span>
            </span>
            <input type="file" class="file-control col-8" [id]="'chat-attachment-oddArray-'+i"
              (change)="handleFileSelection($event,i,'oddArray')">
            <!-- <button *ngIf="!isDisabled" type="button" class="btn btn-primary btn-sm col-4" (click)="uploadattachFile('oddArray',i)">Upload</button> -->
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="evenArray[i]" [class]="(oddArray.length > 0 && !evenArray[i].isExpand)? 'col-6' : 'col-12'">
      <span *ngIf="evenArray[i].r_colalias" class="row">
        <div class="col-2">
          <label>{{evenArray[i].r_colalias}} <span style="color: red" *ngIf="evenArray[i].r_required">*</span></label>
        </div>

        <div class="col-10">
          <!-- <input type="text" class="form-control" [(ngModel)]=evenArray[i].r_value *ngIf="evenArray[i].r_coltype == 'text'  && !evenArray[i].r_fixedvalues"> -->
          <textarea *ngIf="evenArray[i].r_coltype == 'text' && !evenArray[i].r_fixedvalues" class="form-control"
            [(ngModel)]="evenArray[i].r_value" rows="1"></textarea>
          <input type="number" class="form-control" [(ngModel)]=evenArray[i].r_value
            *ngIf="evenArray[i].r_coltype == 'number'  && !evenArray[i].r_fixedvalues">
          <uj-date-time-picker (onChanged)="evenArray[i].r_value = $event" [dateTimeValue]="evenArray[i].r_value"
            *ngIf="evenArray[i].r_coltype =='date'" [isTime]="true">
          </uj-date-time-picker>

          <auto-suggestion
            *ngIf="evenArray[i].r_coltype =='auto' && (evenArray[i].r_coltitle).toLowerCase()=='primary category'"
            [data]="priCatList" display="name"
            [placeholder]="(evenArray[i].r_colalias) ? 'Select '+evenArray[i].r_colalias : 'Select Primary Category'"
            name="secCat" id="secCat" (onSelected)="evenArray[i].r_value=($event.name);categoryIds.priCat=($event.id);"
            [preSelected]="{name:evenArray[i].r_value}" autocomplete="off">
          </auto-suggestion>
          <auto-suggestion
            *ngIf="evenArray[i].r_coltype =='auto' && (evenArray[i].r_coltitle).toLowerCase()=='seconday category'"
            [data]="secCatList" display="name"
            [placeholder]="(evenArray[i].r_colalias) ? 'Select '+evenArray[i].r_colalias : 'Select Secondary Category'"
            name="secCat" id="secCat" (onSelected)="evenArray[i].r_value=($event.name);categoryIds.secCat=($event.id);"
            [preSelected]="{name:evenArray[i].r_value}" autocomplete="off">
          </auto-suggestion>
          <auto-suggestion
            *ngIf="evenArray[i].r_coltype =='auto' && (evenArray[i].r_coltitle).toLowerCase()=='transaction type'"
            [data]="typeList" display="name" name="processType"
            [placeholder]="(evenArray[i].r_colalias) ? 'Select '+evenArray[i].r_colalias : 'Select Type'"
            id="processType" (onSelected)="evenArray[i].r_value=($event.name);categoryIds.type=($event.id);"
            [preSelected]="{name:evenArray[i].r_value}" autocomplete="off">
          </auto-suggestion>

          <input type="checkbox" style="margin: 7px 0 0 0;" [(ngModel)]="evenArray[i].r_value"
            *ngIf="evenArray[i].r_coltype == 'checkbox' && !evenArray[i].r_fixedvalues">

          <!-- <span *ngIf="evenArray[i].r_coltype == 'table'" (click)="AdditionalForm('evenArray',i)"><i class="fa fa-table"
              aria-hidden="true"></i></span> -->
          <span *ngIf="evenArray[i].r_coltype == 'table'">
            <i class="fas fa-expand" *ngIf="!evenArray[i].isExpand"
              (click)="checkAllExpandedTables(evenArray[i],'even',true)"></i>
            <i class="fas fa-compress" *ngIf="evenArray[i].isExpand"
              (click)="checkAllExpandedTables(evenArray[i],'even',false)"></i>
          </span>
          <ngx-table-view [additionalFields]="evenArray[i]._param_child" [tableHeader]="evenArray[i]._param_child[0]"
            (tableUpdate)="tableEvents($event,i,'even')" *ngIf="evenArray[i].r_coltype == 'table' && evenArray[i].isExpand"></ngx-table-view>
 
            <!-- dynamic data array -->
          <select [(ngModel)]="evenArray[i].r_value" class="form-conrol col-12"
            *ngIf="evenArray[i].r_fixedvalues && evenArray[i].r_coltype !='entity'"
            (change)="onSelectNotBind($event,evenArray[i])">
            <option [value]="fixValue.option" [attr.isNotBind]="fixValue.isNonBind"
              *ngFor="let fixValue of evenArray[i].r_fixedvalues">
              {{fixValue.option}}</option>
          </select>
          <input type="text" *ngIf="evenArray[i].r_fixedvalues && evenArray[i].isNotBindFixedvalue" class="form-control"
            placeholder="Enter value" [(ngModel)]="evenArray[i].notBindFixedvalue">
          <auto-suggestion *ngIf="evenArray[i].r_coltype =='entity'" [data]="evenArray[i].r_fixedvalues"
            display="option"
            [placeholder]="(evenArray[i].r_colalias) ? 'Select '+evenArray[i].r_colalias : 'Select Entity'"
            name="entityFieldEven" id="entityFieldEven" (onSelected)="evenArray[i].r_value=($event._id);"
            [preSelected]="{option: evenArray[i].entity_value}" autocomplete="off">
          </auto-suggestion>

          <!-- attachment -->
          <div class="input-group" *ngIf="evenArray[i].r_coltype =='attachment'">
            <span *ngIf="evenArray[i].r_url" class="small col-12 p-0">
              <span class="blue cursor-pointer"
                (click)="common.checkFile(evenArray[i].r_url,evenArray[i].r_doc_name)">{{evenArray[i].r_doc_name}}</span>
            </span>
            <input type="file" class="file-control col-8" [id]="'chat-attachment-evenArray-'+i"
              (change)="handleFileSelection($event,i,'evenArray')">
            <!-- <button *ngIf="!isDisabled" type="button" class="btn btn-primary btn-sm col-4" (click)="uploadattachFile('evenArray',i)">Upload</button> -->
          </div>
        </div>
      </span>
    </div>

  </div>
  <div class="row" *ngIf="oddArray && oddArray.length>0 && !isDisabled">
    <div class="col-12 text-right">
      <button class="btn btn-primary btn-sm mr-2" form="worklog-form" type='submit'
        (click)="addTransaction()">Submit</button>
      <button class="btn btn-primary btn-sm" form="worklog-form" type='submit' id="saveTicketForm"
        (click)="saveFromDetail(false)">Save</button>
      <button *ngIf="refType==1" class="btn btn-primary btn-sm ml-2" form="worklog-form" type='submit'
        id="saveContinueTicketForm" (click)="saveFromDetail(true)">Save & Complete</button>
    </div>
  </div>
  <!-- end: dyn field -->
</div>
