<div class="modal-header">
  <h5>{{Title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="close(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="modal-body">
  <div class="row form-group">
    <div class="col-4">
      <label>Allocation Auto</label>
    </div>
    <div class="col-8">
      <auto-suggestion [data]="claimStatusData" display="name" placeholder="Allocation Auto" name="defaultOwn"
        id="defaultOwn"
        (onSelected)="processPropertyForm.allocationAuto=$event;(processPropertyForm.allocationAuto.id>0) ? processPropertyForm.claim=false : ''"
        [preSelected]="(processPropertyForm.allocationAuto.id>=0) ? {name: processPropertyForm.allocationAuto.name}:{name:''}"
        autocomplete="off">
      </auto-suggestion>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-4">
      <label>Esclation Auto</label>
    </div>
    <div class="col-8">
      <auto-suggestion [data]="claimStatusData" display="name" placeholder="Esclation Auto" name="defaultOwn"
        id="defaultOwn" (onSelected)="processPropertyForm.esclationAuto=$event;"
        [preSelected]="(processPropertyForm.esclationAuto.id>=0) ? {name: processPropertyForm.esclationAuto.name}:{name:''}"
        autocomplete="off">
      </auto-suggestion>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-4">
      <label>Esclation Time for user Ack</label>
    </div>
    <div class="col-8">
      <input type="number" placeholder="Esclation Time" [(ngModel)]="processPropertyForm.escTime">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-4">
      <label>Complete Remaining Time</label>
    </div>
    <div class="col-8">
      <input type="number" placeholder="Complete Remaining Time" [(ngModel)]="processPropertyForm.complRemTime">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-4">
      <label>Esclation time for tkt complete</label>
    </div>
    <div class="col-8">
      <input type="number" placeholder="Esclation time" [(ngModel)]="processPropertyForm.complEscTime">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-4">
      <label>isUrgent</label>
    </div>
    <div class="col-8">
      <input type="checkbox"  [(ngModel)]="processPropertyForm.isUrgent">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-4">
      <label>isActive</label>
    </div>
    <div class="col-8">
      <input type="checkbox"  [(ngModel)]="processPropertyForm.isActive">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-4">
      <label>Call Required</label>
    </div>
    <div class="col-8">
      <input type="checkbox"  [(ngModel)]="processPropertyForm.callRequired">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-4">
      <label>Claim</label>
    </div>
    <div class="col-8">
      <input type="checkbox" [(ngModel)]="processPropertyForm.claim"
        [disabled]="processPropertyForm.allocationAuto.id==1">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-4">
      <label>Calling Benchmark</label>
    </div>
    <div class="col-8">
      <input type="number" placeholder="Calling Benchmark" [(ngModel)]="processPropertyForm.callingBenchmark">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-4">
      <label>Completion Benchmark</label>
    </div>
    <div class="col-8">
      <input type="number" placeholder="Completion Benchmark" [(ngModel)]="processPropertyForm.completionBenchmark">
    </div>
  </div>
</div>


<div class="modal-footer">
  <div class="row footer">
    <div class="col ">
      <button class="btn btn-danger btn-sm" type="button" id="cancel " (click)="close(false)">Cancel</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary btn-sm" form="worklog-form" type='submit' id="save"
        (click)="savePropertyList()">Save</button>
    </div>
  </div>
</div>
