@import '../../style.scss';
:host ::ng-deep .fa-edit {
   @include fa-edit;
}

:host ::ng-deep .fa-edit:hover span {
    display: block;
}

:host ::ng-deep .fa-trash-alt {
    color: $danger-2;
    font-size:$font-md-lg;
    span {
        position: absolute;
        display: none;
        padding: 10px 36px;
        font-weight:$normal;
        font-size:$font-sm-xl;
        left: -26px;
        top: -28px;
        -webkit-box-shadow: 5px 2px 8px rgba($dark-1,0.5);
        box-shadow: 5px 2px 8px rgba($dark-1,0.5);
        font-family: Roboto;
        z-index: 9999;
    }
    span::before {
        content: "Delete";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: $danger-2;
        border-radius: $radious-xxs;;
        padding: $padding-xs $padding-md;
        color:$light-1;
        width: 100%;
    }
    span::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $danger-2;
        position: absolute;
        bottom: -5px;
        right: 24px;
    }
}

:host ::ng-deep .fa-trash-alt:hover span {
    display: block;
}

:host ::ng-deep .fa-grip-horizontal {
    color: $success-4;
    font-size:$font-md-lg;
    span {
        position: absolute;
        display: none;
        padding: 10px 48px;
        font-weight:$normal;
        font-size:$font-sm-xl;
        left: -40px;
        top: -28px;
        -webkit-box-shadow: 5px 2px 8px rgba($dark-1,0.5);
        box-shadow: 5px 2px 8px rgba($dark-1,0.5);
        font-family: Roboto;
        z-index: 9999;
    }
    span::before {
        content: "State Mapping";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: $light-1;
        border-radius: $radious-xxs;;
        padding: $padding-xs $padding-md;
        color:$light-1;
        width: 100%;
    }
    span::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $light-1;
        position: absolute;
        bottom: -5px;
        right: 24px;
    }
}

:host ::ng-deep .fa-grip-horizontal:hover span {
    display: block;
}

:host ::ng-deep .fa-handshake {
    color: $primary-2;
    font-size:$font-md-lg;
    span {
        position: absolute;
        display: none;
        padding: 10px 49px;
        font-weight:$normal;
        font-size:$font-sm-xl;
        left: -39px;
        top: -28px;
        -webkit-box-shadow: 5px 2px 8px rgba($dark-1,0.5);
        box-shadow: 5px 2px 8px rgba($dark-1,0.5);
        font-family: Roboto;
        z-index: 9999;
    }
    span::before {
        content: "Action Mapping";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: $primary-2;
        border-radius: $radious-xxs;;
        padding: $padding-xs $padding-md;
        color:$light-1;
        width: 100%;
    }
    span::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $primary-2;
        position: absolute;
        bottom: -5px;
        right: 24px;
    }
}

:host ::ng-deep .fa-handshake:hover span {
    display: block;
}

:host ::ng-deep .fa-globe-africa {
    color: $success-7;
    font-size:$font-md-lg;
    span {
        position: absolute;
        display: none;
        padding: 10px 32px;
        font-weight:$normal;
        font-size:$font-sm-xl;
        left: -19px;
        top: -28px;
        -webkit-box-shadow: 5px 2px 8px rgba($dark-1,0.5);
        box-shadow: 5px 2px 8px rgba($dark-1,0.5);
        font-family: Roboto;
        z-index: 9999;
    }
    span::before {
        content: "Loaction";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: $success-7;
        border-radius: $radious-xxs;;
        padding: $padding-xs $padding-md;
        color:$light-1;
        width: 100%;
    }
    span::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $success-7;
        position: absolute;
        bottom: -5px;
        right: 24px;
    }
}

:host ::ng-deep .fa-globe-africa:hover span {
    display: block;
}

:host ::ng-deep .pri_cat {
    color: $danger-9;
}

smart-table{
    height: calc(100vh - 126px);

}

