<nb-card style="border:0px;">
    <nb-card-header>
        <div class="row">
            <div class="col-9">
                <h5 class="heading-design">User Role</h5>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <!-- <div class="row">
      <div class="col-4" >
        <label> Select  Name</label>
        <auto-suggestion (onSelected)="getAdminPagesDetails($event.id)" [data]="adminList" seperator="-"
          display="name" placeholder="Admin" [preSelected]="null" inputId="adminName"></auto-suggestion>
      </div>
      <div class="col-3 mt-4" *ngIf="isShow" >
        <button class="btn btn-secondary" (click)="saveUserRole()">Save</button>
      </div>
    </div>

      <div class="container" >

      <div *ngFor="let module of formattedData; let i = index;">
        <div class="module-container">
          <input type="checkbox" [ngClass]="module.isSelected? 'module-box' : 'module-box'" [name]="'section-' + i"
            [(ngModel)]="module.isSelected" (change)="checkOrUnCheckAll(module, 'module')"> <span
            class="module-name">{{module.name | uppercase }}</span>
        </div>
        <div class="group-container" *ngFor="let group of module.groups; let j = index">
          <div class="group-head"><input type="checkbox" [ngClass]="group.isSelected? 'group-box' : 'group-box'"
              [name]="'group-' + j" [(ngModel)]="group.isSelected" (change)="checkOrUnCheckAll(group, 'group')">
            {{group.name}}
          </div>
          <div class="col-2 page-container" *ngFor="let page of group.pages; let k = index">
            <input type="checkbox" class=" page-box" [name]="'page-' + k" [(ngModel)]="page.isSelected"
              (change)="checkOrUnCheckAll(page, 'page')">
            {{page.title}}
          </div>
        </div>
      </div>

    </div> -->
        <div class="tabs_style_main">
            <ul class="tabs_style text-left">
                <li [ngClass]="activeTab=='roleByUser'?'active':''" (click)="activeTab='roleByUser'; resetData()">Role By User </li>
                <li [ngClass]="activeTab=='roleByPage'?'active':''" (click)="activeTab='roleByPage';resetData()">Role By Page </li>
            </ul>
        </div>
        <div *ngIf="activeTab=='roleByUser'">
            <div class="row">
                <div class="col-2">
                    <label>Select Name</label>
                </div>
                <div class="col-4">
                    <auto-suggestion (onSelected)="getAdminPagesDetails($event.id)" [data]="adminList" seperator="-" display="name" placeholder="Admin" [preSelected]="null" inputId="adminName"></auto-suggestion>
                </div>
                <div class="col-3" *ngIf="isShow">
                    <button class="btn btn-primary btn-sm" (click)="saveUserRole()">Save</button>
                </div>
            </div>
            <div class="container">
                <div *ngFor="let module of formattedData; let i = index;">
                    <div class="module-container">
                        <input type="checkbox" [ngClass]="module.isSelected? 'module-box' : 'module-box'" [name]="'section-' + i" [(ngModel)]="module.isSelected" (change)="checkOrUnCheckAll(module, 'module')"> <span class="module-name">{{module.name | uppercase }}</span>
                    </div>
                    <div class="group-container" *ngFor="let group of module.groups; let j = index">
                        <div class="group-head"><input type="checkbox" [ngClass]="group.isSelected? 'group-box' : 'group-box'" [name]="'group-' + j" [(ngModel)]="group.isSelected" (change)="checkOrUnCheckAll(group, 'group')"> {{group.name}}
                        </div>
                        <div class="col-2 page-container" *ngFor="let page of group.pages; let k = index">
                            <input type="checkbox" class=" page-box" [name]="'page-' + k" [(ngModel)]="page.isSelected" (change)="checkOrUnCheckAll(page, 'page')"> {{page.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- start:roleByPage -->
        <div *ngIf="activeTab=='roleByPage'">
            <div class="row mb-2">
                <div class="col-2">
                    <label>Select Page:</label>
                </div>
                <div class="col-4">
                    <auto-suggestion (onSelected)="getPageAllocationByPageId($event.id)" [data]="pageList" seperator="-" display="name" placeholder="Select Page" [preSelected]="null" inputId="pageNameId"></auto-suggestion>
                </div>
                <div *ngIf="userListByPageId && userListByPageId.length>0" class="col-4">
                    <button class="btn btn-primary btn-sm mr-2" (click)="resetData()">Reset</button>
                    <button class="btn btn-primary btn-sm" (click)="savePageAllocation()">Save</button>
                </div>
            </div>
            <div class="container" *ngIf="userListByPageId && userListByPageId.length>0">
                <div class="group-container pl-0">
                    <div class="col-2 page-container mb-1" *ngFor='let d of userListByPageId'>
                        <input type="checkbox" class="page-box" [(ngModel)]='d.isselected' checked>{{d.name}}
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>