/***************** New CSS ************/
.row.col-2 {
    margin: 2px;
  }
  .search {
    width: 180px;
    margin-left: 20px;
  }
  .container {
    color: black;
    overflow: auto;
    height: calc(100vh - 208px);
    margin-top: 10px;
  }
  
  .module-container {
    background: #ffd7d7;
    padding: 5px 16px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 22px;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .module-name {
      margin-left: 5px;
    color: #01203c;
  }
  .group-container {
    background: #f2f2f2;
    font-weight: 500;
    padding: 5px 30px;
    font-size: 18px;
    color: initial;
  }
  .group-head {
    color: #161617;
    background: #d0e4f5;
    padding: 4px;
  }
  .page-container {
    font-size: 14px !important;
    color: darkblue;
    margin-left: 25px;
    padding: 0px;
    display: inline-table;
  }
  
  input.page-box {
    width: 16px;
    height: 16px !important;
    cursor: pointer;
  }
  input.group-box {
    width: 16px;
    height: 16px !important;
    cursor: pointer;
  }
  
  input.module-box {
    width: 16px;
    height: 16px !important;
    cursor: pointer;
  }
  .permission-type {
    margin: 2px;
    border: 1px solid;
    width: 94%;
  }
  .permission-type.col-4 {
    padding: 0px;
    margin: 0px;
  }
  .permission-type,
  label {
    margin-right: 10px;
  }
  input.page-box-type {
    width: 12px;
    height: 12px !important;
    margin-left: 8px;
    cursor: pointer;
  }
  
  