@import '../../style.scss';

/***************** New CSS ************/

.row.col-2 {
    margin: 2px;
  }
  .search {
    width: 180px;
    margin-left: $padding-xxl/3;
  }
  .container {
    color: $dark-1;
    overflow: auto;
    height: calc(100vh - 208px);
    margin-top: $margin-md;
  }
  
  .module-container {
    background: $secondary-26;
    padding: 5px 16px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: $font-md-xxl;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .module-name {
    margin-left: $margin-xs;
    color: $dark-4;
  }
  .group-container {
    background:$light-10;
    font-weight: 500;
    padding: $padding-xs $padding-xl;
    font-size: $font-md-lg;
    color: initial;
  }

  .group-head {
    color: $dark-2;
    background:$secondary-27;
    padding: 4px;
  }
  .page-container {
    font-size: $font-md-sm !important;
    color: $primary-4;
    margin-left: 25px;
    padding: 0px;
    display: inline-table;
  }
  
  input{
    &.page-box,
    &.group-box,
    &.module-box{
      width: 16px;
      height: 16px !important;
      cursor: pointer;
    }
  }

  .permission-type {
    margin: 2px;
    border: 1px solid;
    width: 94%;
  }
  .permission-type.col-4 {
    padding: 0px;
    margin: 0px;
  }
  .permission-type,
  label {
    margin-right: $margin-md;
  }
  input.page-box-type {
    width: 12px;
    height: 12px !important;
    margin-left: $margin-sm;
    cursor: pointer;
  }
  
  