::ng-deep .blue{
    width: 200px;
    color: blue;
}
::ng-deep .red{
    color: red,
    ;
}
::ng-deep .brown{
    color: brown;
}
::ng-deep .magenta{
    color: magenta;
}
::ng-deep .green{
    color: green;
}
::ng-deep .purple{
    color: purple;
}
:host ::ng-deep{
    th:nth-child(2){
        width: 200px;
    }
}
smart-table{
    display: block;
    max-height: calc(100vh - 186px);
    overflow: auto;
}
.chartbox{
    height: calc(100vh - 186px);
    overflow: auto;
}