::ng-deep .blue{
    width: 200px;
    color: blue;
}
::ng-deep .pink{
    color: rgba(255, 99, 132, 1),
    ;
}
::ng-deep .sky{
    color: rgba(54, 162, 235, 1);
}
::ng-deep .yellow{
    color: rgba(255, 206, 86, 1);
}
::ng-deep .green{
    color: rgba(34,139,34, 1);
}
::ng-deep .light{
    color: rgba(138, 43, 226, 1)
}
:host ::ng-deep{
    th:nth-child(2){
        width: 200px;
    }
}