@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
    justify-content: space-between;
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
    padding: 0 .2rem;
  }


  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0!important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}

.action-btn{
  border: 1px solid #d1d2d4;
  background-color: #ffffff00;
  border-radius: 40px;
  transition: .1s;
}
.action-btn:hover{
  background-color: #e4f0fe;
  border-radius: 40px;
  box-shadow: 2px 2px 14px #ded8d8;
  transition: .1s;
  transform: translate(0px, 2px);
}

.action-btn:focus{
  box-shadow: none;
}
nb-icon{
  border-radius: 40px;
  padding: 9px;
  width: 1.5em;
  height: 1.5em;
  transition: .1s;
}
nb-icon:hover{
  background-color: #e4f0fe;
  border-radius: 40px;
  padding: 9px;
  width: 1.5em;
  height: 1.5em;
  transition: .1s;  
}
.profileimg{
    height: 50px;
    border-radius: 40px;
    background-color: #e9edf3;
    border: 5px solid #e9edf3;
    margin-right: 20px;
}
.profilehead{
 position: relative;
 vertical-align: -webkit-baseline-middle;
 vertical-align: -moz-middle-with-baseline;
  }


