<div class="modal-header">
  <h5>{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row form-group">
      <div class="col-6">
        <label>Campaign Name <span class="require">*</span></label>
      </div>
      <div class="col-6">
        <auto-suggestion [data]="campaignDataList" display="name" placeholder="Campaign Name" name="campaignName"
          id="campaignName" (onSelected)="target.campaignId=($event.id)" [preSelected]="{name:target.campaignName}"
          autocomplete="off">
        </auto-suggestion>
      </div>
    </div>


    <div class="row form-group">
      <div class="col-6">
        <label>Name <span class="require">*</span></label>
      </div>
      <div class="col-6">
        <input type="text" name="name" id="name" [(ngModel)]="target.name" class="form-control" required>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-6">
        <label>Mobile No. <span class="require">*</span></label>
      </div>
      <div class="col-6">
        <input type="number" name="mobile" id="mobile" [(ngModel)]="target.mobile" class="form-control" required>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-6">
        <label>Potential</label>
      </div>
      <div class="col-6">
        <input type="number" name="potential" id="potential" (focusout)="checkValidation()"
          [(ngModel)]="target.potential" class="form-control">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-6">
        <label>Location</label>
      </div>
      <div class="col-6">
        <auto-suggestion [data]="locationDataList" display="location" placeholder="Location" name="location"
          id="location" (onSelected)="target.locationId=($event.id);target.lat=($event.lat);target.long=($event.long)"
          [preSelected]="{location:target.locationName}" autocomplete="off">
        </auto-suggestion>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-6">
        <label>Address</label>
      </div>
      <div class="col-6">
        <textarea name="address" cols="5" rows="5" class="form-control" [(ngModel)]="target.address"></textarea>
      </div>
    </div>
  </div>
</div>


<div class="modal-footer">
  <div class="row footer">
    <div class="col ">
      <button class="btn btn-danger" type="button" id="cancel " (click)="closeModal()">Cancel</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" type='submit' id="save" (click)="saveCampaignTarget()">{{button}}</button>
    </div>
  </div>
</div>