:host ::ng-deep {
    .fa-edit {
        color: green;
        font-size: 18px;
        cursor: pointer;
    }
    .fa-trash-alt {
        margin-right: 10px;
        color: red;
        font-size: 18px;
        cursor: pointer;
    }
}
smart-table{
    display: block;
    height: calc(100vh - 203px);
    overflow: auto;
}