<div class="modal-header">
    <h5>New Project</h5>
    <button type="button" class="close" aria-label="Close" id="close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <div class="row mt-2 ">
        <div class="col-4">
            <textarea row="2" cols="15" placeholder="Enter Description" id="dexcription" name="projectDesc" class="form-control" [(ngModel)]="project.projectDesc"></textarea>
        </div>
        <div class="col-3">
            <auto-suggestion (onSelected)="project.owner = $event" [data]="userList" display="name" seperator="-" placeholder="Search Owner" [preSelected]="project.owner.id ? { name: project.owner.name} : {name: ''}" autocomplete="off" name="ownerId" inputId="ownerId">
            </auto-suggestion>
        </div>
        <div class="col-3">
            <auto-suggestion [data]="userList" display="name" seperator="-" placeholder="Select Users" [preSelected]="project.users" (onSelected)="project.users = $event" inputId="users" name="users" isMultiSelect="true" autocomplete="off"></auto-suggestion>
        </div>
        <div class="col-2 text-right">
            <button class="btn btn-primary text-capitalize" id="button" (click)="saveProject()">{{btn}}</button>
        </div>
    </div>

    <div class="row mt-1">
        <smart-table *ngIf="projectList.length!=0" [data]="tableProjectList.data" [settings]="tableProjectList.settings" id="tableProjectList">
        </smart-table>

        <div *ngIf="projectList.length==0" class="col-12 text-center">
            <div *ngIf="showLoading" class="spinner-border"></div>
            <div *ngIf="!showLoading">No Project</div>
        </div>
    </div>
</div>