<div class="modal-header">
    <h5>New Project</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <div class="row mt-2 ">
        <div class="col-4">
            <label>Description:</label><span class="text-red">*</span>
        </div>
        <div class="col-6">
            <textarea row="2" cols="15" placeholder="Enter Description" name="projectDesc" class="form-control" [(ngModel)]="project.projectDesc"></textarea>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-4">
            <label>Owner:<span class="text-red">*</span></label>
        </div>
        <div class="col-6">
            <auto-suggestion (onSelected)="selectedOwner($event)" url="Admin/searchAdmin.json" [display]="['name']" seperator="-" placeholder="Search Owner" autocomplete="off" name="ownerId" inputId="ownerId">
            </auto-suggestion>
        </div>
    </div>

    <div class="row mt-2 ">
        <div class="col-4">
            <label>Users:<span class="text-red">*</span></label>
        </div>
        <div class="col-6">
            <auto-suggestion url="Admin/searchAdmin.json" [display]="['name']" seperator="-" placeholder="Select Users" (onSelected)="changeUsers($event)" inputId="users" name="users" isMultiSelect="true" autocomplete="off"></auto-suggestion>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-12 text-right">
            <button class="btn btn-primary text-capitalize" id="button" (click)="saveProject()">{{btn}}</button>
        </div>
    </div>
</div>