@import '../../style.scss';

:host ::ng-deep {
    .fa-edit {
        color: $color-1800;
        font-size: $font-md-lg;
        cursor: pointer;
    }
    .fa-trash-alt {
        margin-right: $margin-md;
        color: $color-800;
        font-size: $font-md-lg;
        cursor: pointer;
    }
}
smart-table{
    height: calc(100vh - 203px);
}

