<nb-card>
  <nb-card-header style="max-height: 400px; z-index: 9999;">
    <div class="row">
      <div class="col-4"><h5>Shift Logs</h5></div>
    </div>
<br>
      <div class="row">
        <div class="col-3">
            <label>Select Date</label>
            <uj-date-time-picker (onChanged)="date=($event)" [dateTimeValue]="date" [isTime]="false" [maxd]='today'>
            </uj-date-time-picker>
        </div>
        
        <div class="col-9 text-right mt-4">
            <button type="submit" id="submit" (click)="getShiftLogs()" class="btn btn-primary mr-2">Submit</button>
        </div>
    </div>

       
  </nb-card-header>
  <nb-card-body style="min-height: 300px;">

      <div>
          <smart-table *ngIf="shiftLogList && shiftLogList.length>0" [data]="table.data" [settings]="table.settings" id="entries"></smart-table>
      </div>




     
  </nb-card-body>
</nb-card>