.map-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#map {
    // height: 100%;
    height: 400px;
    width: 100%;
    z-index: 1;
}
smart-table{
    display: block;
    height: calc(100vh - 266px);
}