<div class="modal-header">
  <h5>{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">

    <div class="row">
      <div class="col-md-3">
        <label><b>Campaign Name : </b> </label>
        <label> {{ targetAction.campaignName}}</label>
      </div>
      <div class="col-md-2">
        <label> <b>Name : </b></label>
        <label> {{ targetAction.name}} </label>
      </div>
      <div class="col-md-4">
        <label><b> Location : </b> </label>
        <label>{{ targetAction.locationName}}</label>
      </div>
      <div class="col-md-2">
        <label> <b>Mobile : </b> </label>
        <label>{{ targetAction.mobile}}</label>
      </div>
    </div>


    <div class="row mt-2">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-3">
            <label>State<span class="require">*</span></label>
          </div>
          <div class="col-md-9">
            <auto-suggestion [data]="stateDataList" display="name" placeholder="State Name" name="stateName"
              inputId="stateId" (onChange)="unselected('stateId')" (onSelected)="targetAction.stateId=($event.id)"
              autocomplete="off">
            </auto-suggestion>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-3">
            <label>Action<span class="require">*</span></label>
          </div>
          <div class="col-md-9">
            <auto-suggestion [data]="actionDataList" display="name" placeholder="Action Name" name="actionName"
              inputId="actionId" (onChange)="unselected('actionId')" (onSelected)="targetAction.actionId=($event.id)"
              autocomplete="off">
            </auto-suggestion>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <label>Next Action<span class="require">*</span></label>
          </div>
          <div class="col-md-8">
            <auto-suggestion [data]="actionDataList" display="name" placeholder="Next Action Name" name="nextactionName"
              inputId="nextActionId" (onChange)="unselected('nextActionId')"
              (onSelected)="targetAction.nextActionId=($event.id)" autocomplete="off">
            </auto-suggestion>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-3">
            <label>Standard Remark </label>
          </div>
          <div class="col-md-9">
            <auto-suggestion [data]="remarkDataList" display="name" placeholder="Remark" name="standard"
              inputId="standard" autocomplete="off" [preSelected]="standards" isMultiSelect="true"
              (onSelected)="standards = $event">
            </auto-suggestion>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-3">
            <label>Remark</label>
          </div>
          <div class="col-md-9">
            <textarea name="remark" cols="5" rows="5" class="form-control" [(ngModel)]="targetAction.remark"></textarea>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <label>Next Action Target Time<span class="require">*</span></label>
          </div>
          <div class="col-md-8">
            <uj-date-time-picker (onChanged)="targetAction.targetTime = $event"
              [dateTimeValue]="targetAction.targetTime" [isTime]="false">
            </uj-date-time-picker>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-11 text-right">

      <button class="btn btn-danger mr-3" type="button" id="cancel " (click)="closeModal()">Cancel</button>
      <button class="btn btn-primary" type='submit' id="save" (click)="saveCampaignTargetAction()">{{button}}</button>
    </div>
  </div>
</div>


<div class="modal-footer">
  <div class="row">
    <div class="mt-2">
      <smart-table *ngIf="campaignTargetActionData.length" [data]="table.data" [settings]="table.settings">
      </smart-table>
    </div>
  </div>

</div>