<nb-card>
    <nb-card-header >
        <div class="row">
            <div class="col-12">
                <h5 class="heading-design">Attendance</h5>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <label>Select Date</label>
            </div>
            <div class="col-3">
                <uj-date-time-picker style="z-index: 999;" (onChanged)="date=($event)" [dateTimeValue]="date" [isTime]="false" [maxd]='today'>
                </uj-date-time-picker>
            </div>

            <div class="col-3">
                <button type="submit" id="submit" (click)="getAttendanceList()" class="btn btn-primary mr-2 btn-sm">Submit</button>
            </div>

            <div class="col-3 text-right">
                <button id="summary" (click)="getAttendanceMonthySummary()" class="btn btn-primary mr-2 btn-sm">Attendance Monthly Summary</button>
            </div>

        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-12">
                <smart-table *ngIf="attandanceList.length!=0" [data]="tableAttandanceList.data" [settings]="tableAttandanceList.settings" id="attandanceList" class="smrt-table">
                </smart-table>
            </div>
        </div>
    </nb-card-body>
</nb-card>