<table class="table table-primary" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
  <thead>
    <tr>
      <th *ngFor="let item of dataheading">{{item}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of datavalues">
      <td *ngFor="let value of item"> {{value}} </td>
    </tr>
  </tbody>

  <!-- <tfoot>
    <tr>
      <th *ngFor="let item of SearchFilter"><input type="text" [placeholder]="'Search by   '+item" [name]="item"
          (input)="Filter()" /></th>
    </tr>
  </tfoot> -->
</table>
