@import '../../style.scss';

// :host ::ng-deep {
//     .fa,
//     .fas {
//         font-size: 18px;
//         cursor: pointer;
//         margin-right: 5px;
//     }
//     .fa-edit {
//         color: green;
//     }
//     .fa-trash {
//         color: red;
//     }
//     .fa-user-plus {
//         color: blue;
//     }
// }
.tabs_style {
  @include tab-style;
  //   border-bottom: 2px solid $color-5300;

  li {
    @include tablist;
    font-weight: normal;

    &.active {
      // color: $color-5300;
      @include tablist-active;
    }
  }
}

smart-table {
  height: calc(100vh - 166px);
}

.seconlevel-tables {
  height: calc(100vh - 210px);
}
