<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-9">
                <h5>Field Support Request</h5>
            </div>
            <div class="col-3 text-right">
                <button (click)="addRequest()" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <!-- Tabs      -->
        <div class="tabs_style_main">
            <ul class="tabs_style text-left">
                <li [ngClass]="activeTab=='pendingRequest'?'active':''" (click)="activeTab='pendingRequest'; getFieldSupportRequestByType(1)">
                    Pending Requests
                </li>
                <li [ngClass]="activeTab=='assignedRequest'?'active':''" (click)="activeTab='assignedRequest'; getFieldSupportRequestByType(2)">
                    Assigned Requests
                </li>
                <li [ngClass]="activeTab=='approvedRequest'?'active':''" (click)="activeTab='approvedRequest'; getFieldSupportRequestByType(3)">
                    Partner Approved Requests
                </li>
                <li [ngClass]="activeTab=='adminApprovedRequest'?'active':''" (click)="activeTab='adminApprovedRequest'; getFieldSupportRequestByType(5)">
                    Admin Approved Requests
                </li>
                <li [ngClass]="activeTab=='completedRequest'?'active':''" (click)="activeTab='completedRequest'; getFieldSupportRequestByType(4)">
                    Completed Requests
                </li>
                <li [ngClass]="activeTab=='installerTkt'?'active':''" (click)="activeTab='installerTkt';activeTabTicket=''">
                    Installer Tickets
                </li>
            </ul>
        </div>

        <div *ngIf="activeTab=='pendingRequest'">
            <smart-table [data]="table.data" [settings]="table.settings" id="transactions">
            </smart-table>
            <!-- <div class="row no-record" *ngIf="installerlist.length==0">No Data Available</div> -->
        </div>
        <div *ngIf="activeTab=='assignedRequest'">
            <smart-table [data]="tableAssignReqList.data" [settings]="tableAssignReqList.settings" id="tableAssignReqList">
            </smart-table>
        </div>
        <div *ngIf="activeTab=='approvedRequest'">
            <smart-table [data]="tableApprovedReqList.data" [settings]="tableApprovedReqList.settings" id="tableApprovedReqList">
            </smart-table>
        </div>
        <div *ngIf="activeTab=='adminApprovedRequest'">
            <smart-table [data]="tableAdminApprovedReqList.data" [settings]="tableAdminApprovedReqList.settings" id="tableAdminApprovedReqList">
            </smart-table>
        </div>
        <div *ngIf="activeTab=='completedRequest'">
            <smart-table [data]="tableCompletedReqList.data" [settings]="tableCompletedReqList.settings" id="tableCompletedReqList">
            </smart-table>
        </div>

        <!-- start:installer tkt subtab -->
        <div *ngIf="activeTab=='installerTkt'">
            <ul class="tabs_style text-left">
                <li [ngClass]="activeTabTicket=='pending'?'active':''" (click)="activeTabTicket='pending'; getFieldSupportTicketByType(1)">
                    Pending
                </li>
                <li [ngClass]="activeTabTicket=='ack'?'active':''" (click)="activeTabTicket='ack'; getFieldSupportTicketByType(2)">
                    Ack
                </li>
                <li [ngClass]="activeTabTicket=='completed'?'active':''" (click)="activeTabTicket='completed'; getFieldSupportTicketByType(3)">
                    Completed
                </li>
                <li [ngClass]="activeTabTicket=='rejected'?'active':''" (click)="activeTabTicket='rejected'; getFieldSupportTicketByType(4)">
                    Rejected
                </li>
            </ul>

            <div *ngIf="activeTabTicket=='pending'">
                <smart-table [data]="tablePendingTicketList.data" [settings]="tablePendingTicketList.settings" id="tablePendingTicketList">
                </smart-table>
            </div>
            <div *ngIf="activeTabTicket=='ack'">
                <smart-table [data]="tableAckTicketList.data" [settings]="tableAckTicketList.settings" id="tableAckTicketList">
                </smart-table>
            </div>
            <div *ngIf="activeTabTicket=='completed'">
                <smart-table [data]="tableCompletedTicketList.data" [settings]="tableCompletedTicketList.settings" id="tableCompletedTicketList">
                </smart-table>
            </div>
            <div *ngIf="activeTabTicket=='rejected'">
                <smart-table [data]="tableRejectedTicketList.data" [settings]="tableRejectedTicketList.settings" id="tableRejectedTicketList">
                </smart-table>
            </div>
        </div>
        <!-- end:installer tkt subtab -->

    </nb-card-body>
</nb-card>