@import '../../style.scss';

.tabs_style {
  width: 100%;
  margin: 0px;
 // border-bottom: 2px solid $success-5;
  margin-bottom: $margin-md;
  padding-left: $padding-xs !important;
  li {
    padding: 5px 6px;
    list-style: none;
    margin-right: $margin-xs;
    // background-color: $success-5;
    // border: 2px solid $success-5;
    color:$light-1;
    border-bottom: 0px;
    display: inline-block;
    border-radius: $radious-xs 5px 0px 0px;
    font-size:$font-sm-xxl;
    font-weight:$normal;
    cursor: pointer;
    &.active {
      background-color:$light-1;
      //color: $success-5;
      color: $primary-11;
      position: relative;
      &::after {
        content: "";
        display: block;
        background-color:$light-1;
        height: 10px;
        width: 100%;
        position: absolute;
        left: 0px;
      }
    }
  }
}

:host ::ng-deep .fa-trash-alt {
  color: $danger-2;
  font-size:$font-md-lg;
  span {
    position: absolute;
    display: none;
    padding: 10px 27px;
    font-weight:$normal;
    font-size:$font-sm-xl;
    left: 0px;
    top: -32px;
    -webkit-box-shadow: 5px 2px 8px rgba($dark-1,0.5);
    box-shadow: 5px 2px 8px rgba($dark-1,0.5);
    font-family: Roboto;
    z-index: 9999;
  }
  span::before {
    content: "Delete";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $danger-2;
    border-radius: $radious-xxs;;
    padding: $padding-xs $padding-md;
    color:$light-1;
    width: 100%;
  }
  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $danger-2;
    position: absolute;
    bottom: -5px;
    right: 24px;
  }
}
:host ::ng-deep .fa-trash-alt:hover span {
  display: block;
}

.chartbox {
  height: 300px;
}
smart-table{
  height: calc(100vh - 206px);
}