@import '../../style.scss';


:host ::ng-deep .fa-check {
    font-size: initial;
    color: $primary-4;
    cursor: pointer;
}

 :host ::ng-deep .fa-trash-alt {
    color: $danger-2;
    cursor: pointer;
}

 :host ::ng-deep .fa-eye {
    border-radius: $radious-xxs;
    margin-right: $margin-md;
    color: $danger-7;
    padding: 2px;
    cursor: pointer;
}

 :host ::ng-deep .remove:hover {
    background-color: $danger-7;
    border-color: $danger-8;
}

.tabs_style {
    width: 100%;
    margin: 0px;
    // border-bottom: 2px solid $success-5;
    border-bottom: 2px solid $primary-11;
    margin-bottom:$margin-md;
    padding-left: $padding-xs!important;
    li {
        padding: 5px 6px;
        list-style: none;
        margin-right: $margin-xs;
        // background-color: $success-5;
        // border: 2px solid $success-5;
        background-color: $primary-11;
        border: 2px solid $primary-11;
        color: $light-1;
        border-bottom: 0px;
        display: inline-block;
        border-radius: $radious-xs $radious-xs 0px 0px;
        font-size: $font-sm-xxl;
        font-weight: normal;
        cursor: pointer;
        &.active {
            background-color: $light-1;
            // color: $success-5;
            color: $primary-11;;
            position: relative;
            &::after {
                content: "";
                display: block;
                background-color: $light-1;
                height: 10px;
                width: 100%;
                position: absolute;
                left: 0px;
            }
        }
    }
}

:host ::ng-deep .fa-edit {
    color: $success-3;
    font-size:$font-md-lg;
    cursor: pointer;
}

:host ::ng-deep .fa-comments {
    font-size:$font-md-lg;
    color: $success-8;
    cursor: pointer;
    &.new-comment span {
        min-width: 13px;
        min-height: 13px;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: -3px;
        left: 1px;
        padding: 1px;
        font-size:$font-sm-sm;
        color: $light-1;
        text-align: center;
        vertical-align: middle;
        line-height: 11px;
        background: transparent;
    }
}

:host ::ng-deep .fa-calendar-alt {
    color: $success-3;
    font-size:$font-md-lg;
    cursor: pointer;
}

:host ::ng-deep {
    .fa,
    .fas {
        font-size:$font-md-lg;
        cursor: pointer;
    }
    .fa-bell {
        color: $secondary-3;
    }
    .isRemind {
        color: $danger-2;
    }
    .reminderAdded {
        color: $warning-1;
    }
    .no-comment {
        color:$secondary-3;
    }

}

:host ::ng-deep {
    th:nth-child(2) {
        width: 300px !important;
    }
}
smart-table{
    height: calc(100vh - 168px);
}
.sl-smart-table{
    height: calc(100vh - 212px);
}
.sl3-smart-table{
    height: calc(100vh - 242px);
}
