<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-10">
                <h5>Scheduled Task</h5>
            </div>
        </div>

    </nb-card-header>
    <nb-card>
        <nb-card-body>
            <div>
                <div class="container">
                    <div class="row ">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Description</label>
                                <input style="width: 100%;" type="description" placeholder="Description" class="form-control" [(ngModel)]="scheduledTask.description">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Primary User</label>
                                <auto-suggestion (onSelected)="selectedPrimarUser($event)" url="Admin/searchAdmin.json" [display]="['name']" seperator="-" placeholder="Primary User" autocomplete="off" name="primaryUser" inputId="primaryUserId" [preSelected]='{name: scheduledTask.primaryUser}'>
                                </auto-suggestion>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Escalation User</label>
                                <auto-suggestion (onSelected)="selectedEscalationUser($event)" url="Admin/searchAdmin.json" [display]="['name']" seperator="-" placeholder="Escalation User" autocomplete="off" name="escalationUser" inputId="scalationUserId" [preSelected]='{name: scheduledTask.escalationUser}'>
                                </auto-suggestion>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Reporting User</label>
                                <auto-suggestion (onSelected)="selectedReportingUser($event)" url="Admin/searchAdmin.json" [display]="['name']" seperator="-" placeholder="Reporting User" autocomplete="off" name="reportingUser" inputId="reportingUserId" [preSelected]='{name: scheduledTask.reportingUser}'>
                                </auto-suggestion>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Logic Type</label>
                                <!-- <input type="number" maxlength="1" style="width: 100%;" placeholder="Logic Type" class="form-control"
                  [(ngModel)]="scheduledTask.logicType"> -->
                                <select class="form-controlr" class="form-control" [(ngModel)]="scheduledTask.logicType" (onChange)="scheduledTask.scheduleParam=''">
                                  <option value="1">Daily</option>
                                  <option value="2">Weekly</option>
                                  <option value="3">Monthly</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Schedule Param</label>
                                <!-- <input style="width: 100%;" type="number" maxlength="1" placeholder="Schedule Params" class="form-control" [(ngModel)]="scheduledTask.scheduleParam"> -->
                                <select *ngIf="scheduledTask.logicType==1 || scheduledTask.logicType=='' " class="form-controlr" class="form-control" [(ngModel)]="scheduledTask.scheduleParam">
                                  <option value="">Select Schedule Params</option>
                                  <option *ngFor= "let dd of dailyParam" [value]="dd.id">{{dd.name}}</option>
                                </select>
                                <select *ngIf="scheduledTask.logicType==2" class="form-controlr" class="form-control" [(ngModel)]="scheduledTask.scheduleParam">
                                  <option value="">Select Schedule Params</option>
                                  <option *ngFor= "let dd of weeklyParam" [value]="dd.id">{{dd.name}}</option>
                                </select>
                                <select *ngIf="scheduledTask.logicType==3" class="form-controlr" class="form-control" [(ngModel)]="scheduledTask.scheduleParam">
                                  <option value="">Select Schedule Params</option>
                                  <option *ngFor= "let dd of monthlyParam" [value]="dd.id">{{dd.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Days</label>
                                <input style="width: 100%;" type="number" maxlength="2" placeholder="Days" class="form-control" [(ngModel)]="scheduledTask.days">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Hours</label>
                                <input style="width: 100%;" type="number" placeholder="Hours" class="form-control" [(ngModel)]="scheduledTask.hours">
                            </div>
                        </div>
                        <div class="col-4 text-right">
                            <button class="btn btn-primary text-capitalize mt-4" id="button" (click)="saveUser()">Save</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Tabs      -->
            <div class="tabs_style_main">
                <ul class="tabs_style text-left">
                    <li [ngClass]="activeTab=='ScheduledTaskMaster'?'active':''" (click)="activeTab='ScheduledTaskMaster'; getScheduledTask()">
                        Scheduled Task Master
                    </li>
                    <li [ngClass]="activeTab=='allTask'?'active':''" (click)="activeTab='allTask'; getAllTask()">
                        All Task
                    </li>
                </ul>
            </div>

            <div *ngIf="activeTab=='ScheduledTaskMaster'">
                <smart-table *ngIf="scheduledTaskList.length!=0" [data]="tableSchedule.data" [settings]="tableSchedule.settings" id="scheduledTaskList">
                </smart-table>
            </div>
            <div *ngIf="activeTab=='allTask'">
                <smart-table *ngIf="allTaskList.length!=0" [data]="tableAllTask.data" [settings]="tableAllTask.settings" id="allTaskList">
                </smart-table>
            </div>
        </nb-card-body>
    </nb-card>

    <!-- <script>
    $(function () {
      $("input[name='numonly']").on('input', function (e) {
        $(this).val($(this).val().replace(/[^0-9]/g, ''));
      });
    }); 
  </script> -->