

<div class="modal-header">
  <h6 style="height: 50px;" class="modal-title" id="modal-basic-title">Save Admin</h6>

  <div class="col-md-10 text-right">
      <button type="button" class="close doNotPrint" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>

</div>

<div class="modal-body">
  <div class="row">
    <auto-suggestion class="col-12" (onSelected)="selectFoUser($event)" url="Admin/searchAdmin?getAll=true"
          [display]="['name','mobileno']" seperator="-"
          placeholder="Search By Mobile No. / Name" [preSelected]="preSelected">
        </auto-suggestion>
  </div>
<br>
  <div class="row">
    <div class="col-lg-4">
      <label>Name :-</label>
    </div>
    <div class="col-lg-8">
      <input type="text" class="form-control " [(ngModel)]='Fouser.name' placeholder="Name" required>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-lg-4">
      <label>Mobile Number :-</label>
    </div>
    <div class="col-lg-8">
      <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
      class="form-control" maxlength="10" type="number" [(ngModel)]='Fouser.mobileNo' placeholder="Mob. No.">    </div>
    </div>
<br>
<div class="row" *ngIf='Fouser.id'>
  <div class="col-lg-4">
    <label>Status :-</label>
  </div>
  <div class="col-lg-8">
    <div class="row" style="margin-left: 15px;">
      <div class="col-6">
        <input id="isactive" type="radio" class="custom-control-input" [(ngModel)]="Fouser.isActive" [value]="true" name="isactive" >
        <label class="custom-control-label" for="isactive">Active</label>
      </div>
      <div class="col-6">
        <input id="deactive" type="radio" class="custom-control-input" [(ngModel)]="Fouser.isActive" [value]="false" name="isactive" >
        <label class="custom-control-label" for="isactive">DeActive</label>
      </div>
  </div>
  </div>
</div>
    <br>
    <br>
        <div>
          <button *ngIf='Fouser.id' value="Admin Tools" class="btn btn-primary" id="button" style="float: right; margin-right:14px; margin-bottom: 20px;" (click)="onCancel()">Cancel</button>
        </div>
        <div >
          <button *ngIf='Fouser.id' value="Admin Tools" class="btn btn-primary" id="button" style="float: right; margin-right:14px; margin-bottom: 20px;" (click)="updateAdmin()">Update</button>
        </div>
        <div style="float: right;" >
          <button *ngIf='!Fouser.id' value="Admin Tools" class="btn btn-primary" id="button" style="float: right; margin-right:14px; margin-bottom: 20px;" (click)="saveAdmin()">Save</button>
        </div>

  
    <!-- <div class="row" style="margin-top:20px; margin-bottom:20px;  float: right;" >
    </div> -->

    <!-- <div *ngIf="Fouser.id" class="row" style="margin-top:20px; margin-bottom:20px;  float: right;" >
    </div> -->

  <!-- <div class="row" style="margin-top:20px; margin-bottom:20px;  float: right;" >
  </div> -->
        
  
</div>