<div class="modal-header">
    <h5>{{title}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
  <span aria-hidden="true">&times;</span>
</button>
</div>

<div class="modal-body">
    <div class="row mt-2 ">
        <div class="col-4">
            <label>Add Users<span class="text-danger">*</span>:</label>
        </div>
        <div class="col-8">
            <auto-suggestion [data]="userList" display="name" seperator="-" placeholder="Select Users" [preSelected]="userForm.users" (onSelected)="changeUsers($event)" inputId="users" name="users" isMultiSelect="true" autocomplete="off"></auto-suggestion>
        </div>
    </div>
    <div *ngIf="userForm.users && userForm.users.length>0" class="row mt-2">
        <div class="col-4">
            <label>Mark as {{(fromPage == "ticket") ? 'Supervisor' : 'Admin'}}:</label>
        </div>
        <div *ngFor="let u of userForm.users;" class="col-12">
            <label>
                <input type="checkbox" [checked]="u.is_admin" (change)="u.is_admin = !u.is_admin" /> {{u.name}}
            </label>
        </div>
    </div>
</div>
<!-- <div *ngIf="fromPage != 'ticket'" class="modal-body">
    <div class="row">
        <div class="col-6">
            <label>Add User/Group<span class="text-danger">*</span>:</label>
            <auto-suggestion [data]="userList" display="name" seperator="-" placeholder="Select User/Group" (onSelected)="userFormNew.user = $event" inputId="userGroup" name="userGroup" autocomplete="off"></auto-suggestion>
        </div>
        <div class="col-3">
            <label>Mark Admin</label>
            <div><input type="checkbox" [checked]="userFormNew.isAdmin" (change)="userFormNew.isAdmin = !userFormNew.isAdmin" /></div>
        </div>
        <div class="col-3">
            <button class="btn btn-primary btn-sm mt-4" (click)="saveUserOrGroup()">Save</button>
        </div>
    </div>
</div> -->

<div class="modal-footer">
    <div class="row mt-2 ">
        <div class="col-12 text-right">
            <button class="btn btn-primary btn-sm" (click)="saveUsers()">Save</button>
        </div>
    </div>
</div>