.cardStyle{
    min-height: 400px;
}
// .dragStyle{
//     border: inset;
//     border-color: gray;
// }
.rounded-circle{
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: #000;
}
.margin{
    margin: 1rem;
}