<!-- <div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>
        <ng-content select="[modal-header]"></ng-content>
      </h2>
    </div>
    <div class="modal-body">
      <ng-content select="[modal-body]"></ng-content>
    </div>
    <div class="modal-footer">
      <ng-content select="[modal-footer]"></ng-content>
    </div>
  </div>
</div> -->

<div class="modal-header">
  <h4 class="modal-title">Photo {{photo}}</h4>
  <span class="close" (click)="closeModal()">&times;</span>
</div>
<div class="modal-body">
  <img class="img-fluid" [src]="getLargeImageUrl(photo)">
</div>
