:host ::ng-deep .pri_cat {
    color: deeppink;
}

:host ::ng-deep .process_type {
    color: lawngreen;
}

:host ::ng-deep .fa-grip-horizontal {
    color: #07f8d4;
}

:host ::ng-deep .fa-handshake {
    color: #00f;
}