
@import '../../style';
:host ::ng-deep .pri_cat {
    color: $danger-9;
}

:host ::ng-deep .process_type {
    color: $success-6;
}

:host ::ng-deep .fa-grip-horizontal {
    color:$success-4;
}

:host ::ng-deep .fa-handshake {
    color: $primary-3;
}
smart-table{
    height: calc(100vh - 124px);
}



