<nb-card>
    <nb-card-header>
        <div class="row ">
            <div class="col-9">
                <h5>Process List</h5>
            </div>
            <div class="col-3 text-right">
                <button class="btn btn-primary text-capitalize" id="button" (click)="addProcess()">Add</button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body style="min-height: 485px;">
        <div class="row">
            <div class="mt-2">
                <smart-table *ngIf="processData.length" [data]="table.data" [settings]="table.settings"></smart-table>
            </div>
        </div>

    </nb-card-body>
</nb-card>