<nb-card>
    <nb-card-header>
        <div class="row ">
            <div class="col-9">
                <h5 class="heading-design">Process List</h5>
            </div>
            <div class="col-3 text-right">
                <button class="btn btn-primary btn-sm" id="button" (click)="addProcess(null)">
                    <i class="fa fa-plus"></i>
                </button>
                <!-- <button class="btn btn-primary btn-sm ml-2" id="addGlobalfield" (click)="addGlobalfield()">
                    Add field
                </button> -->
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="">
                <smart-table *ngIf="processData.length" [data]="table.data" [settings]="table.settings"></smart-table>
            </div>
        </div>

    </nb-card-body>
</nb-card>