
@import '../../style';
:host ::ng-deep .pri_cat {
    color: $color-5400;
}

:host ::ng-deep .process_type {
    color: $color-5600;
}

:host ::ng-deep .fa-grip-horizontal {
    color:$color-2700;
}

:host ::ng-deep .fa-handshake {
    color: $color-2800;
}
smart-table{
    height: calc(100vh - 124px);
}



