@import '../../style.scss';
.fill-elt {
    padding: $padding-xxs;
    font-size: $font-md-sm;
}

.map {
    position: absolute !important;
    width: 98%;
    height: calc(100vh - 235px);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {

    background-color: $color-500 !important;
    border: 1px solid $color-1000!important;
    text-align: center!important;
    padding: $padding-sm!important;
    color: $color-400!important;
    font-size: $font-sm-xxl!important;
}

td {
    border: 1px solid $color-1000;
    text-align: center;
    padding: $padding-sm;
    color: $color-500;


}