<nb-card>
  <nb-card-header>
    <h5 class="heading-design">Settings</h5>
  </nb-card-header>
  <nb-card-body>
    <div class="tabs_style_main">
      <ul class="tabs_style text-left">
        <li [ngClass]="activeTab==1?'active':''" (click)="activeTab=1;setHeaderFormat();">
          Attendance
        </li>
        <li [ngClass]="activeTab==2?'active':''" (click)="activeTab=2;setHeaderFormat();">
          Kanban Board
        </li>
      </ul>
    </div>

    <!--start: setting types -->
    <!-- <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="row settingTypeFields">
          <div class="col-3" *ngFor="let type of settingMediumOptions">
            <input type="checkbox" [(ngModel)]="type.checked"> <label class="text-white pl-2">{{type.type}}</label>
          </div>
        </div>
      </div>
    </div> -->
    <!--end: setting types -->

    <!--start: setting types enable -->
    <div class="row mr-2 ml-2 typeAddFields">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <div class="col-6">
            <auto-suggestion [data]="settingTypeOptions" display="type" [placeholder]="'Select Type'" seperator="-"
              autocomplete="off" [preSelected]="selectedEntityType.id == 1 ? {type:selectedEntityType.type} : {type:''}" name="settingTypeOptions" inputId="settingTypeOptions"
              (onSelected)="setSettingType($event)">
            </auto-suggestion>
          </div>

          <div class="col-6 text-center font-weight-bold" *ngIf="displaySelectionText.id === 1">
            <label>{{selectedSettingType.name}}</label>
          </div>

          <div class="col-6" *ngIf="displaySelectionText.id !== 1">
            <auto-suggestion [data]="selectedListing" display="name" [placeholder]="displaySelectionText.name"
              seperator="-" autocomplete="off"
              [preSelected]="selectedSettingType ? {name:selectedSettingType.name} : {name:''}"
              name="settingTypeOptions" inputId="settingTypeOptions" (onSelected)="selectedSettingType = $event">
            </auto-suggestion>
          </div>
        </div>
      </div>
      <div class="col-1 text-center"><button class="btn btn-primary" (click)="addSetting()">Add</button></div>
    </div>
    <!--end: setting types enable -->

    <!--start: save setting Area -->
    <!-- <div class="row mr-2 ml-2 mt-2">
      <div class="col-12" style="text-align: end;">
        <button class="btn btn-primary" (click)="saveSettings()">Save</button>
      </div>
    </div> -->
    <!--end: save setting Area -->

    <!--start: setting Area -->
    <div class="row mr-2 ml-2 settingsArea">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col stlye">#</th>
              <th scope="col">Setting</th>
              <th scope="col">Type</th>
              <th scope="col" *ngFor="let headings of settingProfileHeader">{{headings}}</th>
              <th >Actions</th>
            </tr>
          </thead>

          <tbody >
            <tr *ngFor="let setting of allSettings;let i = index">
              <td scope="row">{{i+1}}</td>
              <td>{{setting.name}}</td>
              <td>{{setting.entity_type}}</td>
              <td *ngFor="let data of setting.data">
                <select [(ngModel)]="data.profile_value">
                  <option *ngFor="let option of data.info">{{option.option}}</option>
                </select>
                <!-- <auto-suggestion [data]="data.info" display="option"
                  (onSelected)="data.profile_value = $event['option']" [preSelected]="{option:data.profile_value}"
                  name="{{data.profile_id}}" inputId="{{data.profile_id}}" seperator="-" autocomplete="off">
                </auto-suggestion> -->
              </td>
              <td>
                <i class="fas fa-save text-success" (click)="saveSettings(setting,1)"></i>
                <!-- <i class="fas fa-edit"></i> -->
                <i class="fas fa-trash-alt text-danger" (click)="deleteSetting(setting,i)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--end: setting Area -->
  </nb-card-body>
</nb-card>