@import '../../style';

$inactive-btn:#c4c4c4;
$active-btn:#ea7736;

.circle {
  height: 70px;
  width: 70px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
}

.orange {
  background-color: #e99920;
  float: left;
}

.blue {
  background-color: #8da7d6;
  float: left;
}

.red {
  background-color: #ef7979;
  float: left;
}


.default {
  color: #000;
  // border-radius: 4.17rem;
  font-size: .75rem;
  text-align: center;
  padding: 10px 15px;
  background-color: #eef1fd;
  color: #3f6ad8;
  cursor: pointer;
  border-bottom: 1px solid white;
  // box-shadow: 0 16px 26px -10px rgba(63,106,216,0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(63,106,216,0.2);
  margin-bottom: 0rem;
  word-break: keep-all;
  white-space: nowrap;
  margin-right: 10px;
}

.default:hover {
  // border-radius: 4.17rem;
  font-size: .75rem;
  text-align: center;
  padding: 10px 15px;
  background-color: #3f6ad8;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid white;
  // box-shadow: 0 16px 26px -10px rgba(63,106,216,0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(63,106,216,0.2);
  margin-bottom: 0rem;
  margin-right: 10px;
}


.out-topnav {
  margin-top: -15px;
  padding: 0 2px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  // -webkit-box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
  //  box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);

}

.out-topnav-dept {
  margin-top: 0;
  padding: 0 2px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow: auto;
}

.toptabdept {
  padding: 0px 1px 2px 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .default {
    font-weight: 100;
    border-radius: 50px;
    border-bottom: 0;
    padding: 2px 8px;
  }

  .active {
    padding: 2px 8px;
    font-weight: 100;
    border-radius: 50px;
    border-bottom: 0;
    background-color: #176dd0;
    color: #fff;
  }
}

.toptab {
      padding: 10px 0px;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 5px;
      align-items: center;
      position: absolute;
      right: 235px;
      top: 3px;
      width: 100%;
}

.out-topnav-dept::-webkit-scrollbar {
  width: 2px !important;
  height: 4px !important;
  background-color: #c1c1c1 !important;
}

.hiddenby {
  opacity: 1;
  transition: .5s;

  .nav-link {
      font-size: .75rem;
      text-align: center;
      padding: 4px 20px;
      background-color: #c4c4c4;
      color: #fff;
      cursor: pointer;
      border-bottom: 1px solid white;
      margin-bottom: 0rem;
      word-break: keep-all;
      white-space: nowrap;
      margin-right: 0;

    &.active {
      background-color: $active-btn;
      color: #fff;
      // background-color: $active-color;
    }

  }

}

.toptab:hover .hiddenby {
  opacity: 1;
  transition: 1s;
}


.my-leaves {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}


//   pie grid


//styling
$borderWidth: 7px;
$animationTime: 1.5s;
$border-color-default: #eee;
// $border-color-fill: #ffb43e;
$size: 75px;

//Create how many steps
$howManySteps: 10; //this needs to be even.
//for fun try using 20 and changine in the HTML the data-percentage to 15 or 85


$CirlceColors: ("cirlce-1":#ffb43e, "cirlce-2":green, "cirlce-3":blue);

@each $name,
$color in $CirlceColors {
  $border-color-fill: $color;

  .progress-#{$name} {
    .progress-bar {
      border-color: $border-color-fill;
    }
  }
}


.leave-record-card {
  margin-right: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
  width: 33.33%;

  .card-body {
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 1px;
    padding: 10px 10px;
  }


  .progress-title {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
  }

  .progress {
    width: $size;
    height: $size;
    line-height: $size;
    background: none;
    margin: 0 15px;
    box-shadow: none;
    position: relative;


    &:after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: $borderWidth solid $border-color-default;
      position: absolute;
      top: 0;
      left: 0;
    }

    >span {
      width: 50%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      z-index: 1;
    }

    .progress-left {
      left: 0;
    }

    .progress-bar {
      width: 100%;
      height: 100%;
      background: none;
      border-width: $borderWidth;
      border-style: solid;
      position: absolute;
      top: 0;
      // border-color: $border-color-fill;
    }

    .progress-left .progress-bar {
      left: 100%;
      border-top-right-radius: ($size/2);
      ;
      border-bottom-right-radius: ($size/2);
      ;
      border-left: 0;
      -webkit-transform-origin: center left;
      transform-origin: center left;
      //animation: loading-2 1.5s linear forwards 1.8s;
    }

    .progress-right {
      right: 0;

      .progress-bar {
        left: -101%;
        border-top-left-radius: ($size/2);
        ;
        border-bottom-left-radius: ($size/2);
        ;
        border-right: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right;
        height: 100.5%;
        width: 100%;
        //animation: loading-1 1.8s linear forwards;
      }
    }

    .progress-value {
  display: flex;
border-radius: 50%;
font-size: 16px;
text-align: center;
line-height: 18px;
align-items: center;
justify-content: center;
height: 100%;
font-weight: 600;
position: absolute;
z-index: 20;
width:$size - 13px;
background: #ffffff;
height:$size - 13px;
left: 6px;


      div {
        margin-top: 0;
      }

      span {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }

  /* This for loop creates the 	necessary css animation names
Due to the split circle of progress-left and progress right, we must use the animations on each side.
*/
  @for $i from 1 through $howManySteps {
    $stepName: ($i*(100 / $howManySteps));

    //animation only the left side if below 50%
    @if $i <=($howManySteps/2) {
      .progress[data-percentage="#{$stepName}"] {
        .progress-right .progress-bar {
          animation: loading-#{$i} $animationTime linear forwards;
        }

        .progress-left .progress-bar {
          animation: 0;
        }
      }
    }

    //animation only the right side if above 50%
    @if $i>($howManySteps/2) {
      .progress[data-percentage="#{$stepName}"] {
        .progress-right .progress-bar {
          animation: loading-#{($howManySteps/2)} $animationTime linear forwards; //set the animation to longest animation
        }

        .progress-left .progress-bar {
          animation: loading-#{$i - ($howManySteps/2)} $animationTime linear forwards $animationTime;
        }
      }
    }
  }

  //animation
  @for $i from 1 through ($howManySteps/2) {
    $degrees: (180/($howManySteps/2));
    $degrees: ($degrees*$i);

    @keyframes loading-#{$i} {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate($degrees);
        transform: rotate(#{$degrees}deg);
      }
    }
  }

  //additional styling
  .progress {
    display: flex;
    align-items: center;
    justify-content: center;
  }



}






.info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  width: 100%;

  .info-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  p.title {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 0;
  }

  p.value {
    font-size: 12px;
    margin-bottom: 0;
  }
}


.date-filter{
    position: absolute;
    top: 13px;
    left: 346px;
    display: flex;
}

.new-commentt  {
  span{
    min-width: 13px;
    min-height: 13px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: 8px;
    padding: 1px;
    font-size: 8px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 11px;
    background: transparent;
  }
 
}


//  cirlce  progress style


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.container .card {
  position: relative;
  width: 250px;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.container .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
  pointer-events: none;
  z-index: 1;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card:hover .percent .number h2 {
  color: #fff;
  font-size: 60px;
}

.percent .number h2 span {
  font-size: 24px;
  color: #777;
}

.card:hover .percent .number h2 span {
  color: #fff;
  transition: 0.5s;
}

.text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #00ff43;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 85) / 100);
  stroke: #00a1ff;
}

.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  stroke: #ff04f7;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    flex-direction: column;
  }

  .container .card {
    margin: 20px auto;
  }
}
