.hiddenby {
  .nav-link {
    color: #000;
    font-size: 0.85rem;
    text-align: center;
    padding: 10px 40px;
    background-color: #c4c4c4;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid white;
    margin-bottom: 0rem;
    word-break: keep-all;
    white-space: nowrap;
    margin-right: 10px;

    &:hover {
      background-color: #EA7736;
      color: #fff;
      cursor: pointer;
    }

    &.active {
      background-color: #EA7736;
      color: #fff;
    }

  }
}




.out-topnav {
  margin-top: -15px;
  padding: 0 2px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  // -webkit-box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
  //  box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);

}

.out-topnav-dept {
  margin-top: 0;
  padding: 0 2px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow: auto;
}

.toptabdept {
  padding: 0px 1px 2px 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  .default {
    font-weight: 100;
    border-radius: 50px;
    border-bottom: 0;
    padding: 2px 8px;
  }

  .active {
    padding: 2px 8px;
    font-weight: 100;
    border-radius: 50px;
    border-bottom: 0;
    background: #EA7736;
    color: #fff;
  }
}

.toptab {
  padding: 6px 1px;
  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //  background: white;
  //  -webkit-box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
  //  box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
  //  width: calc(100vw - 600px);
  width: 100%;
  //overflow-y: auto;
}

.out-topnav-dept::-webkit-scrollbar {
  width: 2px !important;
  height: 4px !important;
  background-color: #c1c1c1 !important;
}

.hiddenby {
  opacity: 1;
  transition: .5s;
}

.toptab:hover .hiddenby {
  opacity: 1;
  transition: 1s;
}


::ng-deep {
  .cc-users {
    .tagsinput {
      min-height: 150px !important;
    }
  }
}
