@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../style.scss';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
}

table {
  margin-bottom: 0rem;
  @include fixed-table;
  thead {

    th{
      border:6px solid $dark-1!important;
      padding: .2rem!important;
      background: $light-1!important
    }
    th:last-child {
      width: 160px;
    }
  }

  tbody {
    max-height: calc(100vh - 178px);
    tr {

      td:first-child {
        width: 60px;
      }
      td:last-child {
        width: 160px;
      }
    }

  }
}
