<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-8">
                <h5 class="heading-design">Ticket-Admin</h5>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="tabs_style_main">
            <ul class="tabs_style text-left">
                <li [ngClass]="activeTab=='current'?'active':''" (click)="activeTab='current'; getAdminTicket(1)">
                    Current Ticket
                </li>
            </ul>
        </div>
        <div *ngIf="activeTab=='current'">
            <div>
                <smart-table [data]="currentTicketTable.data" [settings]="currentTicketTable.settings" id="currentTicketTable" class="sl-smart-table"></smart-table>
            </div>
        </div>

    </nb-card-body>
</nb-card>