:host ::ng-deep {
    .fa,
    .fas {
        font-size: 18px;
        cursor: pointer;
        margin-right: 5px;
    }
    .fa-edit {
        color: green;
    }
    .fa-trash {
        color: red;
    }
}
smart-table{
    display: block;
   height: calc(100vh - 122px);
    overflow: auto;
}