<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-9">
                <h5>Installer</h5>
            </div>
            <div class="col-3 text-right">
                <button (click)="addInstaller()" class="btn btn-primary">
          <i class="fa fa-plus"></i>
        </button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <!-- <div class="row">
          <smart-table *ngIf="installerlist && transacinstallerlisttions.length>0" [data]="table.data" [settings]="table.settings"
            id="transactions">
          </smart-table>
          <div class="row no-record" *ngIf="installerlist.length==0">No Data Available</div>
        </div> -->
    </nb-card-body>
</nb-card>