@import '../../style.scss';

:host ::ng-deep {
    .fa,
    .fas {
        font-size: $font-md-lg;
        cursor: pointer;
        margin-right: 5px;
    }
    .fa-edit {
        color: $color-1200;
    }
    .fa-trash {
        color: $color-800;
    }
}
smart-table{
    height: calc(100vh - 122px);
}