<nb-card>
  <nb-card-header>
    <div class="row m-0">
      <h5 class="heading-design">Employee Monitoring</h5>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
          <smart-table [data]="table.data" [settings]="table.settings">
          </smart-table>
        </div>
        <div class="col-4">
          <div class="map-container">
            <div class="map" id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>